[2018-04-15 13:40] gedw99 opened #1 "Does this use the built-in engine that Android and iOS has ?"
I am wishing to use this. But am curious if it uses the build in engines on each platform.

[2018-04-15 14:51] dlutton commented on #1
Yes it does

[2018-04-16 01:01] #1 closed

[2018-07-24 11:57] DopplerRedshift opened #3 "Multiple Instances in Same Tree are Problematic"
Having multiple instances of a StatefulWidget that instantiates FlutterTts (in the same tree) presents a problem. The state of the last instance overrides the state of any previous instance in the tree. It seems as though this plugin doesn't support multiple instances...

[2018-07-24 17:12] dlutton commented on #3
Currently this plugin does not support multiple instances.  I'll look into adding support for that.

[2018-07-24 18:00] DopplerRedshift commented on #3
Excellent. I appreciate it!

[2018-08-07 18:36] Rockvole opened #4 "Not working on Mac"
I tried opening my project in xcode with flutter_tts 0.0.6 on my mac, but I get an error on startup.

![flutter_tts](https://user-images.githubusercontent.com/4139576/43795335-e392034a-9a35-11e8-9ab5-017e3faecbb9.png)

[2018-08-07 18:44] dlutton commented on #4
I'll look into this issue.

[2018-08-08 22:14] Rockvole commented on #4
I installed Xcode 8.3.3 using this method :
https://www.youtube.com/watch?v=IG36E5fYIpg

Now, when I try the project in Xcode 8.3.3 I get this different error :
![tts](https://user-images.githubusercontent.com/4139576/43867307-a656b8b6-9b1d-11e8-8ece-41e3f0cd3482.png)

[2018-08-08 22:39] dlutton commented on #4
Did you try going to Build Settings to set the "Swift Language Version" to 2 and then do a clean and build project?

[2018-08-08 23:08] Rockvole commented on #4
Apparently that's not supported in Xcode 8.3.3 :(
https://stackoverflow.com/questions/43107179/xcode-8-3-cant-support-swift-2-3

I tried converting to Swift 3 automatically, but it didn't work and there are a ton of errors.
I am completely new to the Mac, so the errors don't mean anything to me.

[2018-08-08 23:10] dlutton commented on #4
I've gotten it to work on a couple of ios apps, so I'll need to revisit what I did.

[2018-08-09 19:11] Rockvole commented on #4
So I installed Xcode 8.2.1 and now the tts code stops having any errors.
Unfortunately, I discovered that flutter no longer Supports XCode below version 9 (and has a hardcoded check to exclude older versions).
https://flutter.io/setup-macos/

flutter doctor doesnt find the older XCode versions.

[2018-08-09 19:46] dlutton commented on #4
Thanks for doing further research.  I'll need to update the swift code so it's supported in version 9.

[2018-08-09 20:29] Rockvole commented on #4
Cool thanks - do you think you will have a chance to look at that soon ?

Incidentally, you might like to know your library works great on Kindle devices. I bought a $30 Kindle Fire HD 6 (2014) and the standard voice is much more human than Android tablets. I guess because Amazon designed it for listening to audio books.

[2018-08-09 20:52] dlutton commented on #4
Definitely, it shouldn't be too much work converting it to the latest version.

[2018-08-11 07:06] dlutton commented on #4
@Rockvole I opened up the example in this repo without an errors in Xcode 9.4.1.  Did you make sure to run flutter build ios --no-codesign before trying to open the project in xcode?  Also, what version of swift do you have installed on your machine?

[2018-08-11 17:15] Rockvole commented on #4
@dlutton - sorry I know so little about the Mac

Your flutter_tts is imported in pubspec.yaml with <code>flutter_tts: ^0.0.6</code>

	david-mac:kbml_viewer david$ hg meld
	david-mac:kbml_viewer david$ flutter build ios --no-codesign
	Running "flutter packages get" in kbml_viewer...             1.8s
	Warning: Building for device with codesigning disabled. You will have to manually codesign before d

[2018-08-11 17:16] Rockvole commented on #4
I tried to find which version of swift my project is using but I cant find it anywhere.
https://stackoverflow.com/questions/30790188/how-do-i-see-which-version-of-swift-im-using

[2018-08-11 18:26] dlutton commented on #4
When you first open up xcode, select the option to open a new project and select the Runner.xcworkspace from the example/ios folder.  You can run swift -version from the command line to get your swift version.

[2018-08-11 18:38] Rockvole commented on #4
david-mac:kbml_viewer david$ swift -version
Apple Swift version 4.1.2 (swiftlang-902.0.54 clang-902.0.39.2)
Target: x86_64-apple-darwin17.7.0

[2018-08-11 18:47] dlutton commented on #4
Great now run flutter build ios --no-codesign from your main project folder and open the Runner.xcworkspace in xocde from your project/ios folder and you shouldn't get that error.

[2018-08-11 21:56] Rockvole commented on #4
I don't have the option to set the language to Swift language version 2. Am I looking at the correct location ?
I still get the language version error when I do <code>flutter build ios --no-codesign</code> (I fixed the Development Team error).
![tts](https://user-images.githubusercontent.com/4139576/43996381-9815bd50-9d76-11e8-8026-d3c739077ffb.png)

[2018-08-11 21:58] Rockvole commented on #4
It sounds like you are able to open the root of your project in Xcode and then navigate to <code>ios/Runner.xcworkspace</code>. I just get a could not open error - I can only open the ios directory from Xcode.

[2018-08-13 01:08] dlutton commented on #4
When you first open up xcode, there should be an option to open a project.  From there you will open Runner.xcworkspace from your project/ios folder.

[2018-08-14 03:55] dlutton commented on #4
okay, I ran into this issue before and I'm not sure exactly how to fix it in it's current state, however since this package was built using swift, when you build your project, you'll have to build it with the swift command, such as `flutter create -i swift first_app`.   With that, I was able to copy over your pubspec.yaml and main.dart file and ran `flutter build ios --no-codesign` successfully.

[2018-08-14 16:34] Rockvole commented on #4
You are right - that worked straight away

@dlutton - thanks for all your help with this I really appreciate it :)

[2018-08-14 16:34] #4 closed

[2018-08-21 21:07] Rockvole opened #5 "plugin no longer works with latest flutter version"
The latest flutter update (today) gives this error when including the plugin :

    Running "flutter packages get" in kbml_viewer...
    The current Dart SDK version is 2.1.0-dev.1.0.flutter-69fce633b7.

    Because flutter_tts 0.0.6 requires SDK version >=1.8.0 <=2.0.0 and no versions of flutter_tts match >0.0.6 <0.1.0, flutter_tts ^0.0.6 is forbidden.
    So, because kbml_viewer depends on flutt

[2018-08-21 21:08] Rockvole commented on #5
[✓] Flutter (Channel master, v0.6.2-pre.14, on Linux, locale en_CA.UTF-8)
		• Flutter version 0.6.2-pre.14 at /work/installs/flutter
		• Framework revision bab0ce97bd (70 minutes ago), 2018-08-21 12:56:01 -0700
		• Engine revision 4b271b2e02
		• Dart version 2.1.0-dev.1.0.flutter-69fce633b7

	[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
		• Android SDK at /home/david/An

[2018-08-21 21:13] dlutton commented on #5
Thanks for reporting this issue.  I'll try to carve out some time tonight to correct this.

[2018-08-21 21:14] Rockvole commented on #5
I changed the environment line to :

    environment:
      sdk: ">=2.0.0-dev.58.0 <3.0.0"

And it works fine.

[2018-08-21 21:17] dlutton commented on #5
okay great I'll apply that change and also a minor fix for a warning I was getting in xcode.

[2018-08-21 21:19] Rockvole commented on #5
Yeah - no big deal. It will confuse new users more.
It affected 6 other plugins of mine which I had to update to the latest versions, I expect this will be confusing people for a ton of different plugins.

[2018-08-22 01:30] dlutton commented on #5
should be up to date now.

[2018-08-29 13:35] alexrait opened #6 "How to add swift support"
I already have a project and there is no dependency on Swift anywhere.
When I try to add flutter_tts there start to appear build errors.

[2018-08-29 23:20] dlutton commented on #6
There's a known issue with integrating plugins that use Swift into a Flutter project created with the Objective-C template. See issue [Flutter#16049](https://github.com/flutter/flutter/issues/16049) for help on integration.

A quick and dirty option if you're struggling to get it to work and you don't have a lot of customization within your ios folder is to create a new flutter project with the -i

[2018-08-31 19:03] dlutton commented on #6
Were you able to fix the errors @alexrait ?

[2018-08-31 19:33] alexrait commented on #6
Hi, not yet.
I will give it a try tomorrow.

On Fri, 31 Aug 2018 at 22:03 Daniel Lutton <notifications@github.com> wrote:

--
*Raitskin Alexander*

[2018-09-10 15:42] #6 closed

[2018-09-17 18:56] RayOkaah opened #7 "Flutter Tts Error Looking for missing header file"
Whenever I try to build my project, the build seems to complete and then throws this error and I'm stuck. I have searched all through the internet still haven't seen anything that works.

 Xcode's output:
` ↳  === BUILD TARGET url_launcher OF PROJECT Pods WITH CONFIGURATION Debug ===
    <module-includes>:1:9: note: in file included from <module-includes>:1:
    #import "Headers/flutter_tts-umbrel

[2018-09-17 19:06] dlutton commented on #7
When you created your project, did you create it with the -i swift command?  If not, there have been some known issues with adding swift packages to projects created with objective-c.

You can follow the below link to see if anything mentioned assist with your issue.
[flutter issue](https://github.com/flutter/flutter/issues/16049)

[2018-09-17 19:31] dlutton commented on #7
When you first create your flutter project, you can create it with a swift flag such as `flutter create -i swift newProject`.  This flag will create the necessary swift and bridging header files inside your ios folder and also updates your podfile.  There are some other differences that I haven't looked at it.

If you try creating a new project with the -i swift flag and include any package built

[2018-09-17 19:36] Rockvole commented on #7
This is a general problem with flutter and not the fault of the tts plugin. I encountered a similar issue :

https://github.com/flutter/flutter/issues/20576

[2018-09-17 19:41] RayOkaah commented on #7
@dlutton Cool. I do Create new projects via android Studio. But perhaps with this information I'll switch to command line.
Might start a new project and manually move all my files if all else doesnt work.
@RockVole Thanks.

[2018-09-17 19:44] #7 closed

[2018-09-17 22:28] RayOkaah commented on #7
Just thought I should update with the outcome.

Ran `flutter create -i swift newProject` as suggested.  Copied my lib files and assets to the new project, and now it works like a happy baby. Thanks  a lot, and even more for the awesome plugin. 👌

[2018-10-03 23:34] ConProgramming opened #8 "Sometimes the completion handler doesn't call and the plugin doesn't talk"
## 🐛 Bug Report

Sometimes the completion handler doesn't call and it doesn't talk. Others is does, but I noticed when I switch to a new a page in my app that also has an instance of the plugin, sometimes when I return to the original page the completionhandler doesn't fire and it doesn't talk. I've narrowed it down to being this, but I'm not sure why.

I'm on the latest version of the plugin.

[2018-10-04 18:03] dlutton commented on #8
Does this only occur when navigating to another page and then back?  Is this occurring on Android or IOS?

[2018-10-06 14:56] ConProgramming commented on #8
Only occurs when navigating to another page and then back with another instance of flutterTts. Its occuring on Android

[2018-10-17 19:25] osamasabir opened #9 "Flutter_TTS issue in iOS"
## 💬 Questions and Help

hi,
its my first flutter app ... i don't know much about iOS and Flutter thats why i am asking here

why i am getting that error ??
i tried that package with Swift/C++ support option..
anyone help me out ??

![46908713-5d998980-cf40-11e8-83f7-4bc7d36e6e7e](https://user-images.githubusercontent.com/17942396/47111205-5211cf80-d26c-11e8-8e13-cfee61e45c51.png)

i am stuck here

[2018-10-18 01:28] dlutton commented on #9
When you first created your project, did you create it with the swift flag such as `flutter create -i swift newProject`?

[2018-10-18 06:14] osamasabir commented on #9
Sir,
i have created that project in android studio..
i tried with both options ..
like first time i have checked the swift option.
and second time i choose the C# option.
in both conditions error remains the same..

**this one is with "C#" option..**

[2018-10-18 21:30] dlutton commented on #8
Currently this plugin doesn't support multiple instances as mentioned in a previous issue.  I have it opened as an enhancement.

[2018-10-19 05:59] osamasabir commented on #9
okay i will try with swift option again and let you know..

[2018-10-22 10:36] osamasabir commented on #9
Thanks .. it is working with swift option...

[2018-10-22 17:50] #9 closed

[2018-10-25 19:03] aman-malhotra-1999 opened #10 "requires SDK version >=1.8.0 <=2.0.0"
[music_player] flutter packages get
Running "flutter packages get" in music_player...
The current Dart SDK version is 2.1.0-dev.5.0.flutter-a2eb050044.

Because music_player depends on tts any which requires SDK version >=1.8.0 <=2.0.0, version solving failed.

pub get failed (1)
exit code 1

[2018-10-25 19:16] dlutton commented on #10
ensure your pubspec.yaml file includes the latest version of flutter_tts which should correct that error.

[code]

[2018-10-26 08:56] copperspeed opened #11 "TTS Engine not Bound"
I am receiving the following error : W/TextToSpeech( 8234): speak failed: not bound to TTS engine.

Do you know how to resolve it?

[2018-10-29 19:20] dlutton commented on #11
I'm not sure the platform you're using, however I was able to recreate the issue on Android with the example.  I moved the getLanuages outside of the initTts since it was trying to get the list of languages prior to Android initializing Text to Speech.

I updated the example to reflect that.  Hopefully this helps, if not then please provide additional information.

[2018-10-31 01:34] copperspeed commented on #11
Thanks for the updates, but I am still receiving the same error in the console with no sound.

`W/TextToSpeech(15825): speak failed: not bound to TTS engine
W/TextToSpeech(15825): stop failed: not bound to TTS engine
W/TextToSpeech(15825): speak failed: not bound to TTS engine
W/TextToSpeech(15825): stop failed: not bound to TTS engine`

I am using your latest project changes with Android Pie emul

[2018-10-31 04:57] dlutton commented on #11
I was able to recreate the error with Android Pie as well.  If you're using my example as a reference, remove `async` from the initTts() method and you shouldn't receive that error.  Ensure your speak and and stop is occurring after FlutterTts is instantiated.  The example I provided in this repo is definitely lacking.  Please let me know if this doesn't solve your issue.

[2018-11-03 19:20] copperspeed commented on #11
Sorry, but it does not solve the issue.

[2018-11-06 02:06] dlutton commented on #11
okay can you provide some more context or provide a snipped of your code since I'm not receiving the error with the example I provided once I removed async from initTts().

[2018-11-06 17:37] robinbakkerus opened #12 "Error when using in Flutter"
## 🐛 Bug Report

I get this error when I try run on a real device:
* What went wrong:
Execution failed for task ':app:processDebugManifest'.

  	Suggestion: use a compatible library with a minSdk of at most 16,
  		or increase this project's minSdk version to at least 21,
  		or use tools:overrideLibrary="com.eyedeadevelopers.fluttertts" to force usage (may lead to runtime failures)

### Expected

[2018-11-06 18:14] dlutton commented on #12
That error simply means your current project is using an android minSDK version of 16 where my plugin is using 21. I'm using 21 because there were a lot of deprecated android methods prior to version 21 which I didn't include in this plugin.  You can either update your minSDK to match 21 or you can always fork this repo and commit a change with a minSDK of 16 which someone has already done.

The v

[2018-11-11 04:00] ryanheise opened #13 "registerWith gives NPE when using Flutter's background execution on Android"
## 🐛 Bug Report

Flutter's new background execution feature (described here: https://medium.com/flutter-io/executing-dart-in-the-background-with-flutter-plugins-and-geofencing-2b3e40a1a124) allows plugins to be registered in a background context (e.g. a Service). The problem is that flutter_tts assumes that the context for plugin registration is an activity with this line of code:

`		channel.setM

[2018-11-17 21:29] robinbakkerus opened #14 "The volume can not be changed."
## 🐛 Bug Report

The does not change.

### Expected behavior

One should here a difference with respect to the sound volume, after setting this statement in the **initTts()** method:
[code]
### Reproduction steps

see the statements above.

### Configuration

Latest version of flutter_tts

[2018-11-18 03:40] dlutton commented on #14
I apologize as I didn't give information on this in the README.

Allowed values are in the range from 0.0 (silent) to 1.0 (loudest).

[IOS](https://developer.apple.com/documentation/avfoundation/avspeechutterance/1619687-volume)

[Android](https://developer.android.com/reference/android/speech/tts/TextToSpeech.Engine#KEY_PARAM_VOLUME)

[2018-11-18 06:09] robinbakkerus commented on #14
Hi Daniel,

tts.setVolume(1.0); does not help either.. but the solution is much
simpler. You have to adjust the *media volume* setting in Android itself!.

On Sun, Nov 18, 2018 at 4:40 AM Daniel Lutton <notifications@github.com>
wrote:

--
met vriendelijke groeten
Robin Bakkerus
robin.bakkerus@gmail.com

[2018-11-18 06:10] robinbakkerus commented on #14
And you may have to adjust the **media volume** in the Android settings !

[2018-11-18 06:17] dlutton commented on #14
I'm sorry but I don't follow.  I tested on the latest IOS and Android emulators and the setVolume is working.  What are you comparing 1.0 to?  If I test the values .2 and then 1.0, I can hear a difference in volume.

[2018-11-18 06:19] robinbakkerus commented on #14
It is working, but I could not hear the difference until I adjusted the
Android setting !

On Sun, Nov 18, 2018 at 7:17 AM Daniel Lutton <notifications@github.com>
wrote:

--
met vriendelijke groeten
Robin Bakkerus
robin.bakkerus@gmail.com

[2018-11-18 06:20] robinbakkerus commented on #14
Btw, great work !

On Sun, Nov 18, 2018 at 7:19 AM Robin Bakkerus <robin.bakkerus@gmail.com>
wrote:

--
met vriendelijke groeten
Robin Bakkerus
robin.bakkerus@gmail.com

[2018-11-18 06:22] dlutton commented on #14
Great and thank you!

[2018-11-18 06:23] #14 closed

[2018-12-02 08:57] ryanheise commented on #13
Hi Daniel,

I've just released the project in which I encountered this bug as an open source flutter plugin. See https://pub.dartlang.org/packages/audio_service . This might provide an easier way for you to reproduce the bug:

1. git clone https://github.com/ryanheise/audio_service
2. add flutter_tts to example/pubspec.yaml
3. open example/lib/main.dart and change the line `await soundpool.play(cl

[2018-12-03 05:49] dlutton commented on #13
Thank you for the example, I'll attempt the change and test it out.

[2018-12-23 07:10] ryanheise commented on #13
I've implemented this in pull request #15

[2018-12-27 03:03] dlutton commented on #13
Tested and it looks good.  I have merged the PR.  Thank you!

[2018-12-27 07:18] honzasvasek opened #16 "Can we have voice selection, at least for android?"
## 🚀 Feature Requests

Android Voice Selection.

tts.setvoice() implementation  (so we can select male or female voices) can be done by setting de voice number in default voice in setup, but it would be nice to be able to do this from the app.

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [X ] :robot: Android

[2018-12-27 19:06] dlutton commented on #16
@honzasvasek I can definitely add tts.setVoice() however you'll have to pass an object back similar to the voice object required to set the voice [setVoice](https://developer.android.com/reference/android/speech/tts/TextToSpeech#setVoice(android.speech.tts.Voice))
[code]
Unfortunately there isn't an option for passing a value for "male" or "female".  [Android TTS Reference](https://developer.andro

[2018-12-27 19:06] #11 closed

[2018-12-27 19:07] #13 closed

[2018-12-30 08:11] honzasvasek commented on #16
@dlutton would be great if you add this, but how about using the same approach as in the Google TTS setup voice selection UI, just giving the voice number (that being the index into the voice list). So we can use flutterTts.setVoice(4); to select Voice #4.

[2018-12-31 16:22] putraxor opened #17 "Invalid int: "OS" FlutterTtsPlugin.java line 67"
## 🐛 Bug Report
[code]

### Device
**Device**
Brand: samsung
Model: Galaxy Note3
Orientation: Portrait
RAM free: 473.27 MB
Disk free: 12.46 GB
**Operating System**
Version: 5.0
Orientation: Portrait
Rooted: No
**Crash**
Date: Dec 31, 2018, 5:04:00 PM
App version: 3.3.21 (3321)

### Configuration

**Version:** `flutter_tts: ^0.1.1`

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2019-01-01 04:34] dlutton commented on #17
Are you testing this on a real device or an emulator?  I'm unable to recreate it using an emulator on a Galaxy device API 5.0.  I did google the error and it appears to be a device specific error (Samsung) along with the API version.  Do you have a full stack trace you're able to provide?  I'll most likely just need to add a IllegalArgumentException check along with the NullPointerException I'm al

[2019-01-01 04:44] putraxor commented on #17
Unfortunately I can't provide full stack trace since this log come Crashlytic. I seems this crash only on specific device as you said.
I upgraded this plugin to 0.1.2 because it's already blocked with try-catch

[2019-01-01 05:56] dlutton commented on #17
Okay great.  I'll include the IllegalArgumentException catch on the next version to ensure it's caught.

[2019-01-04 05:48] putraxor commented on #17
I confirm this issue still occurs

[2019-01-04 10:53] KCKCC opened #19 "example looks weird"
## 💬 Questions and Help

I just run the example with vscode on emulator
it looks weird
screenshot

 https://imgur.com/ROSxmSN

and debug console logs some rendering problems :

https://pastebin.com/F1G6eGYJ

Am I missing something?

please help! thank you~

Platform is Android

[2019-01-04 23:00] dlutton commented on #19
@KCKCC can you share the emulator device and api version you're using?

[2019-01-05 07:15] KCKCC commented on #19
yes,the emulator is LDplayer (android 5.1.1 API22)
I try it on my phone today and it works fine,
so this maybe emulator's problem.

[2019-01-06 08:52] dlutton commented on #16
@honzasvasek so you'd like a getVoices option to return a list of voices and then a setVoice to set the voice based on that index of getVoices?

[2019-01-06 12:37] honzasvasek commented on #16
I think that is the way to go, easiest would be when we could do the
setVoice without even having to do the getVoices. For my application a
numVoices, would be handy, so I can give the user an interface similar to
the one that Google uses in the Google-tts setup.

On Sun, Jan 6, 2019, 14:22 Daniel Lutton <notifications@github.com wrote:

[2019-01-08 01:51] ozexpert opened #20 "Is setting other language working?"
## 🐛 Bug Report

when calling
[code]
or even with `ko`, I get
[code]

### Expected behavior

Korean language should be available

### Reproduction steps

[code]

### Configuration

**Version:** 0.1.2

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2019-01-08 01:54] ozexpert commented on #20
my phone is Samsung "Galaxy Note 8".

[2019-01-08 02:22] dlutton commented on #20
@ozexpert I just tested on a galaxy emulator and "ko-KR" is valid.  Which Android API are you testing with?  When I test on an earlier APIs such as 23, it's not available, however newer APIs such as 28 have it available.

[Android getAvailableLanguages](https://developer.android.com/reference/android/speech/tts/TextToSpeech#getAvailableLanguages())

API 23
`[en-US, de-DE, fr, es-ES, de, en, it-IT,

[2019-01-08 02:35] ozexpert commented on #20
thanks for the quick response @dlutton however; with my android 8.0 on galaxy note 8,
[code]
I get
[code]

[2019-01-08 02:36] ozexpert commented on #20
Do i need to run on release build? i'm on debug build. doing `flutter run`

[2019-01-08 04:08] dlutton commented on #20
I'm using debug build as well.

I downloaded API 26 and it returns this for flutterTts.getLanguages.
`[en-AU, ko-KR, fr-BE, nl-NL, ru-RU, zh-TW, hu-HU, sr, th-TH, pt-BR, de-DE, si-LK, ku, nb-NO, cs-CZ, da-DK, tr-TR, pl-PL, bs, sw, it-IT, pt-PT, vi-VN, ne-NP, hr, en-US, zh-CN, es-ES, sv-SE, cy, ja-JP, sq, bn-BD, sk, yue-HK, en-IN, hi-IN, es-US, fi-FI, la, bn-IN, km-KH, fr-FR, id-ID, uk-UA, ca, ta,

[2019-01-08 17:03] ozexpert commented on #20
with emulator (API 28)
[code]
I get above, which is fine.. but with the same codebase and using my real device (Galaxy Note 8), I get
[code]
which is a problem. any clue?

[2019-01-08 17:34] ozexpert commented on #20
i tried Tts package - https://pub.dartlang.org/documentation/tts/latest/ (not flutter_tts; yours), and seems the getAvailableLanguages outputs
[code]
I think there's something strange about the Samsung Galaxy Note 8. I haven't tested other android devices yet, but something odd is happening.

I'm actually re-writing my app made with Cordova to Flutter and was using https://github.com/vilic/cordova

[2019-01-08 17:45] ozexpert commented on #20
Figured Out.

![image](https://user-images.githubusercontent.com/787164/50848813-11d16300-132a-11e9-8569-a0e864a277ae.png)
Samsung phone's default is not Google Text-To-Speech engine.

I have changed my phone to use Google Text-To-Speech, then now it works.

[2019-01-08 17:50] dlutton commented on #20
Ah so you were using a different Engine.  Good to know!  Maybe I should include the Android [getEngines](https://developer.android.com/reference/android/speech/tts/TextToSpeech#getEngines()) call in this package.

[2019-01-08 17:53] ozexpert commented on #20
@dlutton that would be awesome. the locale string is totally different for Samsung TTS engine, which sucks.

however,
https://developer.android.com/reference/android/speech/tts/TextToSpeech.html#TextToSpeech(android.content.Context,%20android.speech.tts.TextToSpeech.OnInitListener,%20java.lang.String)

Looks like you can give an engine package name, would it be better forcing to use google's engin

[2019-01-08 17:56] ozexpert commented on #20
"com.google.android.tts" seem to be the Google's TTs package name. set as default?

[2019-01-08 17:59] dlutton commented on #20
I noticed that as well @ozexpert.  I'll play around with that and see if I can force it through the constructor as you mentioned.

[2019-01-09 08:58] dlutton commented on #20
@ozexpert I have pushed a new commit with Google's TTS package set as the default.  Please test when you get a moment.

[2019-01-09 08:58] dlutton commented on #19
@KCKCC please test with latest change when you get a moment.

[2019-01-09 08:59] dlutton commented on #17
I have merged your PR.  Thank you @putraxor

[2019-01-09 09:03] dlutton commented on #16
@honzasvasek unfortunately there isn't an easy way to do a setVoice(1) as you previously mentioned.  getvoices() can return over 200 voices with some of them having male and/or female voices.  I did however add a getVoices and setVoice function for you in the latest version which you can play around with.  I'm hoping that's enough for you to add some logic to your application for what you need.  I

[2019-01-09 20:54] KarHack opened #21 "Works perfect on Android but not on IOS."
I followed the Example properly, and it works perfectly on android, but it just doesn't work on IOS. Please help. Thanks a ton.
It doesn't work on the IOS speaker nor the Headphones.

[2019-01-10 02:16] IvanBean commented on #21
Similar issue here, clone the example and testing on real device iPhone 7 running iOS 12.1.2. Many languages shows duplicate item: [https://i.imgur.com/B69Cfgx.png](https://i.imgur.com/B69Cfgx.png), select the duplicated one leads to an error: [https://i.imgur.com/1ejQp7v.png](https://i.imgur.com/1ejQp7v.png).

Other selectable language dosen't play sound when hit the button, tested on plugin vers

[2019-01-10 04:52] dlutton commented on #21
@KarHack @IvanBean can one of you test the latest 0.2.1 package I just published?  Thank you

[2019-01-10 07:06] KarHack commented on #21
I just cleaned and checked 0.2.1 package, on Iphone 6s running iOS 12.1.2. It is still not working.
Thanks for your quick reply and effort, really great project.

[2019-01-10 07:46] IvanBean commented on #21
Hi @dlutton

Thanks for quick reply, the duplicate language is fixed now.

About the voice, after some investigate I found one solution is add `AVFoundation` to `AppDelegare.swift` under ios/runner directory, full code:
[code]
In this way the voice can play successfully, however, I'm a Android developer and new to Flutter so i don't know whether this is a correct approach. Thanks.

[2019-01-10 08:17] dlutton commented on #21
Unfortunately i don't have a 6s phone to test it on @KarHack.  I did test a 6s emulator and it's working.  The voice is also working when I test on my physical device (iphone Xs).  Are there any error logs you can provide from your device?

[2019-01-10 09:11] KarHack commented on #21
I cloned the project, and its working on the Iphone 6s iOS 12.1.2.
Probably I missed something when copying from the example. Thanks a ton.

[2019-01-10 09:50] IvanBean commented on #21
@dlutton I copy `main.dart` from example too, not clone full project, sorry for misleading in my first comment.
@KarHack maybe we meet the same problem that device can't play sounds without `AVAudioSessionCategoryPlayback`, you can try to edit `AppDelegare.swift` in my comment above as a temporary workaround if it works for you.

[2019-01-10 09:55] KarHack commented on #21
@KarHack Will do that, next time. Thank you.
@dlutton Thanks a ton for the Library, I am Closing the Issue.

[2019-01-10 09:55] #21 closed

[2019-01-10 16:45] #20 closed

[2019-01-10 16:45] #17 closed

[2019-01-10 16:45] #16 closed

[2019-01-10 18:34] Peter1848 opened #22 "setLanguage function ignores the country code"
On Android, the setLanguage function ignores the country code:

`flutterTts.setLanguage("en-GB")		// doesn’t work, "en-US" is choosen`

The problematic java line:
[code]

[2019-01-10 21:22] dlutton commented on #22
@Peter1848 good catch.  When you get a moment please test 0.2.2 which should fix that bug.
Thank you!

[2019-01-11 18:45] #22 closed

[2019-01-12 03:07] ozexpert opened #23 "getting error when `flutter run --release`"
## 🐛 Bug Report

error: invalid file path '/Users/****/Github/****/mobile/build/flutter_tts/intermediates/manifests/aapt/release/AndroidManifest.xml'.

error: invalid file path '/Users/****/Github/****/mobile/build/flutter_tts/intermediates/manifests/aapt/release/output.json'.

[code]

### Expected behavior

I believe this worked before but seems not after upgrading to flutter_tts: 0.2.0. Tested A

[2019-01-12 03:39] dlutton commented on #23
@ozexpert Try to run the `flutter clean` command in your project folder and try to build again.

[2019-01-12 03:54] dlutton commented on #23
Also, ensure your minSdkVersion in your AndroidManifist.xml file is 16.

[2019-01-12 06:05] ozexpert commented on #23
flutter clean did the trick. sorry for the noise.

[2019-01-12 06:05] #23 closed

[2019-01-15 00:59] dlutton commented on #21
@IvanBean I have merged the PR.   I'll have to refactor it once I upgrade the code to swift 4.2 since there appears to be [issues](https://stackoverflow.com/questions/51010390/avaudiosession-setcategory-swift-4-2-ios-12-play-sound-on-silent/52396244#52396244).  I'm hoping the ios/swift team can correct it without having to apply a bandaid.

[2019-01-21 01:58] #19 closed

[2019-02-01 04:04] ashihCT opened #25 "'setCategory' is unavailable in Swift / AVAudioSessionCategoryPlayback' has been renamed to 'AVAudioSession.Category.playback'"
## 🐛 Bug Report

/Users/user/Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_tts-0.2.3/ios/Classes/SwiftFlutterTtsPlugin.swift:23:43: error: 'setCategory' is unavailable in Swift
          try AVAudioSession.sharedInstance().setCategory(AVAudioSessionCategoryPlayback)
                                              ^~~~~~~~~~~
    AVFoundation.AVAudioSession:23:15: note: 'setCategory' h

[2019-02-01 04:06] dlutton commented on #25
Thanks for reporting this issue @ashihCT, which swift version are you using?

[2019-02-01 04:07] ashihCT commented on #25
I am using Swift 4.2. Unfortunately due to other plugins that require 4.2, I cannot downgrade to 4.0.

[2019-02-01 04:13] dlutton commented on #25
Thanks @ashihCT, I'm sure it's related to the last update I made to allow the voice to work with the switch set to silent.  I'll need to look into implementing a fix for the latest swift version (there is a known [issue](http://www.openradar.me/42382075)).  version 0.2.2 of this plugin should work for you if you don't need that feature until I can implement a fix.

[2019-02-01 05:10] ashihCT commented on #25
@dlutton  Thanks for setting me on the right path! I rolled back to 0.2.1 and the issue is gone.
Hope to see a fix in the near future! :)

[2019-02-01 06:07] dlutton commented on #25
@ashihCT my apologies I meant 0.2.1.  I'll research a fix soon

[2019-02-07 22:03] JonasJW commented on #14
Hi @dlutton,

I was wondering if there is any other way to make the sound even louder then setting the volume to 1.0. In my app it is common to listen to music which is most likely just as loud or loader then the voice, so it might be hard to understand.

If I had the audiofiles I would use a program like audacity to raise the volume a bit, it would overmoludate a bit but that is tolerable for jus

[2019-02-07 22:34] dlutton commented on #14
@JonasJW Unfortunately I'm unaware of an option to make the volume louder.  I'm assuming you are testing this on Android. Here is the [link](https://developer.android.com/reference/android/speech/tts/TextToSpeech.Engine#KEY_PARAM_VOLUME) that references the volume setting for Android TTS.

If you're able to locate anything that I may have missed in the below Android TTS package, let me know and I'

[2019-02-08 20:03] JonasJW commented on #14
@dlutton Thanks for the fast response!

I couldn't test my app on iOS yet, so I'm not sure If I need to turn up the volume but I think a duckOthers option would be great in general for this package.

I only tested on android where I would like to turn app the tts volume a bit. A duckOthers option would be great. I will see If I find something useful, If I do so, I will let you know.

[2019-02-08 20:21] dlutton commented on #14
@JonasJW sounds good!   I'll include duckOptions for iOS on the next upgrade/release and include anything you may find for Android.

[2019-02-14 10:52] ukrx-xamd commented on #25
This works for me with SWIFT_VERSION=4.0 and use_frameworks! with version 0.2.3. I had the initial :

setCategory' is unavailable in Swift

But that was because I had an Obj-C oriented project. I added bridging support and the issue went away.

[2019-02-14 17:19] dlutton commented on #25
@ukrx-xamd Thanks for the information just in case others encounter a similar issue, however this is still an issue with SWIFT_VERSION=4.2.

[2019-02-16 21:21] JonasJW commented on #25
@dlutton I tried 0.2.1 and it doesn't work either for me.

[2019-02-16 22:21] dlutton commented on #25
@JonasJW what exactly doesn't work on 0.2.1?  Is there an error message you can provide along with the swift version you're using?

Thank you!

[2019-02-16 22:40] JonasJW commented on #25
Sorry, I was refering to your answer to ashihCT where you said version 0.2.1 should work. However this version isn't working for me. I get the exact same error as reported. I'm using Swift 4.2.

I just read version 0.2.1 is working for ashihCT. Thats wierd because it isn't working for me.

[2019-02-16 23:01] dlutton commented on #25
@JonasJW you shouldn't be receiving that error using 0.2.1 since `setCategory` wasn't added until later.  You may need to run flutter clean in your project's root folder.

[2019-02-17 20:43] JonasJW commented on #25
The problem was I was using ^0.2.1 instead of just 0.2.1. However with version 0.2.1 I get this error:
[code]

Any Idea about this one?

[2019-02-18 00:10] dlutton commented on #25
@JonasJW that error sounds like it might be related to : [issue 7](https://github.com/dlutton/flutter_tts/issues/7)

[2019-02-20 02:57] zxj17815 opened #26 "collection == null - (known issue with API 21 & 22)"
## 💬 Questions and Help

Provide question related to this flutter plugin.
I encountered this problem, but the android version 5.0.1 cannot be changed, how should I modify the code to solve this problem

[2019-02-20 22:05] dlutton commented on #26
@zxj17815 can you clarify your ask here?  Are you asking to receive an error back so you can handle the error in your code?

[2019-02-21 02:03] zxj17815 commented on #26
Error message：getAvailableLanguages: collection == null - (known issue with API 21 & 22)

[2019-02-21 04:34] dlutton commented on #26
@zxj17815 Are you asking for a fall back on the getAvailableLanguages method such as `if Build.VERSION.SDK_INT >= 21` check?

[2019-02-21 08:53] zxj17815 commented on #26
yea,I set the judgment,that's fine now, thank you

[2019-02-21 17:18] dlutton commented on #26
@zxj17815 great, I'll get that added in the next couple of days.

[2019-02-26 20:40] dlutton commented on #26
@zxj17815 I'm not sure which method you were receiving this error on, but hopefully it's working for you now.

[2019-02-27 01:13] zxj17815 commented on #26
great，it's working

[2019-02-27 01:14] #26 closed

[2019-03-07 20:48] cokn-s opened #27 "IOS integration not using create i-swift for flutter tts"
I am having an issue with the IOS integration for this plugin.

Background:
I know there is an known issue using the Objective-C template but I am trying to add this plugin to my app that has a lot of custom iOS already in it (specifically a ShareExtension) and it would be a pain to recreate the app using the Swift template.

Somewhat solution:
I followed the advice seen here: [https://github.com/

[2019-03-11 15:43] dlutton commented on #27
@cokn-s Unfortunately I have not come across that error, so I don't have a solution for you.  Have you tried running `flutter clean` and/or removing the DerivedData folder?

[2019-03-11 18:04] cokn-s commented on #27
@dlutton I have ran flutter clean quite a lot.  As for the DerivedData folder I am not sure where that is located, can you point me in the right direction?

[2019-03-11 18:12] cokn-s commented on #27
@dlutton never mind, a quick google search told me what I needed to know.  I will try deleting that folder and see what happens

[2019-03-11 19:00] cokn-s commented on #27
@dlutton Just wanted to give a quick update that the error has persisted after I removed the DerivedData folder and did the flutter clean.  If you have any more ideas please feel free to share!

[2019-03-11 21:01] dlutton commented on #27
@cokn-s Other than what I mentioned, unfortunately I wouldn't know how to solve this other than recreating with the swift flag.

[2019-03-13 09:57] WyyNever opened #28 "Some mobile phones do not support Chinese"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :robot: Android  （API 22）

[2019-03-13 15:37] dlutton commented on #28
@WyyNever can you please provide some of the devices Chinese isn't supported for and also provide the TTS engine that's being used on those devices?

[2019-03-14 01:34] WyyNever commented on #28
The TTS engine of these phones does not support Chinese. I plan to access some other SDKS to play Chinese voice.Thank you for your help

[2019-03-15 04:07] dlutton commented on #28
okay because I'm using the google TTS engine by default which may or may not support Chinese.
`com.google.android.tts`.

[2019-03-18 06:57] maheshkumar2150 opened #29 "speak failed: not bound to TTS engine"
FlutterTts flutterTts = FlutterTts();
//List<dynamic> languages = await flutterTts.getLanguages;
//print(languages);
    await flutterTts.setLanguage("en-US");
    await flutterTts.setSpeechRate(1.0);
    await flutterTts.setVolume(1.0);
    await flutterTts.setPitch(1.0);
    //await _stop();
    _speak("Hello World");

Future _speak(String text) async {
    var result = await flutterTts.speak(te

[2019-03-18 16:35] dlutton commented on #29
@maheshkumar2150 I'm assuming this is occurring on Android.  Try running your async awaits for flutterTts in the ttsInitHandler like below.  I also have it written within the example.

[code]

[2019-03-18 17:30] maheshkumar2150 commented on #29
`class MyFlutterTts {
MyFlutterTts () {
init()
}

init() {
print('initiating flutter tts');
    _flutterTts = FlutterTts();

    if (Platform.isAndroid) {
      print('isAndroid');
      _flutterTts.ttsInitHandler(() async {
        print('initHandler');
        await _flutterTts.setLanguage("en-US");
        await _flutterTts.setSpeechRate(1.0);
        await _flutterTts.setVolume(1.0);
        a

[2019-03-18 19:02] dlutton commented on #29
@maheshkumar2150  Yes you can set those variables any way you'd like.  I'm using enums in my example, but setting _isPlaying = true will also work.  Is there a reason you're setting your init to async?  the initHandler should be called and executed when the platform channel responds back that the engine has been bound.  Also by default it's using com.google.android.tts as the TTS engine.  On your

[2019-03-26 06:56] dlutton commented on #29
@maheshkumar2150 is this still an issue?

[2019-03-26 06:56] #28 closed

[2019-03-28 05:39] #29 closed

[2019-03-28 05:39] #27 closed

[2019-04-05 18:37] pptavozl opened #30 "play speed too fast"
## 🐛
text is played too fast,
Configuration:
[code]

**Version:** 0.2.1

**Platform:**
- [ x ] :iphone: iOS

[2019-04-05 18:44] dlutton commented on #30
@pptavozl how is the text speed when you set the speechRate to .5 ?

[2019-04-16 19:23] bradx954 opened #31 "IOS build fails due to undefined swift version."
## 🐛 Bug Report

    - `flutter_tts` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

flutter: 1.2.1
flutter_tts: 0.2.4

[2019-04-17 13:59] bradx954 commented on #31
Got it working. Combination of what this guy did:
https://github.com/flutter/flutter/issues/16049#issuecomment-382664356

And adding these lines to my pod file:
use_frameworks!
config.build_settings['SWIFT_VERSION'] = '4.0'
Here is where you put them.
`target 'Runner' do
  # Prepare symlinks folder. We use symlinks to avoid having Podfile.lock
	# referring to absolute paths on developers' machines

[2019-04-17 21:34] #31 closed

[2019-04-19 19:10] #30 closed

[2019-04-22 15:50] piyush97 opened #32 "Cannot run for iOS with Flutter (Objective C)"
## 🐛 Bug Report

**Version:** 0.1.x

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2019-04-22 15:58] dlutton commented on #32
Hey @piyush97, this plugin was created with swift.  When you created your flutter project, did you use the `-i swift` option?

[2019-04-23 03:50] piyush97 commented on #32
Got it.
Thanks!

[2019-04-23 03:50] #32 closed

[2019-04-28 03:23] technicolor2012 opened #33 "Chinese polyphone problem"
Is there a solution to polyphone problem in chinese tts?  Thanks

[2019-04-28 18:09] dlutton commented on #33
Unfortunately I'm not aware of that problem @technicolor2012

[2019-05-05 09:46] mikes222 opened #34 "Silence before speak needed"
## 🚀 Feature Requests

I need to play a silence before starting to speak.

### Contextualize the feature
When using Bluetooth headsets with batteries the Headsets normally switches off the audio when there is no signal from the device for a while in order to save battery. When flutter_tts starts to speak some headsets needs 500-1500ms to restart and play the audio file. Without a trailing signal t

[2019-05-21 07:19] panthe opened #35 "Caught a RuntimeException from the binder stub implementation."
I've follow the example and I've inserted flutter_tts in a view of my app.
When I'm playng I see this error from the last update of flutter engine:

`W/Binder  (26640): Caught a RuntimeException from the binder stub implementation.
W/Binder  (26640): java.lang.RuntimeException: Methods marked with @UiThread must be executed on the main thread. Current thread: Binder:26640_3
W/Binder  (26640): 	at

[2019-05-21 07:47] dlutton commented on #35
Can you provide the flutter version you're using and the device/emulator and API version you're testing on?

[2019-05-21 07:49] panthe commented on #35
Sure,
[✓] Flutter (Channel master, v1.5.9-pre.202, on Mac OS X 10.13.6 17G6030, locale it-IT)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)

[2019-05-21 08:42] panthe commented on #35
Sorry, I'm switched to the stable channel and this error disappears.

[2019-05-21 08:42] #35 closed

[2019-05-22 17:52] vishweshsoni commented on #29
Asked to disconnect from ComponentInfo{com.google.android.tts/com.google.android.tts.service.GoogleTTSService} same issue

[2019-05-22 17:54] vishweshsoni opened #36 "speak failed: not bound to TTS engine"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android

speak failed: not bound to TTS engine

Asked to disconnect from ComponentInfo{com.google.android.tts/com.google.android.tts.service.GoogleTTSService}

[2019-05-23 17:21] dlutton commented on #36
@vishweshsoni can you share the android API version you're testing this on and the flutter_tts version?

[2019-05-24 03:35] IvanBean opened #37 "Voice selection for iOS."
## 🚀 Feature Requests

Hi, is it possible to do voice selection on iOS? I've seen #16 which implement for Android, not sure whether native iOS allow similar behavior. Thanks!

[2019-05-24 03:46] dlutton commented on #37
@IvanBean not that I'm aware of, however if you locate something in their docs, I'd be happy to implement it when I get some time.

[2019-05-24 04:04] IvanBean commented on #37
In my imagination from [StackOverFlow's answer](https://stackoverflow.com/questions/35492386/how-to-get-a-list-of-all-voices-on-ios-9), we can use [AVSpeechSynthesisVoice.speechVoices()](https://developer.apple.com/documentation/avfoundation/avspeechsynthesisvoice/1619697-speechvoices) to get available voices, and set voice by [AVSpeechSynthesisVoice.init(identifier:)](https://developer.apple.com/

[2019-05-24 04:21] dlutton commented on #37
I'm currently using AVSpeechSynthesisVoice.speechVoices() to return the languages since it returns a unique default voice per language region.

[2019-05-24 06:24] vishweshsoni commented on #36
Android 9(API level 28)

[2019-05-24 06:36] dlutton commented on #36
@vishweshsoni I just tested on API level 28 using the example I provided in this package.  I'm not able to replicate that error.

I receive:
`I/TextToSpeech( 5224): Sucessfully bound to com.google.android.tts
I/TextToSpeech( 5224): Connected to ComponentInfo{com.google.android.tts/com.google.android.tts.service.GoogleTTSService}
I/TextToSpeech( 5224): Set up connection to ComponentInfo{com.google.

[2019-05-24 07:29] vishweshsoni commented on #36
on GestureDetactor I am calling the function function is like this /

  _speak() async {
    setState(() {
      flutterTts.speak(alp[index].SpekingAlphabets);
      flutterTts.setLanguage("en-US");
      flutterTts.setSpeechRate(0.7);
    });
}

[2019-05-24 16:57] dlutton commented on #36
@vishweshsoni I tested my example with a gesture (see below) and I'm unable to reproduce the issue you're having.  Are you able to provide more context to the issue you're having?

[code]

I have also added a handler option to ensure your TTS is bound in a previous version.  Look at the example in this project and you'll see the below within the initstate.

[code]

[2019-05-25 07:27] vishweshsoni commented on #36
thanks for the help but I am Still having the same issue.
Does it provide like below,
flutterTts.setLanguage("en-US")
i want en-IN insted of (en-US)
[code]

[2019-05-27 05:57] IvanBean commented on #37
Thank you very much for the explanation! I'll try to implement these days.

[2019-05-27 05:57] #37 closed

[2019-05-30 06:25] dlutton commented on #36
It's tough to troubleshoot the code without having the full app to test with.  Have you tried moving the instantiation of FlutterTts within the initState?   The initState is the first method called when the widget is created, so you can leave FlutterTts flutterTts; outside of the initState method and try moving flutterTts = new FlutterTts(); inside the initState() method.

[2019-05-30 07:19] vishweshsoni commented on #36
okay solved I was trying to put HD images in the background then I compressed the size for now on issue solved but want to know Indian voice available? like en-IN.
Thanks in advance

[2019-05-30 17:22] dlutton commented on #36
If it's supported by the google TTS engine on the android device then yes.

[2019-06-06 12:34] ormrodjames opened #41 "Support for onRangeStart in UtteranceProgressListener"
Great plugin! Any chance you can add support for onRangeStart (Android) and willSpeakRangeOfSpeechString (IOS)??

I'm porting my Swift/IOS app to Flutter/Android, it uses this callback to highlight each utterance as it is spoken, giving useful feedback to the user that the app is actually speaking (if the volume is off, for example).

I'd do a pull request but I'm running flat out to hit a hard de

[2019-06-07 03:01] dlutton commented on #41
I had someone else request this feature, so I'll look into adding it after I go through the pull requests I currently have.  Thanks for the suggestion.

[2019-06-07 03:01] #36 closed

[2019-06-07 03:02] #33 closed

[2019-06-07 07:04] ormrodjames commented on #41
Cheers!

[2019-06-11 15:58] sergiuiacob1 opened #42 "Speak only works the first time, probably due to Dart 2.3 upgrade"
## 🐛 Bug Report

I updated flutter to version 1.6.3 and Dart to version 2.3. Before these two, I had no problems with the `flutter_tts` package. However, after upgrading, it behaves weirdly. It speaks the first thing I throw at it, but I am receiving the error below, and after that it won't speak anything anymore.
[code]

### Reproduction steps
Here's the code I'm calling:
[code]

Here is the `TTS

[2019-06-14 06:52] dlutton commented on #42
I tested the example in this repo using Dart version 2.3.0 (build 2.3.0-dev.0.5 a1668566e5) on their stable channel v1.5.4-hotfix.2 and I'm unable to recreate the issue.  However there is a PR to fix the error in your stack trace, so I'm hoping that will fix it once I push the change.

[2019-06-14 06:56] sergiuiacob1 commented on #42
So probably a fix would be to switch to the stable channel, as I'm on the beta channel (v 1.6.3). Can you link that pull request here, please?

[2019-06-14 08:11] dlutton commented on #42
I have merged the PR so you can test now.

[2019-06-14 09:51] sergiuiacob1 commented on #42
Alright! It works just fine now, so I'll consider this solved :)
I'm receiving a feedback message when I call the `speak()` function, in case it matters:
`D/OnePlusJankManager(13716):  Chor uploadMDM JANK_TYPE_ONCE mViewTitle = com.sergiuiacob.words.debug/com.sergiuiacob.words.MainActivity--- jank level = 1`
But that is by no means an error, just an informative message.
Thank you for your hasty fi

[2019-06-15 06:58] #42 closed

[2019-06-18 11:34] andreddie81 opened #43 "Adapt to higher Dart SDK"
Running "flutter packages get" in project_activity...
The current Dart SDK version is 2.3.0-dev.0.5.flutter-a1668566e5.

Because project_activity depends on flutter_tts >=0.0.2 <0.0.7 which requires SDK version >=1.8.0 <=2.0.0, version solving failed.

pub get failed (1)
Process finished with exit code 1

[2019-06-18 11:36] #43 closed

[2019-06-28 03:39] anaisbetts commented on #35
/cc #40

[2019-07-01 02:24] ngocdaothanh commented on #25
Flutter now uses Swift 4.0 by default, so I think you can now update the code.

After updating Swift in my project to 4.2 (so that I can use https://github.com/rxlabz/speech_recognition):

[code]

I had to manually modify `SwiftFlutterTtsPlugin.swift` on my local machine.

[2019-07-06 13:46] SSG111 opened #44 "Continuously facing this issue. The method 'speak' was called on null. Receiver: null"
Is there any way to make it work? I have tried nearly all the code available for flutter_tts. It is still not working for me. It will be a huge favor if you can guide me a little.

[code]

[2019-07-06 17:00] dlutton commented on #44
Is this the full code of what you're trying to test or a snippet of it?  Also, are you testing in an emulator and if so, which one?

[2019-07-06 17:10] SSG111 commented on #44
Thank you so much for your quick response. I have tested it on my phone Redmi 4. And also on anemulator Pixel 2 API 28. here is the full code -

import 'package:flutter/material.dart';

import 'dart:async';
import 'dart:io';
import 'package:easelang/Modals/Alphabets.dart';
import 'package:flutter_tts/flutter_tts.dart';

class AlphabetRow extends StatefulWidget {
  final Alphabet alphabet;
  final

[2019-07-08 03:45] SSG111 commented on #44
I can understand, It is difficult to troubleshoot the code without having the full app to test with. I am posting the code for this file too.
import 'package:easelang/Modals/Alphabets.dart';

This may be more helpful for you. Thank you for your help and patience.

[code]

[2019-07-08 18:23] dlutton commented on #44
Is there a reason your _speak function is returning a `Future<dynamic>` rather than just a `Future`?

Also try returning the _speak method as a call back.
`onPressed: () => _speak()`

[2019-07-08 19:57] SSG111 commented on #44
Thank you for your suggestions. I have replaced both the codes but still getting the error when I press the button.

[code]

[2019-07-08 20:42] dlutton commented on #44
Also try moving FlutterTts flutterTts outside of initSpeak().
Something like this:

[code]

If that doesn't work, I'll try to play around with the code a bit when I get home.

[2019-07-09 05:01] SSG111 commented on #44
Words are speaking. Thank you so much for your kind guidance. You have made a great plugin.

I have tested on the phone and on the emulator with several languages before writing to you. And I am facing another issue now. On the emulator, only English words are speaking. And on the phone, English, and Hindi words are speaking. Those Languages which are written in Latin script(similar to English) i.

[2019-07-09 05:07] dlutton commented on #44
Yes exactly, you'll need to set the language to the desired language and ensure the text is written in that language.   You'll also want to get the available languages available to you on the TTS engine to make sure you're using a support language.

[2019-07-09 09:15] SSG111 commented on #44
I have replaced this code -
[code]
with this code -
[code]
The output is still the same- On the emulator, only English words are speaking. And on the phone, English, and Hindi words are speaking. Those Languages which are written in Latin script(similar to English) i.e. French is also working fine.

I am looking for language code from here [Supported voices and languages](https://cloud.google.com/

[2019-07-09 10:22] Iampopal opened #45 "Male Offline Voice"
## 💬 Questions and Help

I wanna get male offline voice in android 21 too. can i get it.

[2019-07-09 16:47] dlutton commented on #44
The _getLanguages should simply return languages, so the first code snippet you replaced is correct.
[code]
You should run that and print out the languages to the console while debugging to view the available languages.

Whatever is returned to you from the _getLanguages call should be an allowable language you can use within the setLanguage method.

You don't need to set the volume, pitch, or spe

[2019-07-09 16:50] dlutton commented on #45
The API version 21 is limited compared to the newer API versions, so you may or may not get voices depending on what the google TTS engine (`com.google.android.tts`) supported on that version.

[2019-07-09 18:59] SSG111 commented on #44
Thank you for your help and patience. I am trying this code -
[code]
It doesn't make any difference, not even printed any languages in the console.

I have also tried this code, still not printed any language -
[code]
When I printed languages in below code, it shows null -

[code]

[2019-07-09 22:32] dlutton commented on #44
you're retrieving the languages within your initState method so ensure to view the logging on a fresh state.  You can always try a fresh build with `flutter clean` and then `flutter run`.

You should be able to view the log in the console through your method.

[code]

[2019-07-10 05:02] SSG111 commented on #44
Thanks a ton. The most pleasing moment when the Russian words started speaking. All the issues have been solved. You have been very helpful throughout the difficulty. I am very grateful for your kind gesture.

I added codes like this-

[code]

And then -

[code]

[2019-07-10 16:36] #44 closed

[2019-07-10 16:37] #45 closed

[2019-07-12 17:26] MsXam opened #46 "Issues trying to build with flutter_tts and flutter_twitter_login"
## 🐛 Bug Report

When adding flutter_tts and flutter_twitter_login to an objective-c enabled flutter project we get compiler issues.

### Expected behavior
Adding flutter_tts on its own works without issue & there is no need to create a swift enabled project.

Just need to ensure :

- use_frameworks!
- specify swift_version = 4
- add a swift file to the project that will also create the bridging h

[2019-07-12 18:30] dlutton commented on #46
@MsXam are you able to build your app successfully with flutter_twitter_login without flutter_tts?

I noticed you have a conversation going [here](https://github.com/roughike/flutter_twitter_login/issues/12) trying to solve the issue with flutter_twitter_login.

Also, have you tried recreating your app with `flutter create -i swift` so you don't have to jump through the work around you mentioned?

[2019-07-12 18:37] MsXam commented on #46
@dlutton yes flutter_twitter_login can build successfully when it is independent from flutter_tts. Initially I thought the issue was because of a flutter upgrade to 1.7.8 however, downgrading back to 1.5.4 still shows the error. The problem is having both flutter_tts and flutter_twitter_login working together. Flutter_tts works seamless as a flutter swift based project and with a few tweaks within

[2019-07-13 06:09] Techbinator opened #47 "Error while trying to start the example code with a fresh flutter instalation IOS"
Hi,

i have a fresh installation of flutter and i just tried to run the code provided in the example folder. For Android seems to work fine but on ios i get the following error:

[code]

This is my pubspec:
[code]

[2019-07-13 06:22] #47 closed

[2019-07-13 06:27] dlutton commented on #46
I created a new project with flutter create -i swift and included both flutter_tts and flutter_twitter_login and was able to build the project successfully.

[2019-07-13 08:44] MsXam commented on #46
For various reasons I cannot move away from an Obj-c flutter project so need to try and get both plugins working in harmony. However - I tried just as a sanity check to create a new swift project with both plugins and was unable to, so intrigued that you managed this.

Can you :

1) Advise what version of Cocoapods you are using
2) Share your Podfile
3) Share your pubspec.yaml
4) What version of f

[2019-07-13 17:30] dlutton commented on #46
[✓] Xcode - develop for iOS and macOS (Xcode 10.2.1)
    • Xcode at /Applications/Xcode.app/Contents/Developer
    • Xcode 10.2.1, Build version 10E1001
    • CocoaPods version 1.6.1
[✓] Flutter (Channel stable, v1.7.8+hotfix.3, on Mac OS X 10.14.5 18F132, locale en-US)

**pod file:**
[code]

**pubspec.yaml**
[code]

[2019-07-13 18:56] MsXam commented on #46
@dlutton - thank you for this.

**Flutter pub pub cache repair** Allowed me to create a swift based project and add the two plugins working in harmony.  Also  ,  removing SWIFT_VERSION and not specifying a global platform in podfile.

I'm intrigued how your git in url: git://github.com/dlutton/flutter_twitter_login works since you still reference TwitterKit.h in TwitterLoginPlugin.m. The other two

[2019-07-14 11:16] aimensasi commented on #25
this is still an issue even in `flutter_tts: ^0.2.6`

[code]

[2019-07-17 09:02] MsXam commented on #3
I notice that this issue was raised almost 1 year ago - is there any timeline for implementation ?

[2019-07-17 20:03] dlutton commented on #3
No timeline as of yet, however I'm opened to a PR with this implementation.

[2019-07-25 09:16] brouxco opened #49 "[Android] Using deprecated API"
## 🐛 Bug Report

When compiling my app I had this warning:
[code]
I added this in the ```build.gradle``` file to have the details:
[code]
And I got this result:
[code]
Looking at the API reference for [```getDefaultLanguage()```](https://developer.android.com/reference/android/speech/tts/TextToSpeech.html#getDefaultLanguage()) it says that it's deprecated since API level 21.

However in ```build.g

[2019-07-25 18:36] dlutton commented on #46
Closing this since we have confirmed that this swift plugin works inside a swift based project.

[2019-07-25 18:36] #46 closed

[2019-07-25 19:35] basharbachir opened #50 "is Arabic language not Supported ?"
## 🐛 Bug Report

await flutterTts.setLanguage("ar-sa");
// or
await flutterTts.setLanguage("ar-ar");
// or
await flutterTts.setLanguage("ar-eg");

### Expected behavior
Arabic language is not available
### Reproduction steps
print(await flutterTts.isLanguageAvailable('ar-sa')); // false  = ar-eg, ar-a.
### Configuration

**Version:** 0.1.x
0.2.6
**Platform:**
- [ ] :robot: Android

[2019-07-26 16:39] dlutton commented on #50
This all depends on the Google TTS Engine com.google.android.tts.

If the engine supports that language, then it'll work.  You should try the getLanguages() method to view the list of available languages on your device.

[2019-07-26 16:54] #50 closed

[2019-08-02 18:01] dlutton commented on #25
correct @aimensasi I haven't made any changes in this plugin regarding this issue, however per the issue reported in [stackoverflow](https://stackoverflow.com/questions/51010390/avaudiosession-setcategory-swift-4-2-ios-12-play-sound-on-silent), this method should now work in Xcode 10.2 since the method has been added again.  When I get some time I'll try to play around with it to see if it works o

[2019-08-10 03:26] nguyenlinhnttu opened #52 "Can't change language in iOS"
## 🐛 Bug Report

Hi  Friend
I my app i use two language en-us, en-gb
When i call func speak() and use
`await flutterTts.setLanguage(language);`
But it not work in iOS, and work fine in android.

Hope you check it.
Thanks.
### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [v] :iphone: iOS
- [ ] :robot: Android

[2019-08-11 04:33] Dimous opened #53 "Callback registered in ttsInitHandler is never called"
## 🐛 Bug Report

### Expected behavior
[code]
I expect it to output "init" in the console.

_Callbacks registered in other handlers `setStartHandler`/`setCompletionHandler` are called when `speak` is called._

### Configuration
**Version:** 0.2.6

**Android:** 5.1.1
**Flutter:** git master `83a8a575eed882c49b629effedf7c95b6184515d`
**TTS engine:** `com.google.android.tts/com.google.android.tts.ser

[2019-08-19 03:39] charlescwx opened #54 "Whether to support mixed Speech of two languages"
## 🚀 Feature Requests
Whether to support mixed Speech of two languages

For example: English and Chinese are in a paragraph. If I set the English mode, the voice cannot read another language correctly.
Text case: 'test，测试'(测试 is Chinese after translation)

[2019-08-19 03:43] charlescwx commented on #54
![image](https://user-images.githubusercontent.com/43430499/63237857-3c977880-c276-11e9-9604-2b203e7b519b.png)

The above screenshot can only read ‘test’ correctly, and the latter Chinese cannot be read. It cannot be identified.

[2019-08-19 04:24] dlutton commented on #54
@charlescwx I don't believe this is a feature supported by the Android or IOS TTS engines and might be outside the scope of what TTS does.  This sounds more like language detection which automatically switches the TTS language it's using.  If you have located something in either the android or ios speech package that would allow this, I'd be happy to look into it.

[2019-08-19 04:33] charlescwx commented on #54
Okay thank you

[2019-08-19 04:33] #54 closed

[2019-08-19 04:49] dlutton commented on #53
@Dimous I tested it out on API level 28 using the example in this repo and it's working for me.  Which Android API version are you using?

[2019-08-19 06:31] #49 closed

[2019-08-19 07:17] dlutton commented on #34
this has been merged

[2019-08-19 07:17] #34 closed

[2019-08-19 07:27] dlutton commented on #52
@nguyenlinhnttu I have tested on iOS and it's working.  You may want to use getLanguages to view the languages that are available.  Please make sure you're using "en-US" rather than "en-us" and "en-GB" rather than "en-gb" as the region needs to be uppercase.

[2019-08-19 08:47] Dimous commented on #53
Hello!

[code]
**Device:** Samsung Galaxy J3

[2019-08-19 10:19] Dimous commented on #53
I set tts parameters _(pitch, volume, language)_ right after `FlutterTts` instantiation and they are applied, so, actually, I don't need `ttsInitHandler`. It doesn't affect usability, as speech is working. _It is not a problem for me._

[2019-08-19 10:19] #53 closed

[2019-08-20 22:51] #52 closed

[2019-08-21 06:55] shaxxx opened #55 "isLanguageAvailable does not return correct result on Android"
## 🐛 Bug Report

isLanguageAvailable returns false even if language is available.

### Expected behavior

isLanguageAvailable should return true if locale is in list obtained from  getLanguages function

### Reproduction steps

- set locale to 'hr'
- check if available

### Configuration

**Version:** 0.5.1

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2019-08-22 12:09] lyqiai opened #57 "this plugin support chines language?"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2019-08-22 15:48] dlutton commented on #57
This plugin will support whatever the google text to speech engine (com.google.android.tts) on the android device supports.

[2019-08-23 22:12] #57 closed

[2019-08-23 23:09] #55 closed

[2019-08-28 10:55] iPatel007 commented on #25
I got same issue but I resolved it by manually added library to my app.

-> download this project "flutter_tts" and delete "example" folder
-> Move "flutter_tts" to your project repository
-> Update 'pubspec.yaml' of your project like below

[code]

-> Set setting for Android/iOS configuration as per mention in **Readme**

That's it.

[2019-09-08 20:31] VickySalunkhe opened #58 "unable to play hindi langauge"
I tried adding

[2019-09-08 20:31] VickySalunkhe opened #59 "unable to play hindi langauge"
I tried adding

[2019-09-08 20:33] #58 closed

[2019-09-10 16:35] dlutton commented on #59
Is this occurring on iOS, Android, or Both?  Also which device are you testing with?  When you use the method getAvailableLanguages, does that return "hi-IN" as an option?

[2019-09-11 08:29] VickySalunkhe commented on #59
I have tested it on Android only
tested on actual device Redmi note 4
yes hi-IN is returned in the getAvailableLanguages list

[2019-09-12 02:23] zhujinsheng opened #60 "Which is the lowest supported minSdkVersion"
Which is the lowest supported minSdkVersion

[2019-09-13 16:29] dlutton commented on #59
Can you provide the exact error you're receiving?  I tested on a pixel 3 emulator and it's working.  Also make sure you're using the Google text to speech engine (com.google.android.tts) on your device.

[2019-09-13 16:47] VickySalunkhe commented on #59
I am using google text to speech engine as I am able to play any other language

[2019-09-13 17:49] dlutton commented on #59
Can you also provide the Android API version you're using?

[2019-09-13 18:04] VickySalunkhe commented on #59
api level 24

[2019-09-15 04:19] dlutton commented on #59
Sorry but I haven't been able to recreate the error you're receiving.  Are you able to replicate the issue on other devices/emulators?

[2019-09-16 09:40] VickySalunkhe commented on #59
the issue is found in all the devices where my app is installed for testing

[2019-09-16 20:29] dlutton commented on #59
I have not attempted reading hindi text however you initially stated the error occurred when setting the language to "hi-IN".  Is the error occurring when setting the language or when attempting to speak hindi text?

[2019-09-17 07:09] VickySalunkhe commented on #59
error is occurring when attempting to speak hindi text.

[2019-09-22 05:21] dlutton commented on #59
I'm not receiving an error when attempting to speak hindi text.  Is the mobile device itself in hindi or is it in English and attempting to speak hindi?

[2019-09-22 07:29] wjeanvilma commented on #59
I don’t remember sending you an email! But this plugin won’t work for iOS.
My phone is in English!

On Sun, Sep 22, 2019 at 1:21 AM Daniel Lutton <notifications@github.com>
wrote:

[2019-09-22 07:39] dlutton commented on #59
@wjeanvilma Do you mind opening a new issue and provide the error you're receiving along with the swift version.

[2019-09-23 07:45] VickySalunkhe commented on #59
i don't have an mac so only making the app for android

[2019-09-24 09:14] susilon opened #61 "Failed when build aar"
There was no problem with "flutter build apk" command,
but when I try to build into AAR ("flutter build aar", yes it still an experiment), build failed.

OS : Windows
Flutter channels : master, v1.10.6-pre.39
Android SDK : 28.0.3

[code]

[2019-09-24 20:59] dlutton commented on #61
What gradle version are you using?

[2019-09-25 03:52] shaxxx opened #62 "Move to AndroidX"
## 🚀 Feature Requests

Please move Android project to AndroidX

### Describe the feature
Google Play Store started warning users that their app must switch to new Google Play API 3 until December 1st. Please move your project to AndroidX. This should be trivial with Android studio.

More info:
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

### Platforms affected

[2019-09-25 08:15] susilon commented on #61
My Gradle version is 3.5.0, thank you

[2019-09-25 16:53] dlutton commented on #61
Have you tried with version 3.2.1? I haven't tried aar myself, but after going through some of the issues mentioned in github, it could be related to the distributionURL value I'm using in gradle-wrapper.properties or the gradle version.  You could try forking this project and updating the distributionURL to `distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.1-all.zip` which i

[2019-09-26 10:21] susilon commented on #61
Yes it works now,
Thank you.

[2019-09-26 10:21] #61 closed

[2019-09-26 15:52] dlutton commented on #62
Thanks for the information @shaxxx, I'll look into migrating this project to AndroidX.

[2019-09-27 09:19] duge86 opened #63 "Google TTS pricing"
Hello
I understand that this plugin uses google tts, however I couldn't get how is the quota and pricing for google tts work.Could you please give info about this?

[2019-09-27 10:21] joknjokn commented on #52
You did you make it work for iOS? Our app can't build for iOS after adding TTS, Android works. Some Swift-error. (I don't have the error message here, sorry).

[2019-09-27 15:48] dlutton commented on #63
There is no pricing involved.  This plugin is not using "Google TTS".  This plugin is using the native built in TTS engine on both Android and iOS.

[2019-09-27 15:51] dlutton commented on #52
Please open a new issue with the error message you're receiving @joknjokn .

[2019-09-28 21:42] #63 closed

[2019-10-01 04:02] #62 closed

[2019-10-02 06:55] andreddie81 opened #64 "unable to play message in "zn-CN""
Android device Samsung tablet.

Default device language is English.

Added a method for speaking, with a Chinese text taken from plugin website.

Nothing is played, no error is displayed.

[code]

Both debug messages are showed, but the device is not reproducing the message.

Anything missing here?

Does the device language need to be set to chinese in order to play chinese?

[2019-10-02 07:33] dlutton commented on #64
@andreddie81 I just tested the text you provided with the language of zh-CN on an android emulator (Pixel 3 XL) with an API level of 28.  The device is in english and I'm hearing the voice speak the text just fine.  I used the example I provided in this plugin to test it.

[2019-10-02 07:37] dlutton commented on #59
@VickySalunkhe I just tested on an API level 28 emulator with the phone being in English and it's working.  I used the example I provided in this plugin and have it simply speak hindi text after it sets the language to "hi-IN".  Please test with the example and provide your results.

[2019-10-02 08:01] andreddie81 commented on #64
Ok, good to know, do you have any idea or any clue why it is not working on a Samsung tablet? what could be the issue?

[2019-10-02 08:23] dlutton commented on #64
I'm not sure.  Have you tried the example in this project on your tablet?  Also, is the tts engine being used supported on the samsung tablet?

[2019-10-02 08:28] andreddie81 commented on #64
I have actually not used the example provided, I have used the library making it speak in English without any problem, just experienced issues when making it speak in chinese.

[2019-10-02 10:40] andreddie81 commented on #64
Seems like `FlutterPluginTts.isLanguageAvailable("zh-CN")` returns FALSE on that particular tablet.....any clue on how to add a new language to make it available?

[2019-10-02 15:48] dlutton commented on #64
You'd have to check your device's TTS Engine it's using.  This plugin uses `com.google.android.tts`.  Samsung will sometimes use a different one.  You should also call `getLanguages` to check the languages your device supports.

[2019-10-02 16:59] caduandrade opened #65 "unable to play in "en-GB""
Before I have to say: amazing API, congratulations.

I can't play using "en-GB" as language. "en-US" works fine.

[code]

Result:

Mobile: Android - Motorola G6 Plus

flutter_tts versions: 0.5.2 or 0.6.0

build.gradle:

PS.: TTS in my other Android pure app works fine with "en-GB"

[2019-10-02 17:14] caduandrade commented on #65
Looking your source code (FlutterTtsPlugin), I expected to receive the errorCode in the error message.

[code]

the first onError has been deprecated on API 21 but is still being called :-(

[2019-10-02 17:30] dlutton commented on #65
@caduandrade I haven't had any issues with TTS using "en-GB".  What's the API level of your Motorola G6 Plus?  I have tested using the example in this package on API level 28.

[2019-10-02 17:42] caduandrade commented on #65
Motorola G6 Plus is 28 as well.

Sorry... I just back to my pure Android  app and now the "en-GB" language is also having the same problem! It always worked. It's some problem with my phone. Sorry for the fake bug and your time.

[2019-10-02 17:42] #65 closed

[2019-10-02 18:04] caduandrade commented on #65
Just out of curiosity, I get this error on my android app:

[2019-10-02 21:45] dlutton commented on #65
I'm not sure @caduandrade, do you have additional context to this issue such as what the app is trying to do while you encounter this error message?

[2019-10-02 22:35] caduandrade commented on #65
No. Only trying to play the TTS.
In my case, it looks like the voice file is corrupted on my phone.
Tks!

[2019-10-03 05:15] andreddie81 commented on #64
You are totally right, and all is ok now, sorry for the disturbance. For anyone else with the same problem, in this case, it was Samsung's fault...the default **engine selected is Samsung** and has very limited languages...like 10 or 15.

However, there is also a (slightly hidden menu, at least in Samsung) where the option to **select Google's engine** is available and then the list of languages i

[2019-10-09 10:19] VickySalunkhe opened #66 "Not able to play String having character length greater than 4000"
I am working on an app where there can be a string of length upto 15000 characters

everything works fine if the length of string is less than 4000
but if they length exceeds that say 5000 or 10000

then play feature doesn't run only.

tested on multiple android devices.

[2019-10-09 16:04] dlutton commented on #66
This is a limitation on the [Android TTS service](https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/speech/tts/TextToSpeech.java).  The limit is 4000.

[2019-10-09 16:36] VickySalunkhe commented on #66
Can't we do something about it.

A workaround may be?

[2019-10-10 17:02] dlutton commented on #66
There should be some workarounds such as starting a new speak call after 4k characters.  I'll have to look into making it a more seamless experience if the character limit is greater than 4k characters on the android platform channel, but for now a new function call might do the trick.

[2019-10-11 07:32] VickySalunkhe commented on #66
thankyou @dlutton please add this feature in this library it will be really helpful till then will try some around for it.

[2019-10-13 13:06] nanox77 commented on #65
I have same issue when execute `flutterTts.speak(...)` using `^0.6.0` version:

[code]

@caduandrade How did you solve your issue?

Thank you!

[2019-10-13 16:59] caduandrade commented on #65
@nanox77

I didn't yet. I'm with same problem in a pure Android app. I don't know how but the voice file has been deleted or corrupted.

[2019-10-14 14:48] monggos commented on #7
how may i going to fix this error?? i been solving this for a week now but no luck!

my project created to support swift using command line and tried also using Android Studio.. result are the same..

i also tried different swift version 4, 4.2 and 5

<img width="1591" alt="Screen Shot 2019-10-14 at 10 39 55 PM" src="https://user-images.githubusercontent.com/2043996/66759856-95c90480-eed3-11e9-801

[2019-10-14 17:30] nanox77 commented on #65
I tried with [this example ](https://github.com/dlutton/flutter_tts/blob/master/example/lib/main.dart) and when I selected from dropdown menu doesn't work with `es-US` and `es-ES` languages. Here is example:

[code]

And here is `flutter doctor -v`:
[code]

@dlutton Do you have any idea what the problem is?. Thank you!!

[2019-10-14 17:59] nanox77 commented on #65
I 'solved' the problem. I had to disable `Google Text-to-speech Engine` from my phone and enable and then download languages again.
It's weird because it has previously worked.

[2019-10-14 18:12] caduandrade commented on #65
@nanox77 good trick.
Same with me. It was working before.
I just deleted the voice and choose to download again. Now its working as well. Maybe I will show this trick if a failure occurs.

[2019-10-14 19:39] nanox77 commented on #65
@caduandrade It's weird, my only concern is if this happens to the end user. I don't find a way to fix this problem programmatically yet.

[2019-10-14 19:45] caduandrade commented on #65
@nanox77 yeah, it's bad. It's possible use an Intent to install data voice in Android when the language is not available (TextToSpeech.Engine.ACTION_INSTALL_TTS_DATA). But it's not what happened with us. The language was available.

[2019-10-18 08:38] alexandergottlieb opened #68 "Speak without stopping background audio playback"
## 🚀 Feature Requests

It would be great if this package didn't interfere with music playback (or other background audio) on iOS.

### Contextualize the feature

Currently, as `FlutterTts` initialises, it pauses any currently playing music (from eg. Spotify). This happens even if `_textToSpeech.speak()` is never called, so sometimes the background audio is stopped unnecessarily providing an odd UX

[2019-10-18 18:50] xm0128 opened #69 "How to build for IOS"
I am running:
Xcode Version 11.1 (11A1027)
Flutter Version 1.10.15-pre.168

After getting this error:
    _

I added this
ENV['SWIFT_VERSION'] = '5.0'
in my Podfile.

Then I get this Error:

What am I doing wrong?

[2019-10-18 18:53] dlutton commented on #69
You're not doing anything wrong.  This is related to issue #25 .

[2019-10-18 18:55] xm0128 commented on #69
Thanks. Quick response. Nice!

[2019-10-20 08:41] nirav4273 opened #70 "`Gujarati` word not support."
## 🚀 Feature Requests

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [ ] :robot: Android

[2019-10-20 17:59] dlutton commented on #70
You'd have to run the getLanguages method to view a list of languages supported on your device by the android tts engine (com.google.android.tts).

[2019-10-21 13:47] sashko opened #71 "setStartHandler/setCompletionHandler are not called"
## 💬 Questions and Help

I have an app in which I am trying to [register callbacks](https://github.com/sashko/speak_nato/blob/master/lib/screens/main_screen.dart#L42) to start/stop speak with the appropriate methods, but neither of them is called.

Might be related to #53, but I could not get what the issue was in that case.

Any assistance would be highly appreciated. Thank you.

<pre>
  initTts(

[2019-10-23 16:53] VigneshPasupathy commented on #65
This issue seems to be happening quite often across our different testing devices.  The delete voice file and download did work but is there any specific reason why this happens?

[2019-10-24 06:05] FLYINGKRIPTO commented on #66
@dlutton  @VickySalunkhe  is there any specific reason for why have they kept the maxlimit - 4000?

[2019-10-24 15:58] dlutton commented on #66
@FLYINGKRIPTO this is an Android TTS limitation, so that would be a question for them.  I don't see the limit or reason documented anywhere.

[2019-10-31 19:57] ekuleshov commented on #26
@dlutton may I ask why minSdk was bumped for this? Were there some tts issues with 16?

[2019-11-01 04:55] dlutton commented on #26
@ekuleshov Primarily because this method and a few other methods being used weren't introduced until a later API version.  We could write some fall backs or a work around, however I didn't have the time to do so.  I'm always open to PRs. :)

[2019-11-04 20:51] visualo commented on #50
@basharbachir did you found a solution to add the Arabic language for TTS?

[2019-11-10 21:51] JonasJW commented on #68
I agree, that feature is very important and it works on android out of the box. I don't know a lot of iOS development, is that possible?

[2019-11-12 05:33] dlutton commented on #71
@sashko I tested the registered callbacks again with the example in this repo and it's working.  Please test with the example provided and let me know if it's failing and the emulator devices you're testing with.

[2019-11-12 06:24] dlutton commented on #25
this should now be resolved with the latest version.

[2019-11-12 07:03] sashko commented on #71
Example app works. I have basically copy-pasted code, and have no idea what I would be missing....

[2019-11-12 08:07] dlutton commented on #71
I'm assuming it's because you're importing `package:speak_nato/preferences.dart` which is already instantiating FlutterTts.  Maybe try passing your instance from your main_screen.dart into the preferences.dart like getLanguage(tts) and your preferences.dart containing `Future<String> getLanguage(FlutterTts tts) async` so you can remove `var tts = new FlutterTts();`.

[2019-11-15 12:19] ryanheise commented on #25
Hi @dlutton , I'm using is a late 2013 model MacBook Pro which unfortunately does not allow me to install a version of Xcode higher than 10.1, and I noticed that the solution you implemented only works from Xcode 10.2. Is there any chance you could use the workaround mentioned in https://stackoverflow.com/a/52396244 ?

[2019-11-15 16:58] dlutton commented on #25
@ryanheise sure I'll look into implementing that.

[2019-11-21 11:25] alexandergottlieb opened #73 "isLanguageAvailable returns false in release mode"
## 🐛 Bug Report

Hi, I'm testing my app on a physical Android device.

In debug mode, `isLanguageAvailable('de-DE')` returns true but, in **release** mode, it returns false.

Calling `getLanguages` throws the below exception in release mode:

[code]

### Expected behavior

Language availability should not change in release mode.

### Reproduction steps

Run on an Android device in debug mode, then

[2019-12-03 17:57] dlutton commented on #73
I have ran into this issue before and the way I resolved it was to use something like I provide in the example.

`
if (Platform.isAndroid) {
      flutterTts.ttsInitHandler(() {
        _getLanguages();
      });
    }
`

I added this initHandler so that it won't call your getLanguages method until the android tts engine has been initialized.

[2019-12-03 17:58] dlutton commented on #71
Did my suggestion fix your issue @sashko ?

[2019-12-04 09:04] alexandergottlieb commented on #73
Perfect, that's fixed it!

I wonder if we could simplify the API a little? I've now got:

[code]

If that `Platform` check could be included somewhere in the library itself, the end developer would only have to write something like:

[code]

I can put this together in a pull request if you approve?

[2019-12-04 17:01] dlutton commented on #73
sounds good @alexandergottlieb .  I always welcome PRs.

[2019-12-04 19:35] panthe opened #74 "Build.gradle Error Message can make confusion"
Hi think that your build.gradle can make confusion because in case the build fails appears your warning message also if the fails not depends in your plugin. I'm wrong?
I'm referring to this pieace of code in your build.gradle:

def PLUGIN = "flutter_tts";
def ANDROIDX_WARNING = "flutterPluginsAndroidXWarning";
gradle.buildFinished { buildResult ->
    if (buildResult.failure && !rootProject.ext.h

[2019-12-05 01:57] dlutton commented on #74
Correct @panthe

That's why it states `println ' This warning prints for all Android build failures. The real root cause of the error may be unrelated.'`

However this was recommended from the flutter team for androidx upgrades.

[2019-12-06 03:48] sashko commented on #71
Apologizes for the delay - was away without my laptop.

You were right. Many thanks for your assistance!

[2019-12-06 03:48] #71 closed

[2019-12-14 20:57] #74 closed

[2019-12-16 16:56] ertong opened #75 "initHandler is not called on Android in example"
## 🐛 Bug Report

1. Run example.
2. Hot reload example.
3. Voices and languages are not loaded.

It looks like dart part of the library does not reflect the state of the android part.
In this case initHandler is not called, because android part is not hot reloaded and initialization is not done second time.

### Expected behavior

Hot reload should work.

**Version:** 0.7.0

**Platform:**
Android

[2019-12-17 00:58] dlutton commented on #75
That's correct @ertong, it doesn't work during a hot reload because of the flutterTts.ttsInitHandler since the android tts engine has already been initialized.  To correct that you can set a boolean variable and under the Platform.isAndroid, check to see if it has been initialized or not and if it's a true value, you just call the _getLanguages() method without the flutterTts.ttsInitHandler.  I wi

[2019-12-17 13:45] ertong commented on #75
Maybe there is some sense to make API like
flutterTts.onReady((){ ... })
regardless of iOS/Android and check all conditions in the library (and execute in-place if the library is already ready).

In addition it would be nice to add something like isReady flag.

[2019-12-17 16:46] dlutton commented on #75
@ertong this is being addressed through #73 and now that I've added web support to this plugin, I'll need to ensure it works across both iOS/Android/Web.

[2019-12-20 21:31] meowofficial commented on #68
It would be very nice if this feature gets provided.

[2019-12-27 05:37] dlutton commented on #73
@alexandergottlieb I have merged your PR.  Let me know if this resolves your issue so we can close this out.

[2019-12-27 17:42] dlutton commented on #75
@ertong please test again when you have a moment.  You should no longer require the initHandler.

[2019-12-30 07:58] TheAlphamerc commented on #31
Still got below error after following these steps
` [!] Unable to determine Swift version for the following pods:
    - `flutter_tts` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.`

[2019-12-30 13:26] Henry667 opened #77 "Version solving failed."
## 🐛 Bug Report

### Before installing the flutter_tts, it's working fine for me

### Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Linux, locale en_IN)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.1)
[✓] Android Studio (version 3.4)
[✓] VS Code (version 1.37.1)
[✓] Connected device (1 available)

•

[2020-01-04 14:13] alexandergottlieb commented on #73
@dlutton thanks, it's working perfectly now. I'll go ahead and close this.

[2020-01-06 04:19] nguyenlinhnttu commented on #25
flutter_tts 0.8.5 not working on ios.  it same issues.

[2020-01-08 06:49] dlutton commented on #75
closing as the initHandler is no longer used.

[2020-01-08 06:49] #75 closed

[2020-01-08 08:04] dlutton commented on #68
@meowofficial @JonasJW @alexandergottlieb this should now be resolved thanks to the PR from @marcotta.

[2020-01-08 22:11] dlutton commented on #77
@Henry667 I'm not receiving that error while using the stable channel.  Does the latest version fix this error you're receiving?  Also I'm not sure what inshortsclone is.

[2020-01-08 22:12] dlutton commented on #25
@nguyenlinhnttu what version of xcode are you using?

[2020-01-09 01:28] nguyenlinhnttu commented on #25
@dlutton I use Xcode version 10.1 maybe it old and not supported. Because mac mini can't upgrade :D

[2020-01-09 11:59] AbhishekPantUK opened #79 "Recording to a file for web"
## 🚀 Feature Requests

Can we add a feature to record text to speech to a mp3 or wav file?
Is it possible?
Thanks

[2020-01-11 06:55] Lx opened #80 "API doesn't account for non-unique voice names on iOS"
## 🐛 Bug Report

Where iOS devices have multiple voices with the same name (e.g. Daniel en-GB and Daniel fr-FR), it is only possible to select one and not the others.

### Expected behavior

Voice selection should occur by some mechanism other than name (which is demonstrably not guaranteed to be unique).

Ideally, `flutter_tts` would return more information about each voice, perhaps as a `Voice`

[2020-01-19 08:05] paulscliu commented on #41
Any update on this feature?

[2020-01-19 11:22] alexandergottlieb commented on #73
Turns out the initial fix for this (using `CountDownLatch`) was occasionally causing ANRs on launch.

I've rewritten it to delay method calls made while the TTS engine is initialising using `Runnable` instead. The fix is in #81.

[2020-01-19 11:34] alexandergottlieb commented on #68
Just tested and it's working perfectly (iOS 13.3) - thanks!

[2020-01-19 11:34] #68 closed

[2020-01-21 04:10] dlutton commented on #41
@paulscliu Unfortunately I haven't had the time to implement this feature yet.  I was more concerned with adding a web implementation first.  This is still a priority though.

[2020-01-23 20:08] toshiossada opened #82 "select voice"
How could I set another voice to TTS?

[2020-01-27 21:00] NickalasB opened #83 "Can't run app on iOS"
## 💬 Questions and Help

I'm building a very simple app that is working fine on Android. When I try to install it on an iOS simulator through Anroid Studio's run button or `flutter run` from the command line- the build fails.
I've tried running `flutter pub cache repair` and re-running `packages-get` as well as just deleting the ` /Users/####/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_tts-

[2020-01-27 21:20] dlutton commented on #83
@NickalasB this looks related to issue #9 .  Let me know if this helps solve the issue you're having.

[2020-01-28 00:57] NickalasB commented on #83
Yes I guess I just didn't check the right checkbox when creating my project through Android Studio. Mine was new enough to just start over. Not sure if it's worth adding something about that to your ReadMe but if people plan to make a project using this plugin they should make sure to check the `Include Swift support for iOS code` checkbox when starting out.

Thank you. Problem fixed

<img width="

[2020-01-28 00:57] #83 closed

[2020-02-03 06:55] dlutton commented on #82
I'm sorry but can you be a little more specific?  Are you having an issue with setting another voice?

[2020-02-05 12:08] dbjina opened #84 "Speaking multiple languages is not working properly in Android"
The code that it speaks each of the languages in order is working properly in a iOS emulator.

However, it is not working properly in an Android emulator and Galaxy Note 10+.
it speaks only the last one 'ko-KR'.

[code]

# Configuration
Version: ^0.8.6

[2020-02-07 17:23] dlutton commented on #84
@dbjina when you run the getLanguages method, does it return those supported languages you're trying to set the language to?

[2020-02-10 16:46] dlutton commented on #73
The fix has been merged.  Thanks @alexandergottlieb

[2020-02-10 16:46] #73 closed

[2020-02-12 16:34] AlephC commented on #66
I solved it breaking my text into multiple files. But when I try to run TTS only the first class works. Any code tips?

[2020-02-13 14:26] toshiossada commented on #82
by default is a female voice, I'd like to set a male voice

[2020-02-13 14:27] toshiossada commented on #82
I think is await flutterTts.setVoice('pt-br-x-afs#male_3-local'); right?

[2020-02-13 14:29] toshiossada commented on #82
but I think this isnt works on iOS, has any other way?

[2020-02-19 05:18] FLYINGKRIPTO commented on #66
Hey @AlephC  I have solved this issue by changing some code in the library,
You can see my code here
https://github.com/FLYINGKRIPTO/flutter_tts_fork_my

I have changed the speak method tho support QUEUE_ADD
Now if you call the speak method TTS will be queued in sequence.

[2020-02-20 18:19] XinwenCheng opened #85 "setVoice() is Android only"
In v.0.8.7, setVoice() is Android only as commented in source code, but in your readme.md file, it works both on iOS and Android.

[2020-02-21 07:53] dlutton commented on #85
@XinwenCheng it was initially created only for Android, however it has evolved to also support iOS.  The the comment needs to be updated.

[2020-02-21 09:34] XinwenCheng commented on #85
@dlutton Got it, thanks!

[2020-02-21 09:34] #85 closed

[2020-02-21 23:43] AlephC commented on #66
ok thanks

Em qua., 19 de fev. de 2020 às 02:18, Shivanshu Srivastava <
notifications@github.com> escreveu:

--
ALESSANDRO CARVALHO

[2020-02-28 07:04] adityaddy commented on #79
Is there any update on this feature?

[2020-02-28 18:31] dlutton commented on #79
This is a feature that is probably out of scope for this package.  When reviewing the web speech API, android speech API, and iOS, none of them include a recording option.  This might be better off as a separate package.

[2020-03-03 17:00] #79 closed

[2020-03-06 13:43] afzaal-ahmad-zeeshan opened #86 "API support for Speech Stream to a file"
## 🚀 Feature Requests
I am requesting to add the support for an API that lets the developers capture the speech stream generated by Android speech API. I have an application running on Android (you can find it on Google Play [here](https://play.google.com/store/apps/details?id=com.wordpress.afzaalahmadzeeshan.speakitapp)) that allows the users to save the speech stream as a local file.

If `flutte

[2020-03-08 03:39] #77 closed

[2020-03-09 06:52] dlutton commented on #86
@afzaal-ahmad-zeeshan I have added a very basic synthesize to file feature to this package.  Please test it when you have a moment.  It takes in the text and the filename you want it saved as.  Let me know if you have any questions or additional functionality you'd like to see with this feature and I'll build upon the simple implementation.  Also don't forget that you'll need to request storage pe

[2020-03-09 06:52] #86 closed

[2020-03-09 06:54] dlutton commented on #79
@adityaddy and @AbhishekPantUK I have added a very basic synthesizeToFile method for android only at this time.  It takes in the text and filename you want it saved as.  Please test when you have a moment.

[2020-03-09 06:54] #84 closed

[2020-03-09 06:56] dlutton commented on #25
@nguyenlinhnttu is this still an issue?

[2020-03-10 17:16] prantto opened #87 "Using instance second time doesn't work (iPhone)"
I'm using the flutter tts plugin in my small App. It really worked fine. I always tested every function on the iPhone 11 pro max simulator and the app worked. But now I wanted to test the App on a real iPhone and I always have the same issue on 3 different iPhones. The second time the plugin is called, it doesn't 'speak'. I'm using always the same instance now (singleton), but this doesn't fixed t

[2020-03-10 18:00] dlutton commented on #87
@prantto I haven't tried using this plugin with speech recognition.  Does this issue exist with the example provided in repo on a real device?

[2020-03-10 19:10] prantto commented on #87
The example App works fine on the iPhone. Maybe there is a problem if you use both plugins. But I don't understand why it is working fine on the simulator.
I just saw that there is another speech to text plugin now. Maybe I try if this one is working better.

[2020-03-10 19:13] dlutton commented on #87
Are you able to provide your codebase or a sample of your code and the other plugin your'e using? There could be a conflict between the 2 plugins.

[2020-03-10 21:34] prantto commented on #87
Hey. Yeah seems like there is a conflict. I can't provide the code, but I build a simple app that shows the problem. I use this plugin: speech_recognition: ^0.3.0+1; but also tested it with the other one speech_to_text: ^1.0.0. Same issue working on Simulator, but not on the phone.

`import 'package:flutter/material.dart';
import 'Voice.dart';

void main() => runApp(MyApp());

class MyApp extends

[2020-03-17 15:24] afzaal-ahmad-zeeshan commented on #86
Not sure if this is related to this issue or not. But I tried your recent update to the package and it seems to return, "Reply already submitted" with the speaking function.

[code]
The file part I need to check yet, it gives the error for the path not existing (seems the path, including directory needs to be created before the call).

[2020-03-17 15:42] afzaal-ahmad-zeeshan commented on #86
Here is the code that I have used for the synthesis of speech to file,

[code]

[2020-03-17 21:50] dlutton commented on #86
What's the filename you're passing?  try just passing a file name as "test.wav" to start out with.  It should create the file for you.

[2020-03-17 21:53] dlutton commented on #87
Sorry I haven't had a chance to research this yet.  Have you tried creating the instance of FlutterTts at the top similar to what you're doing with SpeechRecognition _speechRecognition;  So create the FlutterTts _flutterTts at the top and then instantiate it within your initState the same way.  Update your onpressed method to call the _flutterTts you created at the top.  Please let me know if that

[2020-03-18 10:12] afzaal-ahmad-zeeshan commented on #86
I am using a UUID to be generated for the files.

Secondly, I have just checked, your version 0.8.7 speaks properly, but 0.9.0 fails to speak and gives the error that "Reply already submitted". Maybe you should check that.

For the file, sure I will try passing a file name (without creating a file first).

[2020-03-19 16:51] prantto commented on #87
I already changed to the other plugin SpeechToText, this is now working for my app.
Thanks for your help:)

[2020-03-19 16:51] #87 closed

[2020-03-20 14:44] Dorbmon opened #88 "Failed to handle method call"
When I try to speak something,an error came out although it exactly worked.
This is my error report:
[code]

This is my flutter doctor -v:

[code]

It is a example to make the bug apear:
[code]

[2020-03-21 18:08] thevikke commented on #88
I have the same error, I experimented a bit and it feels like it works some times and sometimes not, depending on the text that I input.

[2020-03-21 18:09] dlutton commented on #88
thanks @thevikke, I'll try to make some time this weekend to look into the issue.

[2020-03-22 01:29] Dorbmon commented on #88
Howerver,Mine is different haha.I only want to say "Hello World".

[2020-03-22 07:09] Dorbmon commented on #88
However My word is only "Hello World" haha.

[2020-03-22 09:17] #88 closed

[2020-03-22 09:18] dlutton commented on #86
thanks @afzaal-ahmad-zeeshan, the error should no longer be occurring.

[2020-03-22 09:19] dlutton commented on #88
thanks for reporting this @Dorbmon and @thevikke.  This should now be resolved.

[2020-03-22 10:56] Dorbmon opened #89 "Can pause the voice?"

[2020-03-22 20:03] dlutton commented on #89
I don't believe the android tts api provides a pause method.
https://developer.android.com/reference/android/speech/tts/TextToSpeech.html

If you find a way to accomplish this, let me know and I'll implement it.

[2020-03-22 20:06] dlutton commented on #82
You can also return voices for iOS.  It doesn't guarantee that there will be both a female and male voice for each language.

[2020-03-22 20:06] #82 closed

[2020-03-23 00:53] Dorbmon commented on #89
I found setSlience does the same work.

[2020-03-23 00:53] #89 closed

[2020-03-24 01:52] amrahmed242 opened #90 "Arabic support"
## 🚀 Feature Requests
can't seem to find any way to add Arabic voices in the plugin, why is that?

[2020-03-24 03:04] dlutton commented on #90
Reference #50.  I believe the google tts engine doesn't support it if it's not listed when running the getLanguages method.

[2020-03-24 08:40] hoangquy4897 opened #91 "Can I call text to speech without connect to Google?"
My network device is behind proxy so my device cannot connect to Google to call text to speech with this package. Is there anyway I can do it offline?

[2020-03-24 19:07] dlutton commented on #91
For Android, this plugin uses the standard `com.google.android.tts` TTS engine.  As far as I know, this shouldn't require internet connection unless you need to download the engine.  Are you running into an issue where this is not working without internet connection?

[2020-04-10 05:56] jay2hk2hk commented on #66
Hi @FLYINGKRIPTO, i tried your example but it is not work. how can i test it?

[2020-04-10 07:27] jay2hk2hk commented on #3
Is the enhancement done??

[2020-04-11 04:39] dlutton commented on #3
not yet @jay2hk2hk

[2020-04-16 04:43] ab36245 opened #94 "Interaction with audio input"
I have a question about using this plugin in conjunction with speech recognition (microphone input). I am building a simple app which listens for speech input, processes it and generates a simple audio response and then listens for the next input. I'm using this plugin for the audio response and speech_to_text for the speech recognition.

The problem I have is that after generating the first audio

[2020-04-16 08:19] #94 closed

[2020-04-16 08:21] dlutton commented on #94
@ab36245 I went ahead and made a quick update to the audio session so it's set to playAndRecord rather than just play.  That should make it compatible with the audio session of the other package you're using.

[2020-04-16 08:26] #90 closed

[2020-04-16 09:10] #41 closed

[2020-04-17 02:46] ab36245 commented on #94
I've upgraded to 1.0.0 but still have the same problem (see csdcorp/speech_to_text#66).

[2020-04-17 12:23] 792266344 opened #95 "Can't talk Chinese"
## 💬 Questions and Help

It can't talk chinese after setLanguage('zh-CN').

[2020-04-17 18:22] dlutton commented on #95
Is there an error?  Is the text in Chinese?  Also, when you run the getLanguages method, is zh-CN a supported language on your phone?  I'm not sure which device you're testing on, however I quickly ran a test on the web version of this plugin [here](https://dlutton.github.io/flutter_tts).  When setting the language to zH-CN from the drop down and pasting in Chinese characters, it's speaking in Chi

[2020-04-18 01:11] 792266344 commented on #95
aha,I'm sorry,it haven't 'zh-CN' when I run the getLanguages,Thanks

[2020-04-18 05:19] #95 closed

[2020-04-27 10:58] Schwoebel opened #96 "Problem with start and completion handlers setting themselves to null."
## 🐛 Bug Report

When I navigate away from a page where I'm using Flutter TTS and then re-enter the page, flutter TTS starts to reset all the handlers to null.

### Expected behavior
After setting the handles inside the instance of the API, the handles shouldn't reset themselves to null

### Reproduction steps
Create two pages, one with TTS and one without.  Set start and completioin handlers when

[2020-04-28 10:13] Schwoebel commented on #96
I put breakpoints in before calling .speak()
and I see that the callbacks are there: <img width="891" alt="Screenshot 2020-04-28 at 12 03 56" src="https://user-images.githubusercontent.com/1336569/80475520-487d2380-8949-11ea-8335-9a6885b8f3a1.png">
but as soon as I .speak() and it calls the channel to make the tts work all of the callbacks get set to null:
<img width="593" alt="Screenshot 2020-04-

[2020-04-29 08:11] coder-Aayush opened #97 "TTS won't stop"
## 🐛 Bug Report

While Playing Something with TTS when we close app from recent than the Plugin won't stop.
also, I have disposed, it won't work.

flutter_tts: ^0.9.1

**Platform:**
Android

[2020-04-30 02:09] JCKodel opened #98 "[Exception] Couldn't retrieve ISO 3166 country code for locale: es_EA"
## 🐛 Bug Report

While testing on an MotoG 1st edition with Android 5.0, some errors are thrown by `getLanguages`:

[code]

### Expected behavior
Not to thrown an exception.

### Reproduction steps
Works fine on emulator. Guess you'll need a real 5.0 device.

### Configuration

**Version:** latest

**Platform:**
- [ ] :iphone: iOS
- [X] :robot: Android

[2020-04-30 07:17] #91 closed

[2020-05-01 09:12] yoshoten-i-sol opened #99 "The background audio is stopped with speak completion on iOS device."
## 💬 Questions and Help

Thank you for you hard work.

I'm not sure it's a issue.
The background audio is stopped when the speak completion on iOS device.
I'm creating a game app and using this plug in on it. I played the music on background and run the tts to speak something to user, but the music always stopped when the speak completion.
This issue always appeared on speak completion so I put so

[2020-05-03 12:26] futurnaingenieur opened #100 "Add pause and resume for iOS AVSpeechSynthesizer"
## 🚀 Feature Requests

It would be amazing to be able to pause and resume tts on iOS since we unfortunately cannot synthesise to file with AVSpeechSynthesizer.

### Describe the feature
I think AVSpeechSynthesizer supports this already by using pauseSpeaking and continueSpeaking . (See [https://developer.apple.com/documentation/avfoundation/avspeechsynthesizer#//apple_ref/occ/instp/AVSpeechSynthes

[2020-05-03 13:10] lollita opened #101 "down vote favorite String is read as number rather than reading it digit by digit"
I have a string "9039662543", and when speak is on, this string is read as "nine million....".
Do it is possible to read as "nine zero three..."?

[2020-05-03 17:32] dlutton commented on #101
@lollita is this occurring on Android, iOS, or both?

[2020-05-03 17:33] lollita commented on #101
Mainly for Android but welcome also for iOS.

[2020-05-03 18:55] dlutton commented on #100
This has been added to the latest version.

[2020-05-03 18:55] #100 closed

[2020-05-04 17:43] wexder commented on #99
I open pull request for setting audio category and options. I feel like that should fix by choosing different audio category or option https://developer.apple.com/documentation/avfoundation/avaudiosession

[2020-05-04 21:21] futurnaingenieur opened #104 "NullPointerException thrown from the binder stub implementation"
## 🐛 Bug Report

When I migrated from 0.9.1 to 1.1.0 I started experiencing this problem.
I just use synthesise to file method but the stack trace of compiler gets filled with :

[code]

### Configuration

**Version:** 0.1.1

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2020-05-05 09:20] i-jade opened #105 "The same code can be played on Android 8, but not on Android 10"
## 💬 Questions and Help
Thank you for developing such a good plugin。
I recently had this problem when using plugins for simple tests：The same code can be run normally on my Huawei  EMUI8.0 (Android 8), but not on my OnePlus 7T (Android 10)，The `flutterTts.speak ()`function on my OnePlus7T has no return value. My code is as follows:
[code]
I called `initTTS ()` in the `initState()` function, I call

[2020-05-05 09:26] dlutton commented on #105
If you change the language, is it able to speak the characters?

[2020-05-05 09:37] i-jade commented on #105
I just tested en-GB, zh-TW, es-US, and it didn't work. By the way, I ran your example demo on my OnePlus7T, and unlike EMUI, there is no language choice
![jpg](https://i.loli.net/2020/05/05/bPDC5GxORejWFBv.jpg)

[2020-05-06 07:33] dlutton commented on #105
Have you confirmed the TTS engine being used on your OnePlus?

[2020-05-06 08:04] i-jade commented on #105
Thank you very much, this problem has been solved. My onePlus does not have a built-in TTS engine, I can successfully run it after downloading the Google text-to-speech engine.

[2020-05-06 08:04] #105 closed

[2020-05-06 14:31] ElaineSchwner opened #106 "iOS Volume"
## 🐛 Bug Report

Audio in IOS is only from the telephone speakers, not outloud speakers.

The same code in IOS is from the speakers.

[2020-05-07 18:15] dlutton commented on #106
@ElaineSchwner sorry I don't follow, can you be a little more descriptive of the issue?

[2020-05-07 22:02] ElaineSchwner commented on #106
@dlutton Thank you for your attention.
The same code, In Android, the sound is very good and clear.
In iOS, the sound is very low, almost inaudible.

[2020-05-07 22:14] dlutton commented on #106
Okay.  This PR #103 should fix that issue for you.  I should have it reviewed and merged by this weekend along with some other bug fixes.

[2020-05-07 23:00] ElaineSchwner commented on #106
@dlutton Ok. Thank you. Do I have to do anything to update my code? or wait? What is the next step?
Thank you.

[2020-05-07 23:07] dlutton commented on #106
For now you'll have to wait.  Once the PR is merged, you'll need to update to the latest flutter_tts package in your pubspec.yaml file and implement the .setIosAudioCategory method.  This is only for iOS, so you'll want to make sure you're checking if the platform is iOS before calling that method.

[2020-05-10 02:40] #98 closed

[2020-05-10 02:40] #104 closed

[2020-05-10 02:53] dlutton commented on #106
@ElaineSchwner the latest update has been published.

[2020-05-10 02:54] dlutton commented on #99
@yoshoten-i-sol the latest update has been published.

[2020-05-10 02:54] #99 closed

[2020-05-10 15:56] coldembrace opened #107 "tts.stop() without triggering completionHandler"
## 💬 Questions and Help

Thanks for a great tts lib!
It seems like `completionHandler` is triggering when I stop the speech programmatically. I assume that's an expected behaviour, but is there a way to prevent it?

[2020-05-11 05:17] yoshoten-i-sol opened #108 "The background audio is stopped with speak completion on iOS device."
## 💬 Questions and Help

Provide question related to this flutter plugin.
#99
@wexder
For this question, I tried to set playback or ambient to category and mixWithOthers to options but didn't working.
Then I found it's because of this code
`
do {
      try audioSession.setActive(false, options: .notifyOthersOnDeactivation)
    } catch {
      print(error)
    }
`
that called on
`
public func speec

[2020-05-11 11:40] ElaineSchwner commented on #106
@dlutton  Thank you Daniel. The sound now is from the speakers, but the .setSpeechRate can't be set. Do you have any idea why it is happening and how it can be fixed?

[2020-05-11 13:29] XinwenCheng opened #109 "Uniform speechRate for both Android and iOS"
## 🚀 Feature Requests

Now, have to set speech rate like following for both Android and iOS system, I suggest use a uniform one, let SDK to set for each platform.

[code]

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [x] :iphone: iOS
- [x] :robot: Android

[2020-05-11 17:19] dlutton commented on #107
@coldembrace yes that's expected behavior at this time.  What is the purpose around preventing it?

[2020-05-11 17:46] coldembrace commented on #107
@dlutton Thanks for the quick response! Actually I'm trying to play multiple speeches one by one.
[code]
It works fine until I call `await textToSpeech.stop()` (and completionHandler is triggering) when the first text is still speaking for example.
Anyway, I think stop handler in iOS is also automatically triggering after AVSpeechSynthesizer's `speak` method gets called, so probably I should look

[2020-05-11 18:45] dlutton commented on #107
I'll test this out later when I get some time and think of an elegant solution for this situation.

[2020-05-12 04:55] coldembrace commented on #107
@dlutton Appreciate your help!

[2020-05-13 08:37] dlutton commented on #107
Just to confirm @coldembrace, is your use case where if stop is called, you want it to continue onto the next speech?

If you just want it to cancel altogether, you can just `await textToSpeech.speak(text2);` right after the first `await textToSpeech.speak(text1);`

[2020-05-13 10:07] coldembrace commented on #107
@dlutton I want to cancel altogether. The issue is I really need to call my completion block somehow **only** when the second speech is done.

[2020-05-13 16:22] coldembrace commented on #101
@lollita just insert a single space after each char e.g. `9039662543` => `9 0 3 9 6 6 2 5 4 3` and you'll get the desired output.

[2020-05-13 19:49] dlutton commented on #107
okay, but the synthesizeToFile is only supported on Android.  Playing multiple speeches one by one works in the way I mentioned before at least for iOS, I still have to test it on Android.  When you stop, it'll cancel the whole thing.  I'll let you close the issue when you're comfortable that you have a solution, otherwise I can keep this open.

[2020-05-13 19:51] dlutton commented on #101
@lollita let me know if @coldembrace's solution will work for you.

[2020-05-14 06:07] lollita commented on #101
It work fine. Ty.

[2020-05-14 06:07] #101 closed

[2020-05-14 08:30] dlutton commented on #106
@ElaineSchwner do you mind opening a new issue so I can track it.  Thank you.

[2020-05-14 08:43] coldembrace commented on #107
I ended up with an approach without using the completion handler (reworked my app a bit). Just calling multiple `speak` methods one by one seems working fine on both Android and iOS. @dlutton appreciate your help!
[code]

[2020-05-14 08:43] #107 closed

[2020-05-16 03:00] eldermao1 opened #110 "Tts on iOS defaults to speaking to the receiver (before it was on the speaker)."
## 🐛 Bug Report

### Expected behavior
When tts speaks I should be able to listen it on the speaker (not receiver) or at least be able to set it on the receiver by an option. I tried with `IosTextToSpeechAudioCategoryOptions.defaultToSpeaker` but it doesn't do anything.

### Reproduction steps
flutter_tts 1.2.0 + iOS hit play and you won't hear anything unless you hear on the phone's receiver.
Als

[2020-05-17 09:56] StephanCassel commented on #109
Same here.
FlutterTts().setSpeechRate(Platform.isAndroid ? 0.8 : 0.395);  works fine.

[2020-05-21 08:46] dinhan1192 opened #111 "Can I ask how many voices flutter_tts have?"
Firstly, thank you for the great package,
But I am working on a project that needs many kinds of voices, so does flutter_tts have other kinds of voice? or only one ?
Thank you.

[2020-05-21 09:34] dlutton commented on #111
This package uses the built in TTS engine on the device, so it depends on the device.  The get voices method should assist you with that.

[2020-05-21 09:54] joervargas opened #112 "I'm not able to trigger the setProgressHandler()"
Great work on the plugin!  I'm a little lost as to how to trigger the setProgressHandler though.  Any help or information would be appreciated.

On my setup I'm using a shared flutter_tts Provider so that I only have 1 set of speech being triggered at a time.  I've created functions in my Provider class to handle speech as follows~

`  Future<void> prgSpeak({String vocab, Function completionHandle

[2020-05-21 12:51] dinhan1192 commented on #111
Thank you for your response !!!!

On Thu, May 21, 2020 at 16:34 Daniel Lutton <notifications@github.com>
wrote:

[2020-05-21 15:43] dinhan1192 commented on #111
Sorry, but I have to ask, does flutter tts provide Vietnamese language?
Thank you for your time!

On Thu, May 21, 2020 at 19:51 (FPT Aptech), Dinh Van Hoang An <
andvhd00705@fpt.edu.vn> wrote:

[2020-05-21 17:49] dlutton commented on #111
That also depends on the tts engine on your device.  For example, on Android, this package uses the com.google.android.tts engine on your device, so if that engine supports that locale, then it's available.  You'll want to run the get languages method to view a list of languages supported on your device.

[2020-05-23 13:56] dinhan1192 commented on #111
Oh really!! Thank you so much for your help !!! I love your flutter tts bro
!!!

On Fri, May 22, 2020 at 00:49 Daniel Lutton <notifications@github.com>
wrote:

[2020-05-24 18:10] #111 closed

[2020-05-25 06:10] StephanCassel opened #113 "Is there any plans for pause/restart for Android?"
Hi
Excellent plugin. Very useful indeed.
Is there any plans for pause/restart for Android?

[2020-05-25 08:19] AkshatGiri opened #114 "[Android] Number being read individually instead of as one"
## 🐛 Bug Report
I'm passing a string like so `"1 5 15"` to the tts.speak(). On android it is being read as "One Five One Five".

### Expected behavior
It should be read as "One Five Fifteen". That's the behavior on iOS and web.

### Reproduction steps
`await _flutterTts.speak("1 5 15");`

### Configuration

**Version:** 1.2.0

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2020-05-25 18:10] dlutton commented on #114
@AkshatGiri  Which Android API and device/emulator are you using?

[2020-05-25 18:15] dlutton commented on #113
@StephanCassel the [Android TTS SDK](https://developer.android.com/reference/android/speech/tts/TextToSpeech) doesn't have a pause/restart function at this time.

[2020-05-25 18:30] AkshatGiri commented on #114
@dlutton I'm running on Android 10 on a Pixel 2 XL.

[2020-05-25 19:00] StephanCassel commented on #113
@dlutton Thanks for the replay.

I solved the pause/play by splitting up a large text into substrings (substring == sentence) and a "sentence cursor". flutterTts.speak (first sentence). setCompletionHandler () restarts next sentence and so forth. When I stop the speak and restart the **current** sentence at the sentence cursor.
It turns out that it was a good solution for the user. The user was ab

[2020-05-25 19:03] dlutton commented on #113
Depending on how you're using it, you can also use the android synthesize to file feature and use the media play/pause/stop as it'll get saved as a .wav file.  Once Android supports play/pause in its TTS SDK, I'll implement it in this plugin.

[2020-05-25 19:09] StephanCassel commented on #113
Yes, that could be a good solution. I will have that in mind.
For this projects need the "rewind" to start of a sentence is in fact very good.
It works like a charm.
Thanks for the tips!

[2020-05-25 19:14] #113 closed

[2020-05-26 11:56] dinhan1192 opened #115 "Excuse me, I want to ask about Vietnamese and flutter_localizations"
## 💬 Questions and Help

Well, I find out that flutter_tts run well with my app that I am building. But I wonder, however, if the phone of Customer has Vietnamese installed and I set language of flutter_tts to Vietnamese, can the customer's phone still perform the task as expected (I mean text to speech). Do I have to install another package, eg: flutter_localizations ?
Thank you a lot for your ef

[2020-06-01 18:57] dlutton commented on #115
@dinhan1192 I have not tested this with another language set on the device, however I believe as long as Vietnamese is a supported TTS language on the device and it's selected, your app should work as expected.

[2020-06-02 16:24] pvegh commented on #109
We have this issue and tomorrow we will be investigating other TTS libraries to switch to.
Since it seems like no effort is being made here.

Maybe https://pub.dev/packages/flutter_tts_improved

[2020-06-02 16:53] StephanCassel commented on #109
This package works very well. Used it for sometime.
I can live with FlutterTts().setSpeechRate(Platform.isAndroid ? 0.8 : 0.395);

[2020-06-02 21:19] StephanCassel opened #117 "Cannot build with stable 1.17.2"
Cannot build with stable 1.17.2
**It worked fine with v1.12.13+hotfix.8**

 /Users/stephan/development/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_tts-1.2.0/ios/Classes/FlutterTtsPlugin.m:4:17: error: definition of 'FlutterTtsPlugin' must be imported from module 'flutter_tts.FlutterTtsPlugin' before it is required
    @implementation FlutterTtsPlugin

[✓] Flutter (Channel stable, v1.17.2, o

[2020-06-02 22:47] StephanCassel commented on #117
Sorry. It was a missing bridge-header. Works like a charm.

[2020-06-02 22:47] #117 closed

[2020-06-03 08:50] dlutton commented on #114
I am able to reproduce this issue, however I'm not able to locate a reason for the google TTS engine to behave this way.  You may want to separate the number values by commas until I'm able to locate both the reason for this and possible solution.

[2020-06-03 09:31] dlutton commented on #25
is this still an issue @ashihCT ?

[2020-06-03 09:31] #115 closed

[2020-06-03 09:33] dinhan1192 commented on #115
Thank you for your response, I tested on AVD and it worked awesome !!!

On Wed, Jun 3, 2020 at 16:32 Daniel Lutton <notifications@github.com> wrote:

[2020-06-03 14:10] siva636 commented on #106
This does not work for me. The audio is very low sometimes and it is as expected sometimes. This only works about 50% of the playback. Automatically audio volume goes to low. I tried with the following code:

[code]

[2020-06-03 14:11] siva636 commented on #106
Can this thread be reopened or I have to file a new issue?

[2020-06-04 07:07] dinhan1192 opened #118 "I want to ask about the pause in Android"
Did you have pause and continued for Android ? I did not see it in the read me, I tried testing on AVD and it still continue to speak =.=
Thank you!

[2020-06-04 07:16] siva636 commented on #106
@ dlutton Yes I tested using the latest version ^1.2.1.

Sometimes the volume goes to the lowest level / highest level without any user interaction. This happens only on ios physical device. Not happening on ios/android simulators.
(I did not test on physical android device)

[2020-06-04 07:20] dlutton commented on #118
Unfortunately the Android TTS SDK doesn't provide a pause method.  This is only supported on iOS and will soon be implemented for web.

[2020-06-04 07:21] dinhan1192 commented on #118
Thank you for your answer!

On Thu, 4 Jun 2020 at 14:20, Daniel Lutton <notifications@github.com> wrote:

[2020-06-04 10:59] dinhan1192 opened #119 "Excuse me, I want to ask about number of characters"
It seems that when I put too many characters in, the flutter tts does not speak ?
Thus, can I ask the maximum of characters I should put in per time ?
Thank you!!

[2020-06-04 14:53] dinhan1192 commented on #119
sr bro, I ve looked at other issues, will follow that then!
Thank you !

[2020-06-04 20:35] #118 closed

[2020-06-05 05:11] yuefeng007 opened #120 "example cannot run"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps
flutter run

error log
[code]

### Configuration

**Version:** 1.2.1

**Platform:**
- [ * ] :robot: Android

[2020-06-05 05:13] yuefeng007 commented on #120
### flutter doctor

[code]

[2020-06-05 05:30] yuefeng007 opened #121 "Does it support a man's voice"
## 🚀 Feature Requests

### Contextualize the feature

### Describe the feature
Does it support a man's voice

### Platforms affected (mark all that apply)
- [ √ ] :iphone: iOS
- [ √] :robot: Android

[2020-06-05 05:31] #120 closed

[2020-06-05 05:55] dinhan1192 commented on #66
So, I figured out how to make it run ! just put the delay inside foreach, and it run excellent !

[2020-06-06 11:23] dinhan1192 opened #122 "I want to ask about the locale"
Well, first of all, thank a lot for your effort!
Well, I tried using flutter tts with flutter localization and found out an issue here.
When I use flutter localization, change my message to Vietnamese or English (by Json, I mean). The flutter tts seems not to catch up with the localization! So, it means, I used a English voice to speak a sentence in Vietnamese and vice versa, it sounds kind of wei

[2020-06-06 12:10] dinhan1192 commented on #122
Okay! I got a workaround to get the current locale then! Closing this now! thank you!

[2020-06-06 12:10] #122 closed

[2020-06-06 17:20] dlutton commented on #121
You'll have to do a get voices call to see what's available on the tts engine on your device.

[2020-06-07 04:09] dinhan1192 opened #123 "About the setProgressHandler"
So when I use delay in the for loop like in this https://github.com/dlutton/flutter_tts/issues/66#issuecomment-639275237, it seems that the setProgressHandler does not work anymore, but other void function still works like just a print !!!
Thank you for your effort!!

[2020-06-07 08:43] dinhan1192 opened #124 "About the speak"
So, another problem here concerning with the speak.
It seems that when you click on the speak of another content, the very first speak did not completely stop!
Thank you!

[2020-06-07 17:36] dlutton commented on #124
You can control that with platform listeners such as
`flutterTts.setStartHandler(() {
  setState(() {
    ttsState = TtsState.playing;
  });
});`.

You can use that to set a state so if speak is called while it's in the playing state, you can then do a stop followed by a play.  You can also use flutterTts.setCompletionHandler to find out when the speak has completed.

[2020-06-08 11:25] dinhan1192 commented on #124
the problem is, I want to get the last index of the string flutter tts
speak ^^ you know, just to make a workaround for continue and pause ^^, but
it seems when I use delay like that, the setProgressHandler did not work,
so ....
Thank you for your response !!!

On Mon, 8 Jun 2020 at 00:37, Daniel Lutton <notifications@github.com> wrote:

[2020-06-08 11:27] dinhan1192 commented on #124
Thank you for your response !!! I will try it ^^

[2020-06-08 11:28] dinhan1192 commented on #123
the problem is, I want to get the last index of the string flutter tts
speak ^^, but it seems when I use delay like that, the setProgressHandler did not work,
so ....
Thank you for your response !!!

[2020-06-11 02:32] fleoparra opened #125 "getLanguages on Huawei Y7P stops code execution"
When I execute await flutterTts.getLanguages this line stops code execution (the next line is not executed)

On other devices this await flutterTts.getLanguages works as expected.

Huawei Y7p do not have google play services and do not have any TTS engine.

I think that maybe can throw an exception instead of stop code execution. I don´t know.

[2020-06-11 08:33] dlutton commented on #125
does it throw a specific exception when that code is ran on that device?  I'd assume it would fail before that as there is no TTS engine on the device, but I haven't tested that.

[2020-06-11 14:23] fleoparra commented on #125
I am using this code to verify after 3 seconds if getLanguages works as expected:

      flutterTtsReadLanguages  = false;
      Future.delayed(Duration(seconds: 3), () {
        if (!flutterTtsReadLanguages && context != null) {
          List<FlatButton> actions = [];
          actions.add(FlatButton(
            onPressed: () => Navigator.pop(context, false),
            child: Text(AppLocaliza

[2020-06-12 11:32] dinhan1192 opened #126 "About the speak not stop"
So, I notice another bug concerning the flutter tts ^^
when speaking a long content, let's say 8000 characters, I run a "for" for it with a delay. But when I press stop while speaking the first round, it stop, but it doesn't truly stop! it still run the next round!

I tried using setCompletionHandler and setCancelHandler but none of them worked =.=
Thank you for your effort!
An

[2020-06-16 03:07] adad184 opened #128 "return the result for `speak`"
## 🚀 Feature Requests

For some reason, `speak` may failed(e.g. synthesizer or engine issue, or queuing issue), so please return the result of `speak` to check it.

### Platforms affected (mark all that apply)
- [x] :iphone: iOS
- [x] :robot: Android

[2020-06-17 17:53] rublinetsky opened #129 "SSML support?"
## 💬 Questions and Help
Is there any way to use SSML tags?

[2020-06-17 18:28] rublinetsky commented on #129
I did some additional experiments...

Some unknown subset of SSML does work on a newer Android - for example, this text

`'<speak>before<break time="5s"/>after</speak>'
`
does indeed produce a five-second pause between the words on API 27 and API 29. It does not work on API 21, but at least it handles it gracefully by simply ignoring all tags.

It fails miserably on Chrome Web Flutter - it attempt

[2020-06-17 18:28] #129 closed

[2020-06-19 10:37] meikefelicia commented on #3
Would be nice to have support for that.

[2020-06-20 10:01] dlutton commented on #126
@dinhan1192 can you provide an example.

[2020-06-21 00:22] davidgalarza opened #130 "Error when try to FlutterTts.getLanguages"
## 🐛 Bug Report

### Expected behavior

I'm trying to get the available languages on my users device, when I execute my code on my personal phone it works perfectly but in my bug report system (Sentry) I'm getting this error on some devices.
[code]
I get more than 10k reports of that. I don't know if its related with the brand but  the 90% of errors are from Huawei phones
<img width="1021" alt="Ca

[2020-06-21 18:05] dlutton commented on #130
This appears to be related to #125.

I'll have to research the issue on those devices and add better error handling.

[2020-06-21 20:15] ssbaval commented on #109
I second that. Been using this plugin since 0.2.6 and now on 0.7.0 which is sufficient for my needs ... Plugin is stable, consistent and does a great job of providing TTS ...

[2020-06-23 06:54] macoshita commented on #108
Same problem. Ver. 1.2.3

This commit, but I don't know why.
I want to remove it, but If you can't remove it, I'd like the option.

https://github.com/dlutton/flutter_tts/commit/5d4c01d8bb836a59b3a1abb57a76a1a6f1e04349

[2020-06-23 09:07] wexder commented on #108
we can add the way to pass options to audiosession. But I currently don't have time to implement it.

[2020-06-23 18:43] marcotta commented on #108
@macoshita could you explain a bit more about your setup, I will try to help

[2020-06-26 15:31] chounry opened #131 "(BloC) The event/state(BloC) comes from flutter_tts listener, cannot re-render the view."
What i did :
I dispatch an event when the `setErrorHandler` and `setCompletionHandler` get called, because i want the view to change after the speaking done. But It doesn't change the view after a new state retrieve.

I write a print() 1 line before the view that will be return(render), it actually print, but the view doesn't get render like it suppose to be.

Can anyone help me with this.? This i

[2020-06-26 17:57] KiruthikaAdhi opened #132 "OnCompleteHandler not called when a talkback event occurs while synthesize to file is processing"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android

[2020-06-26 18:03] KiruthikaAdhi commented on #132
I show a loading dialog when I call synthesize to file and closing it when the dialog the completionHandler callback is called. But when the loading dialog is shown if I tap on the screen with talkback enabled then the completionHandler is not called at all.

I think the talkback event interrupts the synthesizeToFile and stops the synthesis. Is there a way to overcome this?

[2020-07-04 16:22] charlesarchibong opened #134 "Text to speech call back"
## 💬 Questions and Help

Does flutter_tts offers callback functions when the speech is completely read?

[2020-07-05 20:21] dlutton commented on #134
Not when it's completely read.  You can view the callback functions on the readme, it's the platform calls listed.

[2020-07-06 08:33] dlutton commented on #130
I have added better exception handling for getLanguages and also added a getEngines call.

[2020-07-06 08:33] #130 closed

[2020-07-06 08:37] dlutton commented on #131
based on the description of the issue, I don't believe this is related to the flutter_tts engine.  Have you tried re-rendering the view in a setState method?

[2020-07-06 08:38] dlutton commented on #125
I have added better exception handling on getLanguages and also a getengines call.

[2020-07-06 08:38] #125 closed

[2020-07-06 08:38] #121 closed

[2020-07-06 12:32] marcotta commented on #108
@macoshita could you confirm this commit solves your problem?
https://github.com/dlutton/flutter_tts/commit/a6cb372d41e40c09ed1ac1a8e32ffea0b6d32abc

[2020-07-06 15:16] StephanCassel opened #135 "Error when building 1.2.5"
Hi

Error when building 1.2.5

Tried flutter clean and flutter pub cache repair but did not help.
When I returned to version 1.2.3 same error occurred.
flutter clean and flutter pub cache repair same thing.

/Users/stephan/Documents/Projects/sinkadus/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java:33: error: constructor FlutterTtsPlugin in class FlutterTtsPlugin cannot

[2020-07-06 17:13] Janus451 commented on #135
Hi,

I have the same problem. When I try to build the project the build fails. Just some time ago, everything worked well.

C:\Users\Jan\AndroidStudioProjects\flutter_app_test\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:16: error: constructor FlutterTtsPlugin in class FlutterTtsPlugin cannot be applied to given types;
    flutterEngine.getPlugins().add(new com.tundr

[2020-07-06 18:06] dlutton commented on #135
Thanks for reporting this.  I tested this version on an android build without any errors before releasing it.  I'll test more later on and roll back the changes to android if needed.

[2020-07-07 11:11] dlutton commented on #135
this should be fixed in the latest build.

[2020-07-07 11:28] StephanCassel commented on #135
Works fine. Thanks for your excellent package !

[2020-07-07 11:28] #135 closed

[2020-07-07 17:01] #126 closed

[2020-07-07 17:03] dlutton commented on #110
is this still an issue with the latest build @eldermao1 ?

[2020-07-07 17:05] dlutton commented on #132
can you provide an example or snippet showing your what you're code is doing?  Is this occurring on iOS, Android, or both?

[2020-07-07 17:06] #134 closed

[2020-07-07 20:51] chazgps opened #136 "Audio playing doen't work when Internet goes off"
## 🐛 Bug Report

I call the speak method inside build method in response to app state change.
If the Internet connection is down, the audio isn't played and nothing happens.
To work properly, I must turn on Internet on my device.

### Reproduction steps

To reproduce the problem:

1. Start your app
2. Initialize TTS
3. Turn off Internet on device
4. call the speak method

Nothing happens.

**Versi

[2020-07-07 21:00] eldermao1 commented on #110
I dropped this library and did something else instead because it wasn't
stable so I can't test it now. Thank you for looking into it either way,
I'm sure it will help others.

On Tue, Jul 7, 2020 at 12:04 PM Daniel Lutton <notifications@github.com>
wrote:

[2020-07-07 21:21] #110 closed

[2020-07-07 21:22] dlutton commented on #136
Do you have the google TTS engine installed on the device?

[2020-07-08 07:23] ninjaasmoke opened #137 "Auto detect language"
Instead of predefining a language, is there a way to set multiple languages or a set of all languages, and determine the language based on the input, automatically?

[2020-07-08 08:05] dlutton commented on #137
I'm sure it's possible with something like the google ML language identification kit, however it's not something that's built into this package.

[2020-07-08 14:01] chazgps commented on #136
Sure, I do, I said that works properly when Internet is turned on the device!

I call the "speak" method during the "build" method execution. If I turn off the Internet, the "speak" method doen't work anymore.

I've tried to put the "speak" method calling into a isolate, to free the main isolate (UI) from speech synthesis but the plugin doen't work from a isolate:

My isolate:

`Future<void> speak

[2020-07-08 14:43] chazgps commented on #136
My main():

`void main() async {
  WidgetsFlutterBinding.ensureInitialized();

final PackageInfo packageInfo = await PackageInfo.fromPlatform();
final App app = App();
  app.version= packageInfo.version;
`final MultiProvider providers = MultiProvider(
    providers: [
      ChangeNotifierProvider.value(
        value: app,
      ),
      ChangeNotifierProvider.value(
        value: Repository.inst

[2020-07-11 09:56] seanradford commented on #106
We're using flutter_tts:1.2.6 (current latest) and seeing this exact issue. On iOS, the majority of the time (think 95%) the volume is so low to be almost inaudible (phone volume at max and flutter_tts volume set to 1.0).

[2020-07-13 01:34] dlutton commented on #137
@ninjaasmoke You can use this [package](https://github.com/dlutton/flutter_language_id) I created to help you determine the language of the text.

[2020-07-13 02:41] dlutton commented on #136
Are you using a specific device/emulator and certain API level?  As long as I have the TTS engine installed on my device, I can run the speak method successfully with the internet off.

[2020-07-14 16:25] #137 closed

[2020-07-15 00:45] farazk86 opened #138 "No audio playing as TTS fails to initialize?"
## 💬 Questions and Help
Hi,

I'm trying to run ``flutter_tts`` to speak a simple string, I followed the install guide and also the readme.md on how to use it. But when I call the ``speak()`` function I get no output, no sound at all.

When I checked logcat, I have the following error:

`E/TTS: Failed to initialize TextToSpeech`

I checked that TTS engine is installed on the phone by going into set

[2020-07-15 07:32] dlutton commented on #138
what device and api level are you testing on?

[2020-07-15 09:25] farazk86 commented on #138
Pixel 3a API 30

[2020-07-15 18:47] davidgalarza opened #139 "getLanguages method return empty array"
## 🐛 Bug Report

Hi I was seeing this error for a long time on my sentry logs, when I reported it a time ago it was marked as related to another issue where was specified that issue happened when there aren't any tts engine installed on the device, but I was able to reproduce it my device and it had installed tts engine.
### Reproduction steps

Here is my code
[code]

This code is located on the i

[2020-07-15 19:25] farazk86 commented on #138
@dlutton Here is the logcat output, if this helps in any way.

[code]

Thanks

[2020-07-15 23:35] farazk86 commented on #138
Hi, so I managed to fix this. I still get the same error now but at least the text to speech is working and the ``speak`` function says any string passed to it.

I still get these messages in logcat, but works as intended.

[code]

This is what I did, I right clicked on ``build.gradle`` located in ``project_name\android\build.gradle``  and selected import gradle project.

after an import close and

[2020-07-16 10:57] #138 closed

[2020-07-17 15:39] seanradford commented on #106
As an addendum to my previous post. It does appear that with headphones the volume is audible 'all or the time'.

And to re-iterate, this is with 1.2.6 (latest version). As such should this issue be re-opened?

[2020-07-17 21:10] dlutton commented on #106
thanks for reporting this issue @seanradford, I'll take a gander.

[2020-07-18 21:58] farazk86 opened #140 "synthesizeToFile trying to save file at wrong location/path"
## 🐛 Bug Report

I'm using ``synthesizeToFile`` to save to Downloads folder in android. I used ``Android Path Provider`` dart package to get the path to Downloads. Which works fine. I then want to save the file to this path.  To get the full save path I do: ``String _savePath = p.join(_downloadsPath, 'tts.wav');`` which returns on ``print(_savePath)``:

`/storage/emulated/0/Download/tts.wav`

I tr

[2020-07-19 01:18] farazk86 commented on #140
Right, so its clear that we cannot give a custom path, as when I tried to just use the file name as in the example readme with the command:

`await _flutterTts.synthesizeToFile(_controller.text,'tts.wav');`

I get the message:

`D/TTS     (18619): Successfully created file : /storage/emulated/0/Android/data/com.lewanayustaz.easy_ocr/files/tts.wav`

It would be great to give custom paths and let us

[2020-07-19 02:35] slimyTextBox opened #141 "When calling speak() multiple times, with await and async, only last call is returned/executed."
## 🐛 Bug Report

Code below, when I call speak() multiple times, having all the calls awaited in async funtions, only last call is executed and spoken. "await" and ".then"  make no difference. I tried async functions with multiple types: Future, Future void , Future int , void. With and without return.

Language is set to "en-US" runtime

Tested on android

**Version:** ^1.2.6

**Platform:**
- [NO

[2020-07-19 07:20] dlutton commented on #140
The "/storage/emulated/" folder does not really exist on the device, it's more of a reference.  It should be stored somewhere in  "Internal Storage" on the device.  You can pull the file down using adb.  `adb pull /storage/emulated/0/Android/data/com.lewanayustaz.easy_ocr/files/tts.wav` in your case on the command line.  I'm glad you're providing input as I'm wasn't sure how people were going to u

[2020-07-19 07:30] dlutton commented on #141
Thanks for this report.  I'll need to change the future to return when the speak has completed rather than immediately.

[2020-07-19 19:32] slimyTextBox commented on #141
Thank you

[2020-07-19 21:01] farazk86 commented on #140
Thanks for the reply.

Until you get that feature implemented of custom save path, can I make this work by possibly copying the file synthesized to my custom path.  I can use a function like below to move the generated file from its default location to the new one, but I am having trouble getting the String path of the default saved tts file. I tried looking at the source but could not figure it o

[2020-07-20 22:31] farazk86 commented on #140
Also I'd like to update this, that I am positive that ``synthesizeToFile`` is not working as intended.

It does not generate a file that can be seen in file explorer. Even in the default location

[2020-07-21 21:27] dlutton commented on #140
I'll take a look at this issue @farazk86.

[2020-07-23 10:03] dlutton commented on #140
@farazk86 I tested synthesizeToFile on Android and it does appear to be working.  You can run `adb pull /storage/emulated/0/Android/data/com.lewanayustaz.easy_ocr/files/tts.wav` from the command line or on your emulated device you can go to Settings -> Storage -> Internal Shared Storage -> Files -> Click on Audio at the top and the wav file should appear for you to play.  I have attached a screens

[2020-07-23 19:16] youssefRA opened #142 "add a custom language in TTS flutter"
## 💬 Questions ai need a way to add a custom language
I have this :-
`class homeApp extends StatefulWidget {
  @override
  _homeAppState createState() => _homeAppState();
}

class _homeAppState extends State<homeApp> {
  FlutterTts flutterTts;

  @override
  void initState() {
    flutterTts = FlutterTts();
    super.initState();
  }

  @override
  Widget build(BuildContext context) {
    Future s

[2020-07-23 19:39] dlutton commented on #142
you'll have to use one of the language codes being returned by the getLanguages method.  If 'ar' is returned, you should be able to use that successfully to speak your desired text.  If not, then the google TTS engine doesn't support it on Android.

[2020-07-23 19:47] youssefRA commented on #142
it is not returned, is there is any another way

[2020-07-23 20:17] dlutton commented on #142
Not with this package unfortunately.  You can see if Google cloud provides that language.

[2020-07-23 22:09] youssefRA commented on #142
okay, thanks a lot.

[2020-07-23 22:11] #142 closed

[2020-07-29 04:12] SandroMaglione commented on #141
I think that the same bug is in the `whenComplete` callback.

I am trying to make the system speak two words one after the other, the second one when the first is completed. This is the code I used:
[code]

The bug seems to occur and the system speaks only the second word (word2).
The log prints these messages:
[code]
So it seems that the first word starts, but the `whenComplete` does not wait for

[2020-07-29 05:32] SandroMaglione opened #143 "java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference"
## 🐛 Bug Report
Sometimes when calling the `speak` method there is an error in `FlutterTtsPlugin.java` which causes the speak to be delayed.
This bug happens on Android, SDK < 26. I report the error here below:
[code]

I also report the function in which the error occurs in the source code `FlutterTtsPlugin.java`:
[code]

### Expected behavior
The voice should speak without delay.

### Reproductio

[2020-07-30 03:50] seal1978 opened #144 "sometimes, the tts stop automatically."
## 💬 Questions and Help

some times, the tts stop speaking automatically.
 if stop 2 seconds then speak, it will be improved.
In order to stop the unfinished tts voice and begin a new one, in my code, firstly execute stop tts, then begin speaking.   Is it cause the issue?

 I hope not to stop so long time to improve it.

[2020-08-05 17:42] tinywolf3 opened #145 "[iOS] synthesizeToFile does not support language and voice settings."
## 🐛 Bug Report

synthesizeToFile does not support language and voice settings.

### Expected behavior

synthesizeToFile supports voice settings.

please insert the below codes to SwiftFlutterTtsPlugin.swift on line 146.
      if self.voice != nil {
        utterance.voice = self.voice!
      } else {
        utterance.voice = AVSpeechSynthesisVoice(language: self.language)
      }
      utterance

[2020-08-06 12:58] dinhan1192 opened #146 "I wonder why my set completion handler not work as expected"
I tried setting up my set completion handler in the init State, but it does not work at all !!

[2020-08-06 19:04] luckyhandler opened #147 "Pronounciation is German though language is set to en_GB"
## 🐛 Bug Report

When a device with a German locale is used and the language is set to en_GB, the pronounciation is still in German on Android devices.

### Expected behavior

The pronounciation is in the language passed to `flutterTts.setLanguage('language')`

### Reproduction steps

1. Create FlutterTts instance --> `final FlutterTts _flutterTts = FlutterTts();`
2. Set language to `en_GB`
3. Cha

[2020-08-06 19:09] luckyhandler opened #148 "Leaked ServiceConnection in Android"
## 🐛 Bug Report

The Android Version leaks a Service Connection:
[code]

### Expected behavior

No leaks.

### Configuration

**Version:** ^1.2.6

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2020-08-06 20:50] JBaba opened #149 "Recommdation of edge case with stop() should be documented"
## 💬 Questions and Help

I have found edge case and after debugging the module has found the solution. I don't know if this is bug or not But users should be aware about it if this behavior occurs. For current release i think this should be documented on the read me or anywhere else.

### Short summary:
**Platform observed:** Android
**Error:** Nullpointer / VM shutdown
**Result:** App crash
**Wor

[2020-08-13 13:12] mwolffalonso commented on #149
Thanks man, this was a life saver!

[2020-08-14 13:31] mwolffalonso commented on #149
Sorry for my ignorance, but how is it that two different plugins use the same platform methodchannel? Shouldn't be different channels?

[2020-08-20 14:00] hangzhi22 opened #150 "Cannot find header in Objective-C template project."
**Issue:**
 IOS: for some objective-c projects/plugins, cannot add "use_frameworks!" instruction, because some plugin use static library.

The error:
----
 fatal error: 'flutter_tts/flutter_tts-Swift.h' file not found
#import <flutter_tts/flutter_tts-Swift.h>

**Solution/Enhancement:**
----------------------------
#import "FlutterTtsPlugin.h"

#if __has_include(<flutter_tts/flutter_tts-Swift.h>)
#

[2020-08-21 04:06] aarzhou commented on #136
I am having the same issue. I am using Samsung Table A. I downloaded both Google and Samsung Text-to-speech engine (seems that the tablet comes with Google English-US pre-downloaded, because I don't see the download button there -- unlike other languages). But when I turn off the wifi, it will throw an exception saying:
[code]

I use everything as default. Simply initialize tts and call `speak`:
[

[2020-08-25 13:44] ryanheise commented on #149
I've submitted a pull request for this bug here: https://github.com/dlutton/flutter_tts/pull/151 .

This fix both guards against the NPE and also stops the current utterance in progress (a FlutterEngine shouldn't use any native resources after it has supposedly been destroyed). This means that in addition to the native bug fix, it is also probably a good idea to do what you're doing in Dart and en

[2020-08-25 15:54] ryanheise commented on #148
This leak happens only with the v1 implementation due to limitations with Flutter's original plugin API. After looking into it there is potentially a half solution by hooking into `addViewDestroyListener` but the documentation for this method seems to suggest that it would only be called when the activity is destroyed and so I'm not sure if this is a universal solution that would also detect when

[2020-08-25 16:04] ryanheise commented on #148
By the way, Google recently updated their plugin template in two interesting ways. First, the minimum Flutter SDK version is now set to 1.20. Second, legacy v1 code has also been removed from the plugin template. What this means is that one potential solution to this bug is to simply remove the v1 implementation, now that v1 is no longer supported by Google.

[2020-08-25 21:46] dlutton commented on #144
do you have an example of what you're running when tts stops speaking automatically?

[2020-08-27 04:25] ryanheise opened #152 "Make speak await completion"
## 🚀 Feature Requests

It would be very convenient if the Future returned by `FlutterTts.speak` marked the completion of the utterance.

### Contextualize the feature

This can be handled within the plugin's implementation of `speak`, at the Dart layer.

### Describe the feature

The most common thing I need to do using this plugin besides initiating a `speak` request is to wait for it to complete

[2020-08-27 09:06] dlutton commented on #152
similar to issue #141, where I mentioned "I'll need to change the future to return when the speak has completed rather than immediately."  This is definitely on my radar as this is how it should be working.

[2020-08-29 07:01] devon opened #153 "getVoices should return Language too, not only name"
## 🚀 Feature Requests

[code]

Right now, the getVoices only return names, but we don't know the language for the name. Let's say, which voice is for French, which one is for English.

We cannot set the right voice if we don't know the language of the voice.

### Platforms affected (mark all that apply)
- [x ] :iphone: iOS
- [ x] :robot: Android

[2020-08-30 06:55] #140 closed

[2020-08-30 06:57] #124 closed

[2020-08-30 07:15] dlutton commented on #97
@coder-Aayush is this still an issue?  I have tested in an emulator and it doesn't appear to be an issue.

[2020-08-30 07:16] coder-Aayush commented on #97
I will check and confirm it...

[2020-08-30 08:04] coder-Aayush commented on #97
@dlutton Ya issue  doesn't appear now. But when I press back action button the app crash. Can you check it.

[2020-08-30 08:07] coder-Aayush opened #154 "Exporting Speech as Audio Files"
## 🚀 Feature Requests

It will be awesome if there was feature of exporting speech as audio file.

[2020-08-30 08:42] dlutton commented on #97
@coder-Aayush do you mind opening a new issue then with details of the app crash?  Thank you!

[2020-08-30 08:42] #97 closed

[2020-08-30 08:44] dlutton commented on #154
@coder-Aayush synthesizeToFile allows you to save the text as an audio file.  Do you have an example of what you're trying to do specifically?

[2020-08-30 09:04] #145 closed

[2020-08-30 09:04] #149 closed

[2020-09-01 09:25] coder-Aayush commented on #154
I am trying to export speech as an audio file. Is this can be a features update.

[2020-09-01 09:27] dlutton commented on #154
you can currently save the speech as an audio file and from there you can do as you wish.  Use the synthesizeToFile method.

[2020-09-02 08:08] Savyash opened #155 "I/TextToSpeech(18051): Asked to disconnect from ComponentInfo{com.google.android.tts/com.google.android.tts.service.GoogleTTSService}"
## 🐛 Bug Report

### Expected behavior
Lost connection to device.

### Reproduction steps
no specific steps to produce

**Version:** ^1.2.7

**Platform:**
- [not sure] :iphone: iOS
- [yes] :robot: Android

[2020-09-02 16:24] davidgalarza commented on #139
Any update? I had a lot of reports about that from my app users

[2020-09-03 17:41] Entrepreter commented on #66
I guess one of the ways is to start the second textString after the first text has been read.
like
`flutterTts.setCompletionHandler(() {
      if (i < length) {
        speak(sentences[i]);
      }
    });`

[2020-09-03 18:57] #154 closed

[2020-09-03 19:09] dlutton commented on #146
do you have an example of your code where it's not working?

[2020-09-04 06:13] davidgalarza commented on #139
My device is Huawei 20 lite and I can confirm that it happened to my sometime is not really common but it happens.
The plugin is working great but sometimes I don't know why on my phone if start to fail an log

[code]

When the plugin is working correctly the available languages on my phone are

[code]

When I restart my app it start to works again.

Here are some statistic of this error reported

[2020-09-14 08:50] tranduc3sao opened #156 "Error when using another language on iOS"
## 🐛 Bug Report

I configure it to use Vietnamese vi-VN. It works fine on Android but on IOS it uses english en-US

### Expected behavior

### Reproduction steps
[code]

### Configuration

**Version:** 0.8.6

**Platform:**
- [x] :iphone: iOS
- [x] :robot: Android

[2020-09-14 09:05] dlutton commented on #156
what is the response you receive from `await tts.isLanguageAvailable("vi-VN");` on iOS?

[2020-09-14 09:53] tranduc3sao commented on #156
The value is false. And I don't see the Vietnamese language in the getLanguages function result. Does the library only support Android and not iOS?

[2020-09-14 15:40] r0hit-gupta commented on #106
I am facing the same issue. The volume is almost inaudible for most iOS devices.

[2020-09-14 15:56] seanradford commented on #106
Hi @r0hit-gupta,

Try adding the defaultToSpeaker option and see if that helps:

[code]

[2020-09-14 17:49] dlutton commented on #156
@tranduc3sao flutter_tts is supported on Android and iOS however the package is using their native TTS libraries so there are going to be some differences between the two.  iOS AVSpeech​Synthesizer may not support the Vietnamese language.

[2020-09-15 06:03] diegodalbosco commented on #144
I've the same problem on iOS, the audio category is ambientSolo. With some phones it's working well and some other not. I saw that when the tts stops playing in the middle of a word, the cancel callback is called.

[2020-09-16 16:09] r0hit-gupta commented on #106
@seanradford thanks a lot. It worked for me.

[2020-09-21 14:37] silaic opened #157 "setVoice"
i have an issue on setVoice()
i set voice just before call play(String text), but voice set seems not works.
i read italian voices from logging and set one as default. (not works)
i read voices using getVoices, then set first one from set using:
setVoices(tts.getVoices().first())
and even this not works.
i run debug app on phisical device ( redmi8) or on android emulator phone but result is same.

[2020-09-27 10:07] xbadal opened #158 "iOS sound issue"
Volume is too low in iOS but works fine in Android.

[2020-09-28 08:54] dqtorres opened #159 "Set Engine TTS"
The configuration would be missing, to be able to use other tts engines and not use the default

[2020-09-28 08:54] dqtorres commented on #159
The configuration would be missing, to be able to use other tts engines and not use the default

[2020-09-28 08:57] dqtorres commented on #159
There is no way to be able to use reciprocating engine installed in the device

[2020-09-30 02:03] Chung14011998 opened #160 "When speaking underscore."
## 🐛 When I buiild app on debug mode, underscore is still read. But when I build app on release mode, lib skipped underscore?
How to delay about 2 seconds at the between statement?

### Expected behavior: Speak underscore when building release app

### Reproduction steps

### Configuration

**Version:** 1.2.7

**Platform:**
- [x] :iphone: iOS
- [x] :robot: Android

[2020-09-30 02:32] Chung14011998 commented on #160
I already had a trick, thanks.

[2020-09-30 02:32] #160 closed

[2020-10-07 11:42] silaic commented on #157
i solved the issue using a workaround.
instead using

await player.setVoice(voice);

used it without Future functions, just:

player.setVoice(voice)  // works like a charm

[2020-10-07 21:39] dlutton commented on #159
For Android, the default engine in this package is using "com.google.android.tts", are you looking for an option to pass a string such as "com.svox.pico" to use a different engine?

[2020-10-08 14:23] yamsergey opened #161 "Crash with Out Of Bound exception"
## 🐛 Bug Report

On Mac OS when I'm trying to play `Il mattino ha l' oro in bocca.` the plugin crash with `out of bound exception`.

After debugging it appears that the system sends negative `length` within the range for the last character:

![image](https://user-images.githubusercontent.com/666661/95471043-c6763980-0981-11eb-8a33-403c489290c9.png)

Unfortunately, I haven't found any documentation

[2020-10-08 22:43] dashanan13 opened #162 "Hindi on Samsung sounds totally different than on other brands"
## 💬 Questions and Help

Hei Dev, **I am trying to make an app for my kid to learn HINDI letters and an app that speaks out is a given.**
I use flutter_tts: ^1.2.7 and have 2 devices (Samsung A8 2018, MI Redmi 4) and they both give me different results for the same code.
_PS: Hindi has a lot of sounds and letters._

**1. Samsung A8 2018:**

 _Says Hindi in British English,_ I mean every sound or l

[2020-10-10 03:26] ahmedhassan747474 opened #163 "add arabic language plz"
add arabic language plz

[2020-10-10 07:32] dlutton commented on #163
Unfortunately I'm not able to add a language.  This package uses the native TTS engines on Android and iOS, so the languages depend on what is supported on the device natively.

[2020-10-10 07:33] #163 closed

[2020-10-10 08:45] ahmedhassan747474 opened #164 "How to adding new Language?"
How to adding new Language

[2020-10-10 18:18] dlutton commented on #164
You'll have to request it through Google (Android) or Apple (iOS).
Google TTS = https://developer.android.com/reference/android/speech/tts/TextToSpeech
Apple TTS = https://developer.apple.com/documentation/avfoundation/avspeechsynthesizer

[2020-10-10 18:18] #164 closed

[2020-10-13 17:25] tandacedric commented on #152
When will this be available? Please this keeps me from moving forward

[2020-10-13 19:34] dashanan13 commented on #162
@dlutton Any help on this.

[2020-10-14 00:47] dlutton commented on #162
For 1 where you say "Says Hindi in British English", what's the language you're setting it to?  Also, the only TTS engine being used for Android in this package is Google.

Unfortunately I don't have either over those devices, but I'll see what I can replicate with emulators.

[2020-10-14 00:49] dlutton commented on #152
I'll see if I can make some time over the weekend @tandacedric.

[2020-10-14 02:31] hqwlkj opened #165 "1.2.7 Veersion Compilation exception"
## 🐛 Bug Report
[code]
### Expected behavior

### Reproduction steps

### Configuration

**Version:** ^1.2.7

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2020-10-14 02:47] hqwlkj commented on #165
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.7 19H2, locale zh-Hans-CN)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.7)
[✓] Android Studio (version 4.0)
[✓] IntelliJ IDEA Ultimate Edition (version 2020.2.3)
[✓] Connected device (1 available)

•

[2020-10-14 07:28] dlutton commented on #165
Have you tried migrating to [AndroidX](https://flutter.dev/docs/development/androidx-migration#recommended-use-android-studio-to-migrate-your-app)?

[2020-10-15 11:13] ahmedhassan747474 commented on #164
thank you

[2020-10-16 15:04] edwinbustamanterodriguez commented on #155
I have the some problem:
#Text_to_speech
  flutter_tts: ^1.2.7

Any Solution..??

[2020-10-18 08:05] dlutton commented on #161
do you have the code snippet you're running when receiving this error and the language this is crashing with?

[2020-10-18 08:55] #156 closed

[2020-10-18 08:56] dlutton commented on #157
can you provide the voice and text you're using?

[2020-10-18 08:59] dlutton commented on #155
can you provide any activity that may have caused this issue?

[2020-10-18 13:44] yamsergey commented on #161
I've faced it the first time with Italian `Il mattino ha l' oro in bocca`.  The code snippet is quite simple:
[code]

`ttsCode` for Italian is `it` in my case.

[2020-10-18 17:43] dashanan13 commented on #162
@dlutton
I am setting 'hi-IN' for Hindi Indian and yes the TTS engine is Google.
It would be nice if you can solve this, as my app is mostly for kids who want to learn the sounds of things etc.
If this does not work I go back to recording and playback making the app heavy and internet reliant :(

[2020-10-19 11:07] #141 closed

[2020-10-19 11:07] #152 closed

[2020-10-19 11:09] dlutton commented on #152
so that it maintains backwards compatibility, you can now simply call `await flutterTts.awaitSpeakCompletion(true);` with the latest version and it will await until speak has completed.  This only needs to be called once.

[2020-10-19 11:09] dlutton commented on #141
so that it maintains backwards compatibility, you can now simply call `await flutterTts.awaitSpeakCompletion(true);` with the latest version and it will await until speak has completed.  This only needs to be called once.

[2020-10-19 23:26] dlutton commented on #66
I just pushed an update to allow the speak to await completion (`flutterTts.awaitSpeakCompletion(true)`) so you can set that and then create a loop based on the length of the input.

Something like this if the character count is going to be above 4000 (not tested).
[code]

[2020-10-19 23:27] #25 closed

[2020-10-20 07:06] dlutton commented on #161
I was able to recreate the issue.  It's interesting that removing `ha` from your sentence results in a successful utterance.  I'll continue to look into the issue.

[2020-10-23 09:16] MurtuzaSrashtaSoft commented on #160
how you put a delay between the statement?

[2020-10-23 09:18] Chung14011998 commented on #160
No, I replace "_" to text "underscore". So this problem is solved.

[2020-10-23 09:21] MurtuzaSrashtaSoft opened #166 "In iOS continually speak. not stop(delay) even sentence is end by dot(.)."
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android

[2020-10-23 10:01] MurtuzaSrashtaSoft commented on #166
in android is working fabulously. but ios do not work propper.

[2020-10-23 10:04] MurtuzaSrashtaSoft opened #167 "When I update pub 1.2.7 to 1.3.0. I m not able to run applications in android and ios."
When I update pub 1.2.7 to 1.3.0. I m not able to run applications in android and ios.

![Screenshot 2020-10-23 at 3 31 11 PM](https://user-images.githubusercontent.com/64843262/96990830-420ce480-1545-11eb-8c72-1c643942b83e.png)

**Version:** 1.3.0

**Platform:**
- [x] :iphone: iOS
- [x] :robot: Android

**Flutter Version:** 1.22.2 Stable

Even 1.2.7 also not work.

[2020-10-23 10:10] MurtuzaSrashtaSoft commented on #160
Thank you for your reply. but I m asking this question **How to delay about 2 seconds between statement?** @Chung14011998

[2020-10-23 10:52] MurtuzaSrashtaSoft commented on #167
Resolve just remove this import

//import 'package:flutter_tts/flutter_tts_web.dart';

[2020-10-23 10:53] #167 closed

[2020-10-23 12:23] MurtuzaSrashtaSoft commented on #82
i set this voice but still speak male voice **en-gb-x-afx#female_1-local**

[2020-10-25 20:58] dqtorres commented on #159
Yes, the google engine does not express all languages ​​well, I am from Barcelona and the Catalan language is not very successful by google, I use an engine from the company acapela tts voice

[2020-10-25 20:58] dqtorres commented on #159
Yes, the google engine does not express all languages ​​well, I am from Barcelona and the Catalan language is not very successful by google, I use an engine from the company acapela tts voice

[2020-10-26 00:07] dlutton commented on #166
can you provide an example of the text you're using?

[2020-10-26 00:10] dlutton commented on #159
okay and do you also need an option to install the tts engine if not installed on the device or how were you planning on handling that scenario?

[2020-10-27 04:46] MurtuzaSrashtaSoft commented on #166
When listening only use these two clean language **questions.  1.** What kind of x (is that)?  2. Is there anything else about X?  For example, I might say "I get angry with my friend sometimes” You reply, “What kind of anger is that”  I might then say "I feel frustrated” You reply, “Is there anything else about feeling frustrated”  By using only these two questions we stay with what the speaker i

[2020-10-28 21:39] dqtorres commented on #159
I was thinking of installing it manually, and in the application some preferences to select the engines installed in the devices

[2020-10-28 23:01] dlutton commented on #159
okay so there is already an `await flutterTts.getEngines();` call you can make, so you're hoping to use a selection from that list to set the TTS engine right.

[2020-10-28 23:15] dlutton commented on #162
@dashanan13
Unfortunately I'm not able to recreate the issue on an emulator and I don't have those devices to test with.  Do you experience the same results when using an emulator?

[2020-10-29 10:05] dlutton commented on #153
are you requesting a list of strings containing both the voice name and locale, or a map containing name and locale of the voice?

[2020-10-29 15:39] devon commented on #153
A map containing the name and locale of the voice should be better. Thanks.

[2020-10-29 23:57] dlutton commented on #123
Fix to #66 has been merged.

[2020-10-29 23:57] #123 closed

[2020-10-30 08:37] #108 closed

[2020-10-31 15:04] nick-uk opened #168 "await speak completion issues - v1.3.0"
## 🐛 Bug Report

await flutterTts.speak() doesn't block. setCompletionHandler() is not always triggered.

### Expected behavior
Await until competition.

### Reproduction steps
[code]

-----> output
I/flutter ( 4585): [2020-10-31 14:51:09.226713] App says: Voice is enabled, I can read your everything you want.
I/flutter ( 4585): [2020-10-31 14:51:09.236404]-> DEBUG: SPEAK COMPLETE
I/flutter ( 4585

[2020-10-31 17:16] dlutton commented on #168
Try setting this flag before speaking `await flutterTts.awaitSpeakCompletion(true);`.

[2020-10-31 18:01] nick-uk commented on #168
Hi dlutton,

Perfect. This seems to solve my issue!

[2020-10-31 18:34] #168 closed

[2020-11-05 01:49] alexmcroberts commented on #158
I noticed this too. One thing I tried was setting the `defaultToSpeaker` option, and that helped me.

[code]

[2020-11-05 04:49] #106 closed

[2020-11-05 20:04] benunes01 commented on #158
did that solve the problem? I also have this problem!

[2020-11-05 23:33] #165 closed

[2020-11-06 11:19] johanlantz commented on #153
Agree that a map is probably nicer but I had the same problem and added a polling API in the plugin since it was the simplest solution.

Opened a PR here: https://github.com/dlutton/flutter_tts/pull/169
in case anything there can be of help.

[2020-11-06 11:23] dlutton commented on #153
I appreciate the PR @johanlantz however I already have the fix for this which is a map containing both the voice and language and when you set the voice, it requires both the voice and language.  I'm currently adding another separate fix and then I'll push the changes hopefully over the weekend.

[2020-11-06 11:25] devon commented on #153
Both of you are great. @johanlantz  @dlutton

[2020-11-07 05:03] dlutton commented on #128
Are you requesting this for Android and iOS?  I don't believe the speak method returns anything for iOS, however it does for Android as you mentioned.

[2020-11-07 10:48] fengzhisheng opened #170 "No sound on Android 28"
## 🐛 Bug Report
No sound on Android 28

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :robot: Android

[2020-11-08 08:52] dlutton commented on #170
I have tested the latest version on API level 28 and I'm receiving sound.

[2020-11-08 21:21] dashanan13 commented on #162
Yes, i do on emulator too
I am trying to pronounce these:
const List<String> kSwar = ['अ','आ','इ','ई','उ','ऊ','ऋ','ए','ऐ','ओ','औ','अं','अः'];
const List<String> kVyanjan = ['क','ख','ग','घ','डं','च','छ','ज','झ','ञ','ट','ठ','ड','ढ','ण','त','थ','द','ध','न','प','फ','ब','भ','म','य','र','ल','व','श','ष','स','ह','क्ष','त्र','ज्ञ'];
const List<String> kEkseSauShabds = ['शून्य','एक','दो','तीन','चार','पांच',

[2020-11-13 04:36] Scias opened #172 "Endless wait if no TTS engine is installed or enabled on the device"
## 🐛 Bug Report

It appears that if an Android device doesn't have any TTS engine installed (at least that's the case for Google TTS), calls like getEngines, getLanguages and isLanguageAvailable never return and keep awaiting indefinitely.

I use isLanguageAvailable during my app startup to check if TTS is functional on the device, however it never returns and stalls the whole application forever.

[2020-11-17 17:03] hiashutoshsingh opened #173 "get information of app open through talkback"
## 🚀 Feature Requests

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [ ] :robot: Android

[2020-11-17 18:03] dlutton commented on #173
what type of information are you looking for?  Can you provide more detail on this feature request?

[2020-11-18 17:12] Syutkin commented on #159
Maybe at least not hardcode "com.google.android.tts" and use selected android TTS engine instead?

[2020-11-20 01:22] newengine commented on #152
how to interrupt and start a new speech?

[2020-11-20 01:24] dlutton commented on #152
@newengine `await flutterTts.stop()` should work for you.

[2020-11-20 17:38] newengine commented on #152
after stop(),  it can not resume playing.

[2020-11-20 18:02] dlutton commented on #152
@newengine can you add a snippet of the code you're running.

[2020-11-20 20:52] newengine commented on #152
i am using it with Audioservice.    it works fine when it's not using await flutterTts.awaitSpeakCompletion(true);,

below is the code to resume the play after calling stop()

      final session = await AudioSession.instance;
      if (await session.setActive(true)) {
        await AudioServiceBackground.setState(
          controls: [MediaControl.pause, MediaControl.stop],
          processingSt

[2020-11-20 22:52] dlutton commented on #152
`flutterTts.awaitSpeakCompletion(true);` is optional, so if it works fine without it, you should continue without using it.  Is there a reason you started using it?  I'm not sure what you mean by "resume" play.  Do you mean pausing tts and then continuing on (pausing doesn't work with android) or did you mean stopping and then speaking a new text being passed to it?

[2020-11-23 08:50] MurtuzaSrashtaSoft opened #174 "How to set kate voice for ios en-GB."
## 💬 Questions and Help

How to set kate voice for ios en-GB.

I m doing the below code but it's speak **Daniel** voice and I want to set kete voice for the same.

[code]
Thank you in advice for your help.

![Skype_Picture_2020_11_23T08_28_36_757Z](https://user-images.githubusercontent.com/64843262/99943173-e083a400-2d96-11eb-9fd8-5c98300bbc51.jpeg)

https://stackoverflow.com/questions/64965412/ho

[2020-11-24 16:53] dlutton commented on #174
@MurtuzaSrashtaSoft, I have a fix for this coming in soon that will allow you set pass in the voice name and language to set the correct voice.

[2020-11-25 02:15] drcdev opened #175 "Linux and Windows desktop support"
## 🚀 Feature Requests

Desktop TTS support for Linux and Windows

### Contextualize the feature
The framework already supports iOS, Android, and MacOS, so adding Linux and Windows support would round out the offering and provide more flexibility.

### Describe the feature

For both Linux and Windows, build out feature parity with other platforms where possible. Windows has built in TTS support as

[2020-11-25 02:19] drcdev commented on #175
I'd be interested submitting a PR for Linux at least, but its been a long time since I did anything in C++. Will give it a shot if you would consider a PR!

[2020-11-25 03:42] dlutton commented on #175
@drcdev I'm always open to PRs and thanks for suggesting it.  My next target was going to be Windows anyways, however I was hoping for C# support.  It doesn't look like that will be possible according to some of the issues raised in the flutter github repo, so I'll have to do it in C++.

[2020-11-25 11:57] mulieli commented on #170
@dlutton
I still have this problem, how to solve it

[2020-11-28 01:29] ryanheise opened #176 "Null safety support"
## 🚀 Feature Requests

See https://dart.dev/null-safety/migration-guide

### Contextualize the feature

Package authors are being encouraged to start migrating their packages by creating a null-safety preview release, starting at the leaves of the dependency graph. For example, flutter_tts will need to migrate to null safety before packages that depend on flutter_tts can migrate to null safety.

#

[2020-11-28 18:52] dlutton commented on #176
@ryanheise thanks for adding this feature request.  I'll be adding null-safety soon.

[2020-11-28 18:55] #157 closed

[2020-11-28 19:01] dlutton commented on #153
Sorry for the delay, @devon and @johanlantz, when you get a moment, can you test this PR to see if it works for what you're requesting? #177. If you need assistance on pulling in this dependency using a certain branch, you can look here (https://flutter.dev/docs/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages).  Use the ref argument to pin the branch you want t

[2020-11-28 19:03] dlutton commented on #80
Sorry for the delay, @Lx , when you get a moment, can you test this PR to see if it works for what you're requesting? #177. If you need assistance on pulling in this dependency using a certain branch, you can look here (https://flutter.dev/docs/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages).  Use the ref argument to pin the branch you want to use.  In this ca

[2020-11-28 19:09] dlutton commented on #158
@benunes01 and @xbadal, did @alexmcroberts's comment fix your issue?

[2020-11-29 06:30] CalvinTp opened #178 "Unable to read long text"
## 🐛 Bug Report

I am using flutter_tts and noticed that if the text is long, the text would not be read out loud on Android platform. I don't have the same issue on iOS. For only have a few sample of test:
- If the length of text is 3500 then there is no issue
- If I double the length of the text to 7000, the text would not be read out loud.

### Expected behavior
- Always read the text input reg

[2020-11-29 06:32] CalvinTp commented on #166
You can test by putting a space after the dot. I found this behavior when I am using flutter_tts and edited the text to include a space after "." so that the reading would space out as intended. I am not sure whether this would help your case, just sharing my experience.

[2020-11-29 08:18] CalvinTp commented on #178
After going through older issues, this issue is similar to issue #66

[2020-11-29 08:19] CalvinTp commented on #178
Duplicate of #66

[2020-11-29 18:33] dlutton commented on #178
what's your preference for this to work @CalvinTp?  On the Android side, we can add the extra text to the queue rather than flushing the new text.  https://developer.android.com/reference/android/speech/tts/TextToSpeech#QUEUE_ADD

The only problem with adding it to the queue by just looking at the text length on the Android end and splitting up the code is that it may break up in the middle of a w

[2020-11-29 23:44] #146 closed

[2020-12-03 10:23] khansultan1 opened #180 "Not able to change male voice (Arabic and English mode)"
## 🐛 Bug Report
While getting the voice list I'm getting a list of voices available but when trying to set voice, only Female voice is getting even after setting male in both language English or Arabic mode.

 await flutterTts.setVoice("en-us-x-sfg#male_1-local" );

### Expected behavior
it should get a male or female voice based on voice set
### Reproduction steps

### Configuration

**Version:**

[2020-12-03 12:07] MurtuzaSrashtaSoft commented on #166
ok

[2020-12-03 12:09] MurtuzaSrashtaSoft commented on #174
Thanks for the quick development and response.

[2020-12-03 19:11] dlutton commented on #180
@khansultan1 can you test this PR to see if it works for what you're requesting? #177. If you need assistance on pulling in this dependency using a certain branch, you can look here (https://flutter.dev/docs/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages). Use the ref argument to pin the branch you want to use. In this case, that ref is voice_enhancement. If i

[2020-12-04 12:11] devon commented on #153
It works. Thanks.

I test on a demo app as:

[code]

getVoices return:

[code]

[2020-12-05 20:38] #170 closed

[2020-12-05 20:38] #174 closed

[2020-12-05 20:38] #80 closed

[2020-12-05 20:38] #153 closed

[2020-12-05 20:38] #180 closed

[2020-12-06 16:01] CalvinTp commented on #178
@dlutton, sorry for the delay in responding as I was tied up. As you pointed out, I also wanted to prevent codes that break the strings based on length as it might breaks in the middle of a word or sentence (which would be bad for narration).

I wrote some codes below to handle the conditions to find some natural breakpoints for English texts. I have not covered extensively all the conditions.

Th

[2020-12-07 05:05] dlutton commented on #178
Either way it sounds like it should be up to the user to split out the text and not the plugin.
I created a PR for you to test when you get a moment.

You can include the branch in your dependency like below and test it out when you get a moment:
[code]
All you have to do is run `await flutterTts.setQueueMode(1);` and then you can split up your code however you wish and run that text within the `s

[2020-12-09 12:48] thorvalld opened #182 "Support of Icelandic"
## 🚀 Feature Request: Adding support for Icelandic language

### Describe the feature
It would be so nice to add the support for Icelandic languages in the TTS package, are there any plans for Icelandic ?

### Platforms affected
- [x] :iphone: iOS
- [x] :robot: Android

[2020-12-09 17:54] dlutton commented on #182
@thorvalld unfortunately I'm not able to add specific language support through this flutter package.  This package uses the platform specific package for TTS.  Android uses the google text to speech package and iOS uses Apple's text to speech package.  You'd have to request it through Google or Apple if it's not supported on your device.

[2020-12-10 10:03] thorvalld commented on #182
Oh I see, hopefully Google/Apple adds the support for the language soon!

[2020-12-10 21:29] #182 closed

[2020-12-21 18:19] Fabrizio1407 opened #183 "Two letters read like acronym"
## 🐛 Bug Report

Sometimes some short word or syllabes are read like an acronym (example, "na" seems "N.A."

### Expected behavior

Just to read a word
### Reproduction steps

[code]
### Configuration
Web
**Version:** 0.1.x
flutter_tts: ^2.0.0
**Platform:**
- [ ] :web: Chrome, Edge (mostly on Windows)

[2020-12-24 23:25] meowofficial opened #184 "Doesn't work with bluetooth headset on iOS"
## 🐛 Bug Report

When bluetooth headset connected and tts engine is beginning to speak, it disconnects headset and speaks through speakers. With wire headset it works as expected. Issue occurs only on iOS.

[2020-12-28 18:42] dlutton commented on #184
Which iOS categories are you setting?

For example:
[code]

[2020-12-28 19:06] meowofficial commented on #184
I didn't set ios audio categories, just used example app from this package.

[2020-12-28 22:09] kayisi44 opened #185 "Arabic language support"
## 🚀 Feature Requests

I think there should be Arabic language support in the Flutter Tts package because now Arabic is one of the languages ​​that are being used frequently and wanted to be learned and we want to add these languages ​​to our applications.

I would be very glad if you could add this feature in the first update to come.

I am working on a language application. I am trying to teach

[2020-12-28 23:24] dlutton commented on #185
Please see the closed issues requesting language support.

Unfortunately I'm not able to add a language. This package uses the native TTS engines on Android and iOS, so the languages depend on what is supported on the device natively.

[2020-12-28 23:24] #185 closed

[2020-12-29 08:54] jane440 opened #186 "example doesn't seem to work"
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android

[2020-12-29 09:08] jane440 commented on #186
My apologies my previous comment was posted in error

[2020-12-29 09:19] #186 closed

[2020-12-29 18:03] dlutton commented on #184
Do any of the Bluetooth audio categories work for you?
allowBluetooth = https://developer.apple.com/documentation/avfoundation/avaudiosessioncategoryoptions/avaudiosessioncategoryoptionallowbluetooth
allowBluetoothA2DP = https://developer.apple.com/documentation/avfoundation/avaudiosessioncategoryoptions/avaudiosessioncategoryoptionallowbluetootha2dp

[2020-12-29 19:29] meowofficial commented on #184
Yeah, it works, thanks

[2020-12-29 19:30] #184 closed

[2021-01-01 15:28] JonasJW opened #187 "[Web, iOS only] Audio not playing if device is muted/ringer is silenced"
## 🐛 Bug Report

Using flutter web, on iOS devices with safari, the audio is only played when device is unmuted/ringer is silenced.

This issue from `video_player` might be related: https://github.com/flutter/flutter/issues/47524

### Expected behavior

Should play audio if device is muted. Not sure if it is a bug or intended behavior but I would expect it play audio when muted too.

### Reproduct

[2021-01-05 17:10] javdev commented on #66
I think the easiest way is, to just issue an error message, if the text is longer than 4000 chars, because now it just stays silent without saying anything and doing anything. This leaves the developer puzzled

[2021-01-05 17:15] dlutton commented on #66
@javdev please see #178.

[2021-01-05 18:38] Rockvole opened #188 "sdk version error"
To reproduce :
Create a blank project with flutter create
In pubspec.yaml add flutter_tts: ^2.0.0

Try to compile, get error :
[code]

Flutter doctor :
[code]

[2021-01-05 18:46] dlutton commented on #188
Please see the [README](https://github.com/dlutton/flutter_tts/blob/master/README.md).

## Android

Change the minimum Android sdk version to 21 (or higher) in your `android/app/build.gradle` file.

[code]

[2021-01-05 18:52] Rockvole commented on #188
Ok. Thanks. Sorry about that.

[2021-01-05 18:52] #188 closed

[2021-01-10 21:22] #66 closed

[2021-01-10 21:22] #178 closed

[2021-01-11 06:50] winniexuwen opened #189 "Android 11 TextToSpeech init failed"
## 🐛 Bug Report

### Expected behavior
Android 11 can speak normally
### Reproduction steps
1. use Android 11 to run example, can not speak.
### Configuration
Android 11
**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [☑︎] :robot: Android

[2021-01-13 19:13] dlutton commented on #189
What's the error you're receiving? Do you have the google TTS engine installed on your device?
Are you able to run `await flutterTts.getEngines();`?

[2021-01-19 12:54] skvasov opened #194 "Duck sound of other apps when TTS is playing on Android. Audio Manager Focus"
## 🚀 Feature Requests

### Describe the feature
I work on navigation app. When the app announces the next manoeuvre I need to duck(temporary) sounds of all other apps. It works like a charm for iOS with `_textToSpeech.setIosAudioCategory(IosTextToSpeechAudioCategory.playback, [IosTextToSpeechAudioCategoryOptions.duckOthers])`, but there is not such feature for Android. As I know it can be done wit

[2021-01-19 15:42] youssef-fk opened #195 "How to run on Isolate when app is in background ?"
## 💬 Questions and Help

Provide question related to this flutter plugin.

How should we go about calling `speakText` when app is in background and the call is made through an isolate ?

I am receiving `ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized.` error.

When calling `WidgetsFlutterBinding.ensureInitialized()` I am receiving `UI actions are only availab

[2021-01-19 22:57] md-siam opened #196 "setLanguage("bn-BD") - not working anymore"
## 🐛 Bug Report

bn-BD was working fine a few days back. But now it's not working.

### Reproduction steps

### Configuration

**Version:** 2.1.0

**Platform:**
- [x] :iphone: iOS
- [x] :robot: Android

[2021-01-20 00:01] dlutton commented on #196
does this language come back when you run `await flutterTts.getLanguages` ?

[2021-01-20 05:19] md-siam commented on #196
flutter: [de-DE, da-DK, en-AU, sv-SE, fr-FR, es-ES, cs-CZ, en-IN, ar-SA, zh-CN, nl-BE, ko-KR, no-NO, pl-PL, zh-TW, fr-CA, fi-FI, pt-PT, ru-RU, sk-SK, it-IT, tr-TR, he-IL, en-ZA, en-US, zh-HK, nl-NL, pt-BR, en-GB, hu-HU, ro-RO, hi-IN, th-TH, el-GR, es-MX, en-IE, id-ID, ja-JP]

I am 100% sure "bn-BD" was there now it's not. How? 😟

[2021-01-20 05:20] dlutton commented on #196
Did you maybe change the device you were on or using a different Android API?

[2021-01-20 05:35] md-siam commented on #196
![Screen Shot 2021-01-20 at 11 32 34 AM](https://user-images.githubusercontent.com/21225918/105131654-93604c00-5b13-11eb-9267-44decac93325.png)

[2021-01-20 05:37] md-siam commented on #196
look at the picture. "bn-BD" + more languages were there.

[2021-01-20 10:44] skvasov commented on #194
Hi @dlutton, thanks for your useful plugin! Do you plan to work on this feature request in nearest future? We are about to release our app, so we would like to know how to proceed with this. Thanks!

[2021-01-20 15:57] md-siam commented on #196
Android  devices have more languages than Apple devices 😩
![Screen Shot 2021-01-20 at 9 53 22 PM](https://user-images.githubusercontent.com/21225918/105200862-760a9c80-5b6a-11eb-86d4-6e3b4f903c54.png)

[2021-01-20 15:57] md-siam commented on #196
Android device:
![Screen Shot 2021-01-20 at 9 51 07 PM](https://user-images.githubusercontent.com/21225918/105200970-8b7fc680-5b6a-11eb-8047-6e70e4af4c15.png)

[2021-01-20 15:59] md-siam commented on #196
Android device has way more languages compared to Apple iPhones 🥺

[2021-01-20 17:58] dlutton commented on #196
Yes that will occur since this plugin uses platform specific text to speech API calls on each device.  You can see the discussion here. https://github.com/dlutton/flutter_tts/discussions/191.

[2021-01-20 18:51] dlutton commented on #194
@skvasov sure, it doesn't seem overly complicated.  I believe in your case you're looking to use https://developer.android.com/reference/android/media/AudioManager#AUDIOFOCUS_GAIN_TRANSIENT_MAY_DUCK

[2021-01-20 20:03] skvasov commented on #194
@dlutton right, `AudioManager.requestAudioFocus()` should be called somewhere before `tts.speak()` function. Thanks for quick reply! Waiting for update on this!

[2021-01-20 23:12] md-siam commented on #196
Thanx your works  🙂

[2021-01-22 08:25] nero-angela opened #197 "iOS app crashes when speaking different languages quickly and alternately"
## 🐛 Bug Report
iOS app crashes when speaking different languages quickly and alternately

When running with the flutter project, the error log was not output, so it was run with xcode.

https://user-images.githubusercontent.com/26322627/105464974-b20e4080-5cd5-11eb-9725-108d3dda42f4.mp4

### Reproduction steps
1. add below code and run
2. quickly press the two buttons alternately
[code]

### Conf

[2021-01-24 19:22] jp555soul commented on #189
I'm having issues on Android 11 also:

Device:
- Pixel 5 (11 RQ1A.210105.003).

TTS engine installed:
- Yes

`getEngines()`:
- `com.google.android.tts`

Error:
[code]

[2021-01-24 21:23] dlutton commented on #189
It appears you're attempting to use a SpeechToTextPlugin with this plugin.  It appears the SpeechToTextPlugin is throwing the error `Speech recognition not available on this device` which is unrelated to this Text to Speech plugin.

[2021-01-25 21:28] #196 closed

[2021-01-27 11:39] niypoo opened #198 "how can get voices for specific language"
how can get voices for specific language, Like I want get all voices in arabic,chinese,french ?

[2021-01-27 20:02] dlutton commented on #198
call `getVoices()` which returns a list of maps containing the voice and locale.

[2021-01-28 08:24] obrunsmann opened #199 "iOS Crashes with: TTSCreateDecryptedDataFromEncryptedData"
Since around one week we see iOS crashes rising with the following trace:

[code]

We have not changed anything in the way calling the TTS library and also the 2.1 Version is unchanged.

**Version:** 2.1

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2021-01-28 11:49] youssef-fk commented on #195
Using the flutter `flutter_isolate` plugin helped with the `WidgetsFlutterBinding.ensureInitialized()` call, which in turn resolved my issue.

[2021-01-28 11:49] #195 closed

[2021-01-28 16:29] mordivgor commented on #112
@joervargas did you find the way? I have the same problem..

[2021-01-28 17:54] mdsalman729 opened #200 "Flutter TTS plugin not initializing on android through an async handler"
Hi,
I am getting this issue when i try to initialize the plugin through an async task.

E/flutter (11121): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: MissingPluginException(No implementation found for method getLanguages on channel flutter_tts)
E/flutter (11121): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:157:7)
E/flutter (11121):

[2021-01-29 08:43] dlutton commented on #199
This appears to be an issue that was addressed by Apple.
https://developer.apple.com/forums/thread/671863

According to that forum, it was an issue with iOS 14.2+, but should be fixed in the latest update.
```A new asset went live today that should resolve this issue, and devices should download it within the next day or so automatically. We will also address the root cause of the crash in a futur

[2021-01-29 08:48] #198 closed

[2021-01-29 08:55] obrunsmann commented on #199
Ah okay, that would explain why it occurred all of a sudden without anything being changed in the package.

Then I will watch the thread. Thanks!

[2021-01-29 08:55] #199 closed

[2021-01-30 11:50] RachResPic opened #201 "flutter_tts in for loop reading only the last index (FLUTTER)"
I am using the `flutter_tts` package for text to speech in my program.
So, I have a List(called **steps**) which is returned from an API and we get the steps list like this :

And when I use my for loop for indexing,
The for loop :

     for (var i = 0; i < steps.length; i++) {
      setState(() {
        readIndex = i;
      });
      translatedText == null
          ? await flutterTts.speak(step

[2021-01-30 11:52] RachResPic opened #202 "flutter_tts in for loop reading only the last index (FLUTTER)"
I am using the `flutter_tts` package for text to speech in my program.
So, I have a List(called **steps**) which is returned from an API and we get the steps list like this :

And when I use my for loop for indexing,
The for loop :

     for (var i = 0; i < steps.length; i++) {
      setState(() {
        readIndex = i;
      });
      translatedText == null
          ? await flutterTts.speak(step

[2021-01-31 09:42] dlutton commented on #201
when using a for loop, you should first set `await flutterTts.awaitSpeakCompletion(true);`

[2021-01-31 22:58] dlutton commented on #202
Duplicate of #201

[2021-01-31 22:58] #202 closed

[2021-02-02 17:01] RachResPic commented on #201
The issue is solved. Thank you so much! @dlutton

[2021-02-02 17:12] #201 closed

[2021-02-07 22:36] #189 closed

[2021-02-15 16:01] seanradford commented on #194
Would it make sense to allow TTS to work nicely with the following plugin to help control such playback settings?

https://pub.dev/packages/audio_session

[2021-02-15 20:30] dlutton commented on #194
@seanradford I agree it would be helpful to allow playback settings through that package, but we should also have the ability to do so without the assistance of another package.

[2021-02-21 12:20] ryanheise commented on #176
According to this announcement, stable is coming soon and it is time to promote the null safe preleases to stable ahead of the stable SDK release:

https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010

[2021-02-22 16:48] twogood opened #205 "awaitSpeakCompletion(true) does not work on web"
## 🐛 Bug Report

On Flutter web, `flutterTts.speak()` returns immediately even if `awaitSpeakCompletion(true)` has been called.

### Expected behavior

On Flutter web, `flutterTts.speak()` should not return until the utterance is complete when `awaitSpeakCompletion(true)` has been called.

### Reproduction steps

[code]

Gives logs like this. Tested on recent Chrome and Firefox on Ubuntu Linux:

[

[2021-02-22 17:20] twogood commented on #205
I'm trying to workaround it with a `_speechCompleter` like in #152 but it seems like the handler set by `setCompletionHandler` is never called.

[2021-02-22 17:23] twogood commented on #183
Isn't this totally decided by the TTS engine? What could flutter_tts do about it?

[2021-02-22 17:55] twogood commented on #205
I wonder if `SpeechSynthesisUtterance` i supposed to be reused with a new text?

[2021-02-26 16:31] BoHellgren opened #207 "platform-web missing languages"
## 🐛 Bug Report

My Flutter app uses text to speech with Swedish text (sv-SE).
[code]
gives the following result in an Android app on my Samsung S10e:

[ko-KR, mr-IN, ru-RU, zh-TW, hu-HU, th-TH, ur-PK, nb-NO, da-DK, tr-TR, et-EE, bs, sw, pt-PT, vi-VN, en-US, **sv-SE**, ar, su-ID, bn-BD, gu-IN, kn-IN, el-GR, hi-IN, fi-FI, km-KH, bn-IN, fr-FR, uk-UA, en-AU, nl-NL, fr-CA, sr, pt-BR, ml-IN, si-LK, de-

[2021-02-26 18:13] dlutton commented on #207
@BoHellgren unfortunately the list of supported languages is going to vary between devices and browsers.  Android will use the google text to speech API where the browser is going to use the web speech API.  iOS uses their own speech synthesis API as well.  So while this plugin uses native code to make the TTS calls, the downside is the support of languages and certain methods will vary.

[2021-02-27 10:39] BoHellgren commented on #207
This is very disappointing and makes flutter_tts unusable for my app, which must work on web as well as Android and iOS. It would be good to document this limitation in the README.
The device can speak Swedish, but that function apparently cannot be accessed from Chrome. There are things like Cordova and Ionic Capacitor to access device APIs from web apps. Would you consider using something like t

[2021-02-27 15:37] BoHellgren commented on #207
Update: Swedish works with Chrome on iPhone and Safari on iPhone! Why Chrome on Android does not support Swedish is a mystery.

[2021-03-02 18:24] dlutton commented on #207
https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API outlines the speech API for browsers that this plugin uses.  You'd have to get support from Android/Chrome to figure out why your language isn't supported there.  I'll add this info in the README as you suggested.

[2021-03-03 12:00] BoHellgren opened #208 "web: cannot start speak after flutterTts.stop()"
## 🐛 Bug Report

The following logic works on Android but not on web:
[code]
When running under Safari on an iPhone, the second speak() has no effect and text2 cannot be heard.
It works if you wait until all of text1 has been spoken, but not if you interrupt it.
(Doing a setVolume while text1 is being spoken also stops the second speak from working.)

### Expected behavior
Should work the same way

[2021-03-03 12:28] vmapple commented on #175
any resolution for Linux?

[2021-03-03 19:43] IchordeDionysos commented on #176
The new Dart version with null-safety was just released 😍
https://medium.com/dartlang/announcing-dart-2-12-499a6e689c87

[2021-03-04 08:35] dlutton commented on #176
Thank you @IchordeDionysos, I'll try to get this merged in soon.

[2021-03-08 03:03] #207 closed

[2021-03-08 03:49] #176 closed

[2021-03-08 03:51] dlutton commented on #200
Try to set languages in a FutureBuilder.  I updated the example with something similar.

[2021-03-08 09:44] BoHellgren commented on #207
I just found the solution! It turns out that Chrome on Android uses the "default TTS engine", which in my case (Samsung S10e)  was the Samsung TTS engine. Which does not support Swedish! But there is an option in Settings - Language to change the default TTS engine to the Google TTS engine. Which supports many more languages, including Swedish!

I don't suppose that it is possible to choose TTS en