[2021-03-11 02:40] wuyue92tree opened #209 "[DeprecateApi] import io.flutter.plugin.common.PluginRegistry.Registrar;"
## 🐛 Bug Report
[code]
![image](https://user-images.githubusercontent.com/7899044/110726937-4c5e1f80-8255-11eb-9ef8-70a139bb0c0d.png)

### Expected behavior

### Reproduction steps
- flutter version: 2.0.1
- Dart version: 2.12.0

[code]

### Configuration

**Version:** 3.0.0

**Platform:**
- [ ] :iphone: iOS
- [√] :robot: Android

[2021-03-11 07:36] dlutton commented on #209
I'll add a suppression to the deprecated `Registrar` type to fix this.  The registerWith is used to remain compatible with apps that don’t use the v2 Android embedding.

[2021-03-11 07:38] #173 closed

[2021-03-11 07:39] #158 closed

[2021-03-13 06:18] JobiJoba commented on #161
Hey ;)

Got the same issue in prod with someone having the Mac M1 with the latest IOS 14.5 (it's funny in my crashlytics log he is consider as an iPad) with version 3.0.0 of TtsFlutter

[code]

My app is reading sentence in Thai. (I don't have the sentence he was reading).
Did you find any issue or fix for this ?

Thanks

[2021-03-13 13:46] maares opened #210 "synthesizeToFile Questions"
Hi, I'm testing your library and was able to setup very rapidly, so thanks for your great library !

As per reading through out the gitHub repository, there's not Pause not seekTo functionality yet for Android, therefore I'm using  synthesizeToFile in other save it and reproduce it with another library. The query I have (and most likely, I'm using the library in the wrong way), is that synthesizeT

[2021-03-14 02:57] dlutton commented on #161
@JobiJoba it's an issue that was addressed in the ios forums.  I'll have to see if there is a work around until it's fixed.

[2021-03-14 13:20] JobiJoba commented on #161
ok 👍
I try on a Mac M1 without the beta version of iOS and it crash also but play the sentence...

[2021-03-15 11:02] 4-alok opened #211 "How to use android queue mode"
## 💬 Questions and Help

Please give an example, how does **setQueueMode(queueMode)** work

[2021-03-15 13:17] neighborfit commented on #47
Did you find a solution to this? I am experiencing the same problem

[2021-03-15 20:08] dlutton commented on #47
@neighborfit this is related to #25

[2021-03-15 20:12] dlutton commented on #211
@4-alok you'd set it to 1 or 0.

https://developer.android.com/reference/android/speech/tts/TextToSpeech#QUEUE_ADD

[code]

https://developer.android.com/reference/android/speech/tts/TextToSpeech#QUEUE_FLUSH

[code]

[2021-03-17 09:44] vagoston commented on #175
@dlutton I'm happy to help in any way with Windows TTS and C++. Is there any work in progress on your side? (I don't see a brach for that, so I assume there was no progress with that since November. )

[2021-03-17 17:49] tamas-p commented on #194
Just tried using audio_session and it does what is says, it announces to other audio players to duck (only tested with YT Music, Spotify on Android). Personally I am OK with doing this duck request explicitly through audio_session and not asking flutter_tts to include it inside speak(). Thanks for both teams for these packages!

This is how I used it:
`final session = await AudioSession.instance;

[2021-03-18 00:08] stefanodecillis opened #212 "[Question] Offline voices and change voices"
## 💬 Questions and Help

Hi,
this is the first time I'm playing with the tts so the following questions will be out of my curiosity.

1. I would like to reproduce some text without an internet connection (offline). Do both iOS and Android support it? From which level of API?
Also, this plugin doesn't work on android emulator (I hope it's just mine) and I guess it's because of the languages install

[2021-03-18 06:34] dlutton commented on #212
@stefanodecillis Internet connection is required if languages aren't installed and need to be downloaded.  As long as your android emulator is using the google text to speech engine, it should work.

[2021-03-18 06:39] dlutton commented on #194
@tamas-p that's great and thank you for the example.   I still plan on adding a simple implementation of this to flutter_tts so you'll have the option either way.

[2021-03-18 06:40] dlutton commented on #175
@vagoston that would be amazing if you can do a c++ implementation as I haven't had the time to implement that yet.

[2021-03-18 15:01] stefanodecillis commented on #212
@dlutton there is a way to install them from "my app"? Or better, can I download "somehow" the voice and then add it as an asset in my application?
In case we can, how does it work?

[2021-03-19 06:21] dlutton commented on #212
@stefanodecillis on android, this package is using the google tts engine.  Unfortunately this package doesn't support other tts engines at this time.

[2021-03-19 14:27] mindthefish commented on #194
Thank you, that saved me hours or days. Hope that something similar finds it's way into the TTS plugin. Thank you all for your work.

[2021-03-19 14:33] stefanodecillis commented on #212
@dlutton thank you for your answer! Closing the thread:)

[2021-03-19 14:33] #212 closed

[2021-03-22 11:28] anilasimbilen commented on #210
I think synthesizeToFile resolves before writing the file. I am also waiting for an update.

[2021-03-22 20:15] WaterHashira commented on #7
@monggos you can try `flutter clean` once it may help

[2021-03-22 22:29] dlutton commented on #210
@anilasimbilen you're correct, synthesizeToFile resolves before writing the file.  I'll have to fix this.

[2021-03-22 22:30] #211 closed

[2021-03-31 04:05] 353808576 opened #214 "cannot speak after update flutter version"
## 🐛 Bug Report

The same code run successfully on flutter 1.22.5, but not work on flutter 2.0.2.

### Expected behavior

### Reproduction steps

[code]

### Configuration

**Version:** 3.0.0 and 2.1.0

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2021-03-31 08:41] dlutton commented on #214
Can you provide the output from `flutter doctor` and any other error messages you might be receiving in the logs.

[2021-04-02 07:43] Daeon97 opened #215 "Need more language support"
## 🚀 Feature Requests

Support for native Nigerian languages

### Contextualize the feature

I logged flutterTts.getLanguages() to console and didn't find any native Nigerian languages. I am trying to build a TTS related app that voices out words in one of the three major languages in my country unfortunately FlutterTts does not fit into my usecase at the moment. I am sad 😞

### Describe the featu

[2021-04-02 17:58] dlutton commented on #215
@Daeon97 this package uses the native TTS engines on your device.  Android uses the google TTS engine and iOS uses Apple.  Adding languages is out of my hands as that is something that would have to be done on those engines.

[2021-04-02 18:49] Daeon97 commented on #215
Okay thanks for the clarification

[2021-04-02 18:49] #215 closed

[2021-04-07 12:34] nt4f04uNd commented on #143
same, on emulator android 10

[2021-04-07 13:12] nt4f04uNd opened #217 "awaitSpeakCompletion crashes application"
## 🐛 Bug Report

### Expected behavior
no crash

### Reproduction steps
`speak` and `awaitSpeakCompletion(true)`

<details>
<summary>code sample</summary>

[code]
</details>

### Configuration
???

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

**Version:** 3.0.0

**Platform:**
- [?] :iphone: iOS - don't know
- [x] :robot: A

[2021-04-07 13:21] nt4f04uNd commented on #217
i would suggest removing native implementation of this API, beucase a better choice would be to allow registering multiple listeners (of all kinds) and implement `awaitSpeakCompletion` on dart side via regular `Completer`

[2021-04-07 13:35] nt4f04uNd opened #218 "add `WidgetsFlutterBinding.ensureInitialized` check"
## 🐛 Bug Report

as titled
the absense of this might confuse developer, because the plugin might fail to register with such error

<details>
<summary>logs</summary>

[code]
</details>

### Expected behavior
this should not affect developer

### Reproduction steps
<details>
<summary>logs</summary>

[code]
</details>

### Configuration
???

<details>
<summary>flutter doctor -v</summary>

[code]
</de

[2021-04-07 13:39] nt4f04uNd opened #219 "plugin is no-op on emulator"
## 🐛 Bug Report

on emulator the plugin was wokring after i first added it, then i messed around with it, called `speak` multiple times - and it just stopped working.
cleaning, rebuilding, nothing helps

there's no problem on physical device

### Expected behavior
plugin to work

### Reproduction steps
run the code sample on emulator

<details>
<summary>code sample</summary>

[code]
</details>

##

[2021-04-07 17:02] dlutton commented on #219
Do you experience the same issue if you await tts.speak(text)?

[2021-04-07 17:11] dlutton commented on #217
try using the await keyword.  Also I'll look into moving it into the dart code rather than the native code as you mentioned.

[2021-04-07 19:06] nt4f04uNd commented on #219
i don't know what happened, it's working now (without await as well).
has this ever happened to you prior (or was reported by someone)?

[2021-04-07 19:08] nt4f04uNd commented on #217
ok
by the way with `await` it still crashes, i will just wait for a fix, this is not urgent to me

[2021-04-07 20:12] dlutton commented on #219
I don't believe so @nt4f04uNd

[2021-04-07 20:17] nt4f04uNd commented on #219
i will close this for now, since there's no clear way to reproduce this and this might be some kind of emulator bug

[2021-04-07 20:17] #219 closed

[2021-04-08 02:01] troytang opened #220 "speak() not work first time in android."
## 🐛 Bug Report

### Expected behavior
flutterTts.speak() not work when the first time invoke, but it is working well after the second time

### Reproduction steps

### Configuration
flutter doctor

[✓] Flutter (Channel stable, 2.0.4, on macOS 11.2.1 20D74 darwin-x64, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[!] Xcode - develop for iOS and

[2021-04-09 11:00] abooodbah opened #221 "How do I make Dart wait for an asynchronous call before switching animations?"
## 💬 Questions and Help

By default The text to speech engine uses an async call, this causes the main Dart thread to go on with whatever line of code comes next, this leads up to another setstate() call after the TTS speak function which reverts the animation state from Speaking to Idle almost instantly.

is there any way to avoid this issue?

I want it to work as follows:

setstate(() => _animat

[2021-04-09 18:38] dlutton commented on #221
set `await flutterTts.awaitSpeakCompletion(true);`

[2021-04-09 19:04] abooodbah commented on #221
I actually have it set to true in my code but still same problem.

[2021-04-09 22:48] dlutton commented on #221
@abooodbah can you provide a full example of what you're trying to accomplish?

[2021-04-10 15:04] abooodbah commented on #221
I have found a workaround for now using the completion handler. I believe the `if (result != null) {` statement can't be evaluated at first when it is reached since  `tts.speak(sentence);` happens on another thread which is why it is being skipped.
could you confirm whether my assumption is correct?

[2021-04-11 17:37] dlutton commented on #221
You can run that `if (result != null)` check after awaiting `tts.speak(sententce)` as it should return a non null value.

[2021-04-11 17:39] dlutton commented on #221
Also as you have mentioned, the completion handlers are a good use case for this.

[2021-04-11 17:55] dlutton commented on #220
Can you provide more code of what you're trying to do when receiving that error?  I'm not able to replicate this issue.  Also this could be device related or something unrelated to this plugin since it has been mentioned in the flutter github issues section.

[2021-04-13 11:05] troytang commented on #220
Thx for your reply. I will try other devices and show my code here:

[code]

[2021-04-16 06:29] aomlovebank1212 opened #222 "Please add Thai language. To run on the web"
## 🚀 Feature Requests

Please add Thai (th-TH)language. To run on the web

[2021-04-16 07:29] dlutton commented on #222
web uses the Web Speech API.
https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API
https://wicg.github.io/speech-api/

I'm unable to add languages.

[2021-04-16 07:29] #222 closed

[2021-04-16 07:30] #221 closed

[2021-04-17 04:09] aomlovebank1212 opened #223 "My language is not available on the web, only android, how do I add it? (Th-TH)"
My language is not available on the web, only android, how do I add it? (Th-TH)

[2021-04-17 07:48] dlutton commented on #223
@aomlovebank1212
web uses the Web Speech API.
https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API
https://wicg.github.io/speech-api/

I'm unable to add languages.

However, when navigating to the example website I put together, I do see th-TH in Chrome and Safari.
https://dlutton.github.io/flutter_tts/#/

[2021-04-17 13:43] smurat opened #224 "Is it possible use the package with minSdkVersion 17"
## 💬 Questions and Help

I want the implement tts feature my app. Currently i have 100  users has api level below 21 and flutter_tts requires sdk>=21
how can support tts feature for devices sdk>=21 without losing sdk<21. Is it possible without crashing app?

[2021-04-18 03:21] aomlovebank1212 commented on #223
speaktotext() async {
      var u = new SpeechSynthesisUtterance();
      u.lang = 'th-TH';
      u.text = '50 บาท';
      window.speechSynthesis.speak(u);
It doesn't work, now the Thai accent hasn't arrived, what should I do?

[2021-04-18 07:17] dlutton commented on #223
@aomlovebank1212, that text and language code works on the example website.  When you run getLanguages, is th-TH on the list that is returned?

[2021-04-18 10:39] aomlovebank1212 commented on #223
No th-TH here at all. Bro

[2021-04-19 05:50] dlutton commented on #223
@aomlovebank1212 that means the language isn't supported on that browser.

[2021-04-19 12:02] #224 closed

[2021-04-23 11:50] undefdev commented on #214
Same here, also on android (emulator).
No error messages, but it seems like the futures of the methods never complete.

[code]

[2021-04-23 12:01] marcel-bluestone commented on #161
I do experience the same thing on my M1 Macbook as well as on several iPad Air 2020 .

[2021-04-24 06:34] #223 closed

[2021-04-24 07:19] JRQuimora commented on #209
I got the same error when i recompiled it with Xlint:deprecation, any news on this?

[2021-04-24 16:59] dlutton commented on #209
@JRQuimora this should be more of a warning rather than an error message.

[2021-05-02 04:39] yixiang opened #225 "[iOS][Real Device] The plugin doesn't work when the app is backgrounded"
I believe it has something to do with the fact that the plugin is trying to do something to the audio session.

I'm certain that the process is running because background location is active.

[2021-05-02 04:40] yixiang opened #226 "Provide a way for developers to opt-out of any changes to AVAudioSession."
AVAudioSession.sharedInstance is a singleton, any plugin trying to change it may cause unintended consequences. It would be great if there is a way to opt out of all changes to AVAudioSession so that they can manage it through a dedicated plugin such as audio_session.

[2021-05-02 04:41] yixiang commented on #226
This is somewhat related to #225

[2021-05-02 04:43] yixiang commented on #225
Console log:

[AXTTSCommon] Failure starting audio queue alp!
[AXTTSCommon] _BeginSpeaking: couldn't begin playback

[2021-05-02 04:45] yixiang commented on #226
To given an example, the following line is in the init method.

```try audioSession.setCategory(.playAndRecord, options: [.defaultToSpeaker])```

That's not an ideal behavior for speech. I think the following would be better.

```audioSession.setCategory(.playback, options: [.mixWithOthers])```

_OR_

```audioSession.setCategory(.playback, options: [.mixWithOthers, .duckOthers])```

[2021-05-02 04:49] yixiang commented on #226
To give another example:
`setSharedInstance` is incorrectly name. It should have been `setAudioSessionEnabled`.

`AudioSession.sharedInstance.setActive(true)' does not mean 'set the share instance as the active instance`, it means 'get the shared instance and then activate it'. AudioSession.sharedInstance is a singleton, there is no choice on 'which' instance to activate.

[2021-05-02 15:24] yixiang commented on #225
Ok, it's my bad. Adding audio background mode fixed the problem.
[code]

[2021-05-02 15:24] #225 closed

[2021-05-03 02:34] jacksun0124 opened #227 "In en_US, the pronunciation of letter "A" is [ə], can I force the pronunciation like [ei]?"
## 💬 Questions and Help

Provide question related to this flutter plugin.

Hi, I am creating an App which teaches children to read simple words. When reading a single word, it should read each letter first, then read it as a whole word. For example, when reading the word “banana”, it read each letter like “b” “a” “n” “a” “n” “a”. The problem is when reading the letter “a”, the pronunciation is [ə]

[2021-05-03 06:16] dlutton commented on #227
@jacksun0124 is this occurring on all platforms or is this specific to a single platform such as Android?

[2021-05-03 14:31] MapleNoise opened #228 "setProgressHandler stop if sentence contains dot + space"
## 🐛 Bug Report

On Android (not test in iOS) when speak my sentence which contains ".", "!" or "?" followed by space char or \n. The setProgressHandler stop listening after this chars...

### Reproduction steps

[code]

My log :
TEXT HANDLED = This
TEXT HANDLED = is
TEXT HANDLED = my
TEXT HANDLED = sentence

For the moment, I fixed the problem with a Regex :
`flutterTts.speak(mText.replaceAll(Reg

[2021-05-04 04:59] jacksun0124 commented on #227
So far, I tested on Android, Ios, and Mac App. I just found the pronunciation of "a" on Android is [ei]. However, the pronunciation on IOS and Mac app is [ə]. Any idea on how to fix it??

[2021-05-07 05:58] nero-angela opened #229 "[Question] Are the languages supported by each device different?"
I am wondering if the languages supported by each device are different, and if languages that are not currently supported will be supported by installing the language pack in the OS.

[2021-05-07 07:09] dlutton commented on #229
@nero-angela yes, this plugin uses the native TTS engine, so it all depends on the device.

[2021-05-07 08:21] dlutton commented on #228
@MapleNoise I tested this on both iOS and Android.  I'm not able to recreate this issue on either emulator.  Can you run the example provided here https://gist.github.com/dlutton/30b065449cb2eb941dfd6bef86aeefaf with your sentence?

[2021-05-07 08:58] MapleNoise commented on #228
Thanks for your reply,

Same problem with your exemple and all languages.

Video here :
https://user-images.githubusercontent.com/1905622/117425523-238b9b00-af23-11eb-9b46-dc004df8bebd.mp4

[2021-05-07 12:34] nero-angela commented on #229
Thank you for quick response.
As an additional question, if the language of the TTS is different from the text, there is no response. Is there a way to detect if the language setting is wrong?? No messages are called with `setErrorHandler`.

[2021-05-09 04:44] dlutton commented on #229
@nero-angela unfortunately there is no language detection in this package,  however I have create a separate package to help with that if you need it.   https://github.com/dlutton/flutter_language_id

[2021-05-09 13:46] pavel-birdy opened #230 "[Bug] Not working on Android 11 (API 30)"
## 💬 Questions and Help

<img width="424" alt="Screenshot 2021-05-09 at 17 40 10" src="https://user-images.githubusercontent.com/53362329/117574368-605dba80-b0fa-11eb-8f4d-6d622b07e3bc.png">
I couldn't make it work on my project I just copied the code from the example app. The example app is working fine. It's always loading and looks like the  `FlutterTts()` never gets initialized, not sure what

[2021-05-09 19:46] hioshih commented on #159
Nice, this would be much appreciated. Currently I can't seem to be able to use any third party language pack.

[2021-05-09 19:49] hioshih opened #231 "getEngines doesn't always work"
## 🐛 Bug Report

I noticed a problem with getting engine lists through 'flutterTts.getEngines', when I do it on a samsung phone which has 3 engines (google, samsung and vocalizer), it doesn't list the last one:
['com.samsung.SMT', 'com.google.android.tts']

On another android phone, with just 2 engines (google and vocalizer) the result is correct:
['com.google.android.tts', 'es.codefactory.vocaliz

[2021-05-09 19:50] dqtorres commented on #159
https://www.acapela-group.com/

El dom., 9 may. 2021 21:46, hioshih ***@***.***> escribió:

[2021-05-10 05:46] pavel-birdy commented on #230
<img width="424" alt="Screenshot 2021-05-09 at 17 40 10" src="https://user-images.githubusercontent.com/53362329/117611300-dc9ae100-b180-11eb-9afd-d57337ce86c5.png">
It's working fine on a real device. So it's not an issue for me now. But I would like to know why it didn't work on the emulator when the example app from downloaded source code worked.

[2021-05-10 09:49] pavel-birdy commented on #230
Here is the list of versions I tested working on the emulator. Since my app supports only from and above API 24. My phone is running on API 29 (Android 10)

- API 29 (Android 10.0) (emulator+phone)
- API 28 (Android 9.0) (emulator)
- API 27 (Android 8.1) (emulator)
- API 26 (Android 8.0) (emulator)
- API 25 (Android 7.1.1) (emulator)
- API 24 (Android 7.0) (emulator)

[2021-05-10 23:04] dlutton commented on #228
https://user-images.githubusercontent.com/14303235/117734823-17187400-b1a9-11eb-8ebb-8d7ad91fc51c.mp4

Unfortunately I'm not able to recreate the issue.  I have attached a video showing the progress handler working with the example I linked and the text you used.

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.0.6, on macOS 11.3.1 20E241 darwin-x64, loca

[2021-05-11 13:08] #229 closed

[2021-05-12 06:16] Manrupt opened #232 "flutter_tts demo code can not work"
i copied example code but it can not works, it's even can not get a expect result of method  flutterTts.getLanguages. I tried printing the snapshot values and got this:
  **AsyncSnapshot<dynamic>(ConnectionState.waiting, null, null, null)**
It seem like snapshot always be waiting state.  How can I fix it ?
ps:
flutter_tts version  3.0.0
dart version  ">=2.12.0 <3.0.0"
device info:  Android 11   (O

[2021-05-12 18:39] dlutton commented on #230
@pavel-birdy I have been testing on API level 30 and it's working.  The video I posted on another issue https://github.com/dlutton/flutter_tts/issues/228  is using API 30 (Android 11.0).

[2021-05-13 00:51] vicentemrb commented on #230
I've got the same issue, i put a appbundle on Play Store, then i download it on a device with Android 11, and it doesn't work.
On the docummentations say to put this on the android manifest:
`<queries>
  <intent>
    <action
       android:name="android.intent.action.TTS_SERVICE" />
  </intent>
</queries>`
https://developer.android.com/reference/android/speech/tts/TextToSpeech

[2021-05-13 11:46] Ossyyrr commented on #232
I have the same problem, it works for me on some devices and not on others.

[2021-05-13 12:42] Ossyyrr commented on #230
The google documentation says :

"Apps targeting Android 11 that use text-to-speech should declare TextToSpeech.Engine#INTENT_ACTION_TTS_SERVICE in the elements of their manifest".

Add the following code just above the <application in your manifest.

<queries>
    <intent>
        <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
</queries>

[2021-05-13 14:14] pavel-birdy commented on #230
@Ossyyrr Thank you so much, It worked 🎉
@dlutton please add this to the documentation.
here is the link https://developer.android.com/reference/android/speech/tts/TextToSpeech

[2021-05-13 14:14] #230 closed

[2021-05-13 19:46] #155 closed

[2021-05-13 20:32] #209 closed

[2021-05-13 20:35] dlutton commented on #159
setEngine is now available for Android

[2021-05-13 20:35] #159 closed

[2021-05-15 20:09] hioshih commented on #231
Hello, I have tried againg on the latest update and it seems to be working fine now, thank you!

[2021-05-15 20:09] #231 closed

[2021-05-17 10:41] meydominic opened #234 "awaitSpeakCompletion does not wait correctly?"
## 🐛 Bug Report

Hey,
I don't know how to explain correctly. Maybe I'm doing something wrong. If I set awaitSpeakCompletion to true and calling one `speak` directly after another, it won't speak the second one.

### Expected behavior

The second call should wait for the first one to finish

### Reproduction steps

### Configuration

**Version:** 3.1.0

Flutter: 2.0.6

Tried on a real Android 11 de

[2021-05-17 12:16] uc-dve commented on #228
I am facing the same issue in android devices, working fine on ios devices and simulators.
i have used
_flutterTts.speak(mText.replaceAll(RegExp(r'\.\s|\!\s|\?\s'), "."))_
it is working but still breaking somewhere.
[code]

[2021-05-17 12:59] uc-dve commented on #228
I have used this Regex and it solves the issue.
`testString.replaceAll(RegExp(r'\.\s+|\?\s+|\!\s+'), ".")`
But I am not sure how many special characters with space can break.

[2021-05-17 17:17] dlutton commented on #234
`await flutterTts.awaitSpeakCompletion(true);` only needs to be called once to enable to disable.  You do not need to call it each time speak is called.  Is your SpeechController a static class?  It's difficult to know the exact issue here without the full code, but I'll try to replicate on an Android 11 emulator.

[2021-05-17 17:19] dlutton commented on #228
@uc-dve can you provide the exact text that is causing this to fail for you?  So far I've been unable to replicate the issue, but would like to if it's happening with multiple people.

[2021-05-17 18:28] meydominic commented on #234
No it's not static. Tomorrow I can try on an Android 10 emulator if there is any difference and on an iOS emulator (if tts is working there).

Maybe I expressed wrong. The second `speak` does not wait for the first to finish. I thought all attempts will wait (like a queue?).

But I think I have to implement something like a queue myself (`Queue<string>`).

[2021-05-17 22:53] dlutton commented on #234
@meydominic you shouldn't have to queue it up yourself.  In Android, you can also try to `await flutterTts.setQueueMode(1);`

[2021-05-18 03:19] uc-dve commented on #228
below is the text.
Reading is fine but the issue is, but the issue is **_flutterTts.setProgressHandler_** stops returning data.

[2021-05-18 04:04] meydominic commented on #234
For Android it's nice, but I need it for iOS too later :/ But thank you, didn't know about setQueueMode

[2021-05-18 06:38] maares opened #235 "Android tts delays on speech start"
Hi, on Android / iOS simulator flutter_tts works as expected. When testing functionality on real Android device (iOS can't verify, still don't have a device) when starting speech, it takes 5 or more seconds to actually start.

As mentioned above this does not happened on simulator.

Code is not really special, see bellow:

[code]

[code]

I've been reading issues in this site, stackoverflow, but c

[2021-05-19 03:43] actow opened #236 "[Android] speech rate is at normal when the value is at 1.0."
REF: https://developer.android.com/reference/android/speech/tts/TextToSpeech#setSpeechRate(float)
REF: https://github.com/dlutton/flutter_tts/blob/master/lib/flutter_tts.dart#L137
REF: https://github.com/dlutton/flutter_tts/blob/master/android/src/main/java/com/tundralabs/fluttertts/FlutterTtsPlugin.java#L262

This is different from iOS API, where 0.5 means normal.

To make it consistent, we need

[2021-05-19 06:57] meydominic commented on #234
I am aware that I call both speaks without `await`. But if I understand it correctly the tts implementation should put it on an queue on Android if I set `setQueueMode`.

[2021-05-20 04:03] actow commented on #236
@dlutton Before you start diving into this yourself. Could you look at my pull request first?

[2021-05-23 09:13] tzachov commented on #172
Had the same issue. Solved it by adding a missing definition in `AndroidManifest.xml` (same level as `application`):
[code]
(Copied from somewhere and the name of the intent was incorrect. This snippet was taken from Android Developer site)

[2021-05-23 18:32] furkankaradas opened #239 "It doesn't complete a long text."
## 🐛 Bug Report

I run the code you have given as an example. When I give a text like the one below, it reads up to half of the third sentence.

Given text: "Fossils are another way that ancient life is preserved. Most fossils include an animal’s hard parts, such as teeth and bones. One type of fossil, called a trace fossil, may also include eggs, tooth marks, contents of the guts, and fossil excr

[2021-05-24 08:00] androsoftweb commented on #228
Hi, I am facing this issue too, and I think the problem is pause tts takes when there is ". ".
so, my guess is when tts pause or stop it resets its progresshandler and the above problem generated.

[2021-05-26 23:15] #172 closed

[2021-05-26 23:19] dlutton commented on #228
@androsoftweb can you provide your flutter config via the flutter doctor command?  I'm still not able to reproduce the issue.

[2021-05-26 23:26] dlutton commented on #239
Are you testing this in Chrome?  If so this appears to be a bug with Chrome.
https://bugs.chromium.org/p/chromium/issues/detail?id=335907

[2021-05-27 04:07] androsoftweb commented on #228
I temporarily used the solution which is mentioned by @uc-dve .
and you can reproduce it very easily just follow these steps.
in your test example, you let tts speech what is entered by the user right?
now, rather than that change that to a static string like this: "Hello, this is the message. Now on handler will not get an update."
and execute that tts will read whole string with pause at "." but

[2021-05-27 05:56] furkankaradas commented on #239
I am testing in Chrome. Seem Chrome bug. If I will have any solution, I will share it.

Thank you for supporting.

[2021-05-27 06:57] dlutton commented on #228
@androsoftweb I provided a video above showing the progress handler working fine with a period in the text.

[2021-05-28 08:24] meydominic commented on #234
Any news?

[2021-05-29 20:51] dlutton commented on #234
@meydominic It's definitely working fine in a basic example, based on your WIP example I can only assume that you're instantiating FlutterTts on each call.  Have you tried making TtsService a singleton?

[2021-05-29 21:33] meydominic commented on #234
Hey,
thanks for your response. I'll have to test it. We are working with Get_It package, which creates one object for the whole application.

[2021-05-30 04:04] andy-t-wang commented on #210
Any update on this?

[2021-05-30 05:13] dlutton commented on #210
@andy-t-wang I'll get to this soon

[2021-06-08 14:39] rishabhdugar commented on #27
same issue, any luck without recreating every damn thing?

[2021-06-12 19:26] hydralien commented on #91
@dlutton it seems like it doesn't work in offline, unless the language is installed on device. It's probably not an easy thing to solve, but something to be aware of.

[2021-06-15 17:52] hydralien opened #240 "synthesizeToFile does not use provided path"
## 🚀 Feature Requests

it'd be nice if synthesizeToFile would somehow accept a full path to file (or maybe new method could be added to solve this) - otherwise some default directory is used as root and when the "fileName" is provided as e.g. `/data/user/0/net.hydralien.pidging/app_flutter/9accce7af07e27e86bb47b7b3d69f6d2c094c1fb.audio`, the actual file is attempted to be stored as `/storage/emula

[2021-06-16 23:25] ferjlozada commented on #236
How can I shutdown tts and return to the default values?

[2021-06-18 10:08] #239 closed

[2021-06-22 16:27] ZMChoo commented on #208
Any solution for this issue at this moment? I'm still facing this issue now

[2021-06-22 21:20] dlutton commented on #208
Still looking into this issue @ZMChoo .

[2021-06-24 10:20] mostafasaadamin opened #243 "A problem occurred configuring root project 'flutter_tts'."
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2021-06-24 21:49] dlutton commented on #243
@mostafasaadamin did you try `flutter clean`?  Otherwise, can you provide any additional error output?

[2021-06-26 18:12] itsmihir opened #244 "Voice not working on brave browser"
## 🐛 Bug Report

Voice if working on brave mobile browser, but not working on brave desktop browser

`main.dart.js:3757 Uncaught Invalid argument: Instance of 'minified:k8'
    at Object.a (https://cfbot.mihirkhambhati.tech/main.dart.js:3757:3)
    at Zh.d2 (https://cfbot.mihirkhambhati.tech/main.dart.js:49075:36)
    at Zl.hd (https://cfbot.mihirkhambhati.tech/main.dart.js:49163:6)
    at https:/

[2021-06-27 06:17] dlutton commented on #244
brave is not listed as a supported browser.
https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API

[2021-06-29 05:06] divshekhar opened #245 "getMaxSpeechInputLength() in flutter_tts"
## 🚀 Feature Requests
`getMaxSpeechInputLength()` in flutter_tts

`getMaxSpeechInputLength()` returns the limit of length of input string passed to speak and synthesizeToFile.

### Contextualize the feature

SynthesizeToFile throws error when the string length is greater than `getMaxSpeechInputLength()`.

### Describe the feature

This API will give more control to the developer in error handling.

[2021-07-01 10:47] SreehariRajeev opened #247 "How can we change the voice from female to male?"
## 💬 Questions and Help
Hi, can anyone please tell me how I can change the voice from female to male voice,
and one more thing, is three any way to add custom voices.

[2021-07-02 16:31] Logic2Paradigm commented on #247
Change the pitch
`
final FlutterTts flutterTts = FlutterTts();
flutterTts.setPitch(1.0); //higher pitch for female, lower for male
`

[2021-07-02 22:09] dlutton commented on #247
@SreehariRajeev this plugin uses platform specific engines, so the list of voices and languages depend on the device and engine being used.  I cannot add custom voices or languages to this plugin.

[2021-07-02 22:09] #247 closed

[2021-07-02 22:09] #244 closed

[2021-07-03 01:23] anhtuan23 commented on #210
Looking forward to have this issue resolved.

Currently, I have to add a really awkward delay as a workaround

[code]

[2021-07-03 10:22] divshekhar opened #250 "synthesizeToFile() mp3 header missing while recording!"
## 💬 Questions and Help
I am trying to merge multiple mp3s (Flutter_FFmpeg) generated using `synthesizeToFile()`.
The FFmpeg throws error:

[code]

Is this error from `synthesizeToFile()` or might be FFmpeg's bug? Is there any solution to this issue?

[2021-07-04 03:24] dlutton commented on #210
@anhtuan23 i'll try to get it completed this weekend.

[2021-07-04 04:23] dlutton commented on #250
The error is coming from ffmpeg per the logs, unfortunately I'm not familiar with that plugin.  Can you open an issue with them and let me know if there is anything I can do on my end to help resolve the issue.

[2021-07-04 04:40] divshekhar commented on #250
Thank you for clarifying, I will try to get clarity about the issue from the ffmpeg team. you may close this issue for now.

[2021-07-04 05:31] #250 closed

[2021-07-05 20:43] #234 closed

[2021-07-05 21:26] #210 closed

[2021-07-05 21:26] #236 closed

[2021-07-05 21:26] #245 closed

[2021-07-05 21:27] dlutton commented on #210
use `await flutterTts.awaitSynthCompletion(true);`

[2021-07-06 16:01] sylvainjack opened #251 "TTS works fine when I compile in Debug Mode but not in release mode"

[2021-07-06 16:26] #251 closed

[2021-07-07 20:31] dlutton commented on #226
did you try `await flutterTts.setIosAudioCategory` for what you mentioned above?  I'm also opened to PRs for improvements to this plugin.

[2021-07-10 06:08] mchlsndrn opened #252 "synthesizeToFile saves in inconvenient path location"
synthesizeToFile() currently saves files into:
/storage/emulated/0/Android/data/com.example.myapp/files/
which is what is returned for example by path_provider using getExternalStorageDirectory(), which can be null on iOS.

Here's a comment from path_provider.dart

[code]

Wouldn't it be better to save files inside the app sandbox using getApplicationDocumentsDirectory() ?

[code]

Here are some i

[2021-07-10 06:24] mchlsndrn opened #253 "calling await getVoices() after await setEngine() fails at random"
Just like the title says, this behavior is inconsistent but tends to fail 50% of the time.
I'm currently only using this on Android.
As a workaround I wait a bit before making the 2nd call.

[code]

This is the error:

[2021-07-10 13:46] sylvainjack opened #254 "Quality Synthetized Voice on Iphone XSMAX"
## 🐛 Bug Report

I have worked on a language app (Learning English vocabulary for French students) and I use Flutter TTS a lot. I was satisfied with the voice rendering on a A21 S Samsung. It was good enough for learners. I thought that when I would test my app on top Iphones, the sound would automatically be even better (similar to what we have in the GPS PLAN on Iphone), but I am a bit disappoin

[2021-07-10 21:04] dlutton commented on #254
@sylvainjack this plugin uses the native apple TTS package when building for iOS.  You'd have to use a supported voice on the device to sample what it would sound like. Unfortunately there isn't anything this plugin can do to change that.  You can also play around with the pitch and speed to see if that helps it sound less robotic.

[2021-07-10 21:17] dlutton commented on #252
@mchlsndrn I plan on allowing the user to provide a full path to an existing directory so this plugin can write directly to a file at that location.

[2021-07-11 13:38] mchlsndrn commented on #252
Good idea. Btw where does it save files on iOS?

[2021-07-11 18:05] dlutton commented on #252
in iOS something like this `com.tundralabs.example/Data/Documents/tts.caf`

[2021-07-14 23:37] jlanoieuri opened #255 "Example code not loading engines or languages on emulator"
## 💬 Questions and Help

I'm having trouble getting TTS to work on my codebase when using an emulator that is running Android 11 (tested on multiple emulators). For testing I copied the example code into my codebase and it is stuck on "Loading engines..." and "Loading Languages...". This same code works fine on Android 10 on the emulator, and it also works on Android 11 on physical devices, just n

[2021-07-15 04:08] alanorder opened #256 "Invalid argument: Instance of 'SpeechSynthesisEvent'"
## 💬 Questions and Help

I am trying to call flutter_tts after a page has finished building:

  @override
  void initState() {
    super.initState();
    WidgetsBinding.instance.addPostFrameCallback((_) {
      _speak('testing');
    });
  }
However, I obtained this error:

Invalid argument: Instance of 'SpeechSynthesisEvent'

Flutter_tts is working perfectly if called within an onPressed().

Coul

[2021-07-15 21:19] dlutton commented on #256
@alanorder can you provide info on what SpeechSynthesisEvent is?

[2021-07-16 02:13] alanorder commented on #256
Dear Daniel,

SpeechSynthesisEvent is not defined in my project. I googled and I
believe it is defined in the Web Speech API:

https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisEvent

The *SpeechSynthesisEvent* interface of the Web Speech API
<https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API> contains
information about the current state of SpeechSynthesisUtterance
<htt

[2021-07-16 02:20] alanorder commented on #256
Just to supplement that my project is a web application.

[2021-07-16 10:26] tmxdyf opened #257 "This version of flutter_tts will break your Android build"
## 🐛 Bug Report

WARNING: This version of flutter_tts will break your Android build if it or its dependencies aren't compatible with AndroidX.
         See https://goo.gl/CP92wY for more information on the problem and how to fix it.
         This warning prints for all Android build failures. The real root cause of the error may be unrelated.

**Version:** ^3.2.1

**Platform:**
[√] Flutter (Channe

[2021-07-16 17:19] dlutton commented on #256
ah I didn't realize you were using this on web.  Where are you instantiating the FlutterTTS class? As long as that is happening before hand, it should work with `WidgetsBinding.instance.addPostFrameCallback((_) =>
_speak('testing');
});`

[2021-07-17 03:47] alanorder commented on #256
I think I have found the reason. It has nothing to do with flutter_tts.

This is the beginning of my code which is the same as your example:

class _MyAppState extends State<MyApp> {
  late FlutterTts flutterTts;
  String? language;
  String? engine;
  double volume = 0.5;
  double pitch = 1.0;
  double rate = 0.5;
  bool isCurrentLanguageInstalled = false;

  String? _newVoiceText;
  int? _inputL

[2021-07-18 13:43] yasaman93 opened #259 "If a language TTS hasn't been downloaded..."
Hello and thank you for this library.

I want to know if a language hasn't been downloaded on a device, how can I use this library to download it and prevent this error?:
speak failed: not bound to TTS engine

I did some tests, and I realized that when the application is closed and I open the app, It seems that this library automatically download the desired language tts. But when the app is open

[2021-07-18 22:18] dlutton commented on #259
`not bound to TTS engine` should be related to the engine itself such as the Google TTS engine (com.google.android.tts) and not the language.

[2021-07-25 02:47] dlutton commented on #257
@tmxdyf is your build failing for Androidx?  this plugin should be compatible with androidx.

[2021-07-25 02:47] #256 closed

[2021-07-25 02:49] dlutton commented on #255
@jlanoieuri have you tried with new API versions?  Although API level 21 is the min supported, it's very limited.

[2021-07-26 01:14] ekuleshov opened #260 "TTS plugin crashes app when speak() method is called multiple times"
## 🐛 Bug Report

A Flutter app crashes from within FlutterTtsPlugin with this stack trace.

[code]
### Expected behavior

No crash would be nice

### Reproduction steps

Wasn't been  able to isolate exact steps. It could be related to multiple concurrent calls to .`speak()` method. Each of them is only to speak a few words.

### Configuration

**Version:** 3.2.2

**Platform:**
- [ ] :iphone: iOS
-

[2021-07-26 07:39] dlutton commented on #260
@ekuleshov Can you give an example of what you're trying to accomplish with calling speak multiple times concurrently?

[2021-07-26 11:21] ekuleshov-idexx commented on #260
@dlutton nothing special. I have two async methods kicked in from external events, one writes some data to DB ant then it triggers first speak() to announce values saved and also triggers another async method to crop video captured from the camera and associated with saved data, after video is cropped and the camera recording is restarted after that the 2nd speak() method is called to say "Ready".

[2021-07-26 13:07] yasaman93 commented on #257
I am using the last version of flutter_tts (3.2.2) and I get this error as well.
There is no error when I want to build apk with this command: flutter build apk --split-per-abi
But when I run "gradlew build" in android directory, I get this error:

WARNING: This version of flutter_tts will break your Android build if it or its dependencies aren't compatible with AndroidX.
         See https://goo.

[2021-07-26 18:03] dlutton commented on #257
thanks for the info @yasaman93 , I'll look into correcting that.

[2021-07-26 18:19] dlutton commented on #260
thanks for the explanation @ekuleshov.  In the event the 1st announcement hasn't finished speaking, are you looking for the 1st announcement to stop and then play the 2nd announcement, or are you looking for it to play over the first announcement?

[2021-07-26 18:25] ekuleshov commented on #260
@dlutton the data announcement is not good to cut off. And the "Ready" announcement is also informative, so user can start the next thing/cycle after that. Though I don't think it is possible that those announcements could happen backwards (i.e. "Ready" comes first). So, I'd prefer it 1st is finished and then the 2nd is played. Like I said, I've added awaitForSpeakingCompletion() before calling sp

[2021-07-26 18:43] ekuleshov commented on #260
Should be the same instance. I'm using `get` state manager, so I think it is the same instance. Here is my TtsProvider class below. Both of those announcments are passing `true` for awaiting completion.

Though it was still odd to see that original crash when awaitCompletion is not used

[code]

[2021-07-27 00:10] dlutton commented on #260
@ekuleshov it might be a race condition issue.  Did you try setting queue mode to 1?  I'll also try to replicate the issue locally.

[2021-07-27 00:15] ekuleshov-idexx commented on #260
@dlutton yes, tried that and didn't notice any difference. I see that 2nd utterance is printed to console about same time 1st one finished speaking

[2021-07-27 00:24] dlutton commented on #260
@ekuleshov thanks for the info, I'll take a look at this bug.  It sounds like result.sucess is being called more times than it should from the android platform code.

[2021-07-28 18:35] jporrinoclapps opened #261 "Build in release mode doesn't work"
## 🐛 Bug Report

When I build my app in debug mode everything works OK. But, in release mode, although the tts engine is set to default (com.google.android.tts) correctly, the getLanguages method returns an empty array and the isLanguageAvailable always returns false.
Also, the app crashes without any further call to any other methods (this last thing I think is related to the set of tts engine an

[2021-07-28 19:03] dlutton commented on #261
@jporrinoclapps I'm already looking into the issue as it's related to the same error mentioned in #260

[2021-07-29 06:59] sandeshgoel commented on #255
I am facing the same issue. It works with android 10 emulator, API 29; doesn't work with android 11 emulator, API 30. It works on physical device though.

[2021-07-29 11:28] Pherne commented on #113
I'm sorry if I'm very late to this, but how would I use the file I created? I have a newspaper app where I want the app to read an article on button tap and I also want it to be able to pause and resume.

This is what I tried

`
var file = 'articleText.wav';
await flutterTts.synthesizeToFile(text, file);
print('$dir$file');

var duration = await player.setFilePath('$dir$file');
await player.play()

[2021-07-29 14:46] jporrinoclapps commented on #261
@dlutton I read the FlutterTtsPlugin.java to further understand how the package works and how I could solve at least my problem. Also, to get rid of other variables in the equation, I continued my testing using your example code and running it in release mode.

Turns out I didn't need to use the setEngine method, as I am not going to change the tts engine from its default value, and an instance of

[2021-07-29 19:36] dlutton commented on #261
@jporrinoclapps that is very helpful thank you.

[2021-07-29 19:40] dlutton commented on #113
@Pherne try `await flutterTts.awaitSynthCompletion(true);` before you call `synthesizeToFile` to ensure the file is completed before attempting to play it.

[2021-07-29 20:02] dlutton commented on #255
@sandeshgoel have you tried the latest 3.2.2 version for working with android 11?  You may need to run a `flutter clean` before building.

[2021-08-01 23:05] dlutton commented on #260
@ekuleshov  when you call your speak method ```speak(String text, [ bool awaitCompletion = false])``` are you awaiting that?

[2021-08-02 14:08] ekuleshov commented on #260
@dlutton hmm. It is awaiting on the "ready" announcement (which gets missed) and not awaiting on the data read out announcement. Should I await on both?

[2021-08-02 19:36] dlutton commented on #260
I think with the way you're using it, you should try ensure you're not calling `awaitSpeakCompletion` or set it to false and instead keep your queue mode set to 1 in your init() `await _flutterTts.setQueueMode(1)`.

[2021-08-03 13:51] ekuleshov commented on #260
@dlutton great. it looks like it is speaking at the right times now.

The only question is how it would behave on iOS? I thought `.setQueueMode(1)` is not supported there.

[2021-08-03 17:07] dlutton commented on #260
@ekuleshov sorry I didn't realize you trying this on iOS as well, so that wouldn't work on iOS.  I'm not familiar with "get" state management, however I'm assuming it's calling the first speak and then calling the second speak which returns a result and then the first speak tries to send a result back when done and you end up with your error.  In that case you'll need to use the `awaitSpeakComplet

[2021-08-03 18:46] ekuleshov commented on #260
@dlutton all get state manager does - making sure there is only one tts plugin instance in the app. It doesn't do anything about async execution. So, it seems like we are back to square one - when multiple calls to `.speak()` are being sent from different async methods.

The tts plugin does not seem to handle serial execution of the `.speak()` calls... Should I build my own queue and pull messages

[2021-08-05 20:28] dlutton commented on #260
that makes sense @ekuleshov, when you get your singleton back, do you await your speak method?

[2021-08-05 23:52] ekuleshov commented on #260
No. Not awaiting in my async `speak()` method, though that method delegates to `FlutterTts.speak()` and I am awaiting in it there.

[2021-08-09 14:08] jay2hk2hk opened #262 "ios lock screen cannot play tts"
when i play the tts, iphone cannot play when i locked screen , how cn i fix it?

[2021-08-09 21:33] ekuleshov commented on #260
@dlutton I tried to add await on my wrappers around awaited `FlutterTts.speak(..)` methods.

What I observe is that when two `speak()` calls have been submitted, the 2nd call gets skipped/swallowed if the 1st call haven't finished speaking.

I'm also awaiting on `FlutterTts.awaitSpeakCompletion(true)` but not sure if this call need to be done at init time only or before every `speak()` call.

[2021-08-09 21:49] dlutton commented on #260
@ekuleshov thanks for testing that and it's pretty much what I assumed what was happening.  To your last point, `flutterTts.awaitSpeakCompletion(true)` only needs to be set once so init is sufficient.   Do you have a small sample app on github somewhere using Get so I can do some additional testing?

[2021-08-09 22:37] ekuleshov commented on #260
@dlutton don't really need `get` plugin to reproduce this. The the `flutter_tts` example I just replaced this line:

[code]

with this (that is basically simulate my case):

[code]

then enter text like this and tap play:

`12.33 first entry 0.33;ready`

I see on Console that `### ready` is printed before the first utterance finished playing, but the 2nd utterance never plays.

[2021-08-09 23:26] dlutton commented on #260
okay great thanks for that snipped of code, I'll play around with that.

[2021-08-11 00:33] Luterium opened #263 "Problem with gradle version and AndroidManifest on the lib"
## 🐛 Bug Report
I updated my flutter_tts to the latest resolvable version (3.2.2) and it started showing those errors when I try to build the project. I have multiDex enabled (2.0.1) on my build.gradle and I've never had such a problem before. If anyone can think of any solution I'd be grateful

[code]

### Configuration

**Version:** 3.2.2

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2021-08-11 01:55] ferguquang opened #264 "Version IOS don't support Vietnamese Language"
## 🚀 Feature Requests

Version IOS don't support Vietnamese Language

I build in Android, have Vietnamese Language, but in IOS don't have Vietnamese Language.

[2021-08-11 08:11] duy1998 opened #265 "Error: setHandlerProgress call back does not correspond to current spoken word when speaking a long text."
## 🐛 Bug Report

### Expected behavior
I see a problem with setHandlerProgress call back in Android 12 real device.
Value's callback doesn't correspond to the spoken word.

I'm trying to highlight the spoken text after speak but failed with the long text.

### Configuration

[✓] Flutter (Channel stable, 2.2.2, on macOS 11.3.1 20E241 darwin-x64, locale en-VN)
    • Flutter version 2.2.2 at /Users/d

[2021-08-11 14:08] FinnHo1984 opened #266 "await FlutterTts.getEngines/getLanguages never return if there is no TTS in my android phone"
Is there a function to check TTS engine exists?

[2021-08-12 06:52] dlutton commented on #263
@Luterium have you tried upgrading your gradle version?

[2021-08-12 06:54] dlutton commented on #264
@ferguquang unfortunately I don't control the languages that are supported on each device.  Android uses the native google TTS engine by default and iOS uses Apple's native TTS engine and language support depend on the device and OS version.

[2021-08-12 06:54] #264 closed

[2021-08-12 06:56] dlutton commented on #265
@duy1998 did you have an example you can provide of this failing?

[2021-08-12 06:58] dlutton commented on #266
@FinnHo1984 you call getEngines() on Android if that's what you need.

[2021-08-12 14:08] Luterium commented on #263
My grave version is 5.6.2, the library is 5.1.1 on 3.2.2, tho

[2021-08-12 18:36] dlutton commented on #263
@Luterium ah okay I mis-understood the error.  I'll update the version.

[2021-08-13 23:34] JCKodel opened #267 "ProgressionHandler is not considering SSML"
## 🐛 Bug Report

When speaking this text:

[code]

and adding this line:

[code]

this is the output:
[code]

### Expected behavior
The first call to the progression handler, last parameter, should be `Texto` (5 characters), not `<spea`. It seems the progression handler is "substringing" the text from `0` to `5`, but including `<speak></speak`, while it should not!

The `<speak>` is required so (a

[2021-08-16 13:15] mchlsndrn opened #268 "Voice friendly names"
Is there a way to get some friendly name for a voice? For example "Dave" or "John" instead of "en-us-x-tpd-network" ?

[2021-08-16 17:09] dlutton commented on #268
@mchlsndrn the voice names are getting pulled from the native TTS engines without modification.

[2021-08-16 17:09] #268 closed

[2021-08-19 09:59] butterbrain commented on #262
I found (from the audio_service plugin tutorial) that just adding the following to the
./ios/Runner/info.plist
makes it work on my iPad...

    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>

If you already have UIBackgroundModes in the list, add the <audio> string to the array.

[2021-08-19 19:46] dlutton commented on #262
@butterbrain thanks for providing the solution.

https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/iPhoneOSKeys.html#//apple_ref/doc/plist/info/UIBackgroundModes

https://developer.apple.com/documentation/bundleresources/information_property_list/uibackgroundmodes

[2021-08-19 19:46] #262 closed

[2021-08-20 04:43] nero-angela commented on #197
In the latest version, the issue does not seem to occur, so I close it.

[2021-08-20 04:43] #197 closed

[2021-08-21 11:58] dqtorres commented on #261
If the exact same thing happens to me before the realease is released, it breaks when performing a setEngine

[2021-08-23 18:14] dlutton commented on #261
@dqtorres are you possibly setting it to an engine that isn't installed on the device?  By default it uses the Google TTS engine, so the setEngine method isn't necessary unless you plan on setting it to a different engine.  You can call the method getEngines to see the options available to you.

[2021-08-23 18:28] dqtorres commented on #261
@dlutton Thanks, if the setEngine method works correctly but only in debug, when the application is passed to release mode it gives the exception reported, all the devices work fine but only in debug. My goal is to use another tts engine and I get it to work on the device but when the realease is created on the same device by making the setEngines break, the getEngines method has previously been c

[2021-08-23 19:26] dlutton commented on #261
@dqtorres do you receive the same error as mentioned by @jporrinoclapps?

[2021-08-23 21:58] dqtorres commented on #261
You are right, the release mode is too fast, I did what you said and fantastic it already works, but after initialization, Thank you very much again

`initTts() {
    flutterTts = FlutterTts();
    await Future.delayed(Duration (seconds: 1));`

[2021-08-23 22:00] dqtorres commented on #261
@Syutkin @dlutton  You are right, the release mode is too fast, I did what you said and fantastic it already works, but after initialization, Thank you very much again

`initTts() async {
    flutterTts = FlutterTts();
    await Future.delayed(Duration (seconds: 1));`

[2021-08-25 10:38] falahgs opened #270 "No implementation found for method getLanguages"
hi
why I got error

Restarted application in 3,478ms.
E/flutter ( 5540): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: MissingPluginException(No implementation found for method getLanguages on channel flutter_tts)
E/flutter ( 5540): #0      MethodChannel._invokeMethod
E/flutter ( 5540): <asynchronous suspension>
E/flutter ( 5540): #1      FlutterTts.getLanguages (package:flutte

[2021-08-26 02:16] WillowWisp opened #271 "synthesizeToFile runs really slow on iOS"
## 🐛 Bug Report
`synthesizeToFile` runs really slow (up to 8000ms) on iOS, while it only takes ~300ms to finish on Android

### Expected behavior
`synthesizeToFile` shouldn't run that slow on iOS
![image](https://user-images.githubusercontent.com/37970784/130889247-9274c1f7-fc6f-4b61-a530-94dadddfe79a.png)

### Reproduction steps
[code]

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2021-08-26 02:27] WillowWisp opened #272 "synthesizeToFile cannot run concurrently"
## 🐛 Bug Report
When running `synthesizeToFile` concurrently to generate multiple files at once, only the first file is generated. This happens on both Android and iOS

### Expected behavior
`synthesizeToFile` should be allowed to run concurrently to reduce the time generating multiple files at once.

### Reproduction steps
[code]

Maybe this has something to do with the `awaitSynthCompletion` fun

[2021-08-27 23:35] dlutton commented on #272
@WillowWisp unfortunately it's not meant to be ran concurrently, you'd have to await each one individually.

[2021-08-28 05:31] WillowWisp commented on #272
That's really unfortunate 😟. Is it because of the native TTS?

[2021-08-28 16:34] dlutton commented on #272
@WillowWisp most TTS services aren't meant to run concurrently, at least I can't think of a situation where you'd want to play TTS concurrently.  SynthesizeToFile is probably the only thing that makes sense to run concurrently for TTS.  I'll have to research to see if I can add this enhancement and add support for both iOS and Android.

[2021-08-29 04:35] WillowWisp commented on #272
@dlutton

Yeah, that's exactly my case. Hopefully, there would be a way to fix this because having to run `synthesizeToFile` sequentially + #271 makes the experience on iOS a lot worse 😟.
Anyway, thank you for your great support & effort on the package, Rick 😄

[2021-09-06 15:58] dlutton commented on #271
@WillowWisp unfortunately I don't believe this is a bug although it may seem like it.  Apple's AVSpeechSynthesizer uses a BufferCallback which buffers while it's playing.  The length of the speech (not the text) is what determines how long it takes.  As an example, if you use the same text input, but you you increase the speech rate, it should output a faster time for you.   Hopefully that makes s

[2021-09-09 07:57] ksilz opened #273 "iOS: Doesn't work with Flutter 2.5"
## 🐛 Bug Report

In my app, playing text-to-speech worked with Flutter 2.2 on iOS. It doesn't with Flutter 2.5 anymore, showing the error below. The version of "flutter_tts" hasn't changed since then, and it still works on Android.

### Expected behavior

The text-to-speech works on iOS.

### Reproduction steps

Here's my code for speaking:
[code]

Here's the output:
[code]

### Configuration

**V

[2021-09-09 08:48] ksilz commented on #273
The same app works on iOS 15 beta and an old phone with iOS 12.5.4.

[2021-09-09 18:13] dlutton commented on #273
@ksilz is the issue specific to iOS 14.7.1 and flutter 2.5?

[2021-09-10 12:11] ksilz commented on #273
If I'd guess, I'd say it's iOS 14 + Flutter 2.5. It worked on iOS 14 with Flutter 2.2.

[2021-09-11 15:01] sylvainjack commented on #273
Hello ksilz,
I am working on an app using the package quite a lot. Tried with Flutter 2.5 today and it works fine on iPad and iPhone XSMAx. Did you manage to solve your problem ? I have iOS 14.7.1

I would need your opinion on the quality of pronunciation on iOS device. I am quite disappointed in it compared to simple Android devices such as Samsung phones. Do you encounter the same problem? The w

[2021-09-11 15:13] sylvainjack commented on #254
Hi dlutton,
Am coming back to you as I am getting kind of desperate ;) I have tried and tried to play around with pitch and speed to help the quality of the pronunciation, but in vain... I found out the US voice seems somewhat better than the UK (male) voice. I guess female voices might be better (on android, the UK voice is a woman). I was looking for a female UK voice on IOS but can't find it.
W

[2021-09-11 16:43] sylvainjack commented on #254
I managed to improve this by changing the VOICE setting on the iOS device itself : installing another voice.
Apparently : Audrey (for French) and "Samantha" (for English) are by far the best synthesized voices I found. Maybe you could specify this in the "READ ME" file of the package.
So I have to tell the user to change its settings ? or I can do this within the code ?  The pb is that some of the

[2021-09-13 08:12] callmejm opened #274 "No Sound"
## 🐛 Bug Report

Log are showing tts are running, but no sound, `whenComplete` still trigger when end

    await ttsService.speak("somelongtext1");
    await ttsService.speak("somelongtext2").whenComplete((){
      print("done!");
    });

![image](https://user-images.githubusercontent.com/6957533/133046956-86ac73ed-e332-4f46-825e-753a02f59780.png)

### Expected behavior
have sound coming out

###

[2021-09-14 16:40] dlutton commented on #274
@callmejm do you have any additional information on this issue?  Is this happening on a real device or an emulator and what kind of device/emulator are you using?  What's the android version you're running?  Also, is the volume up on the device and/or did you possibly change the tts volume through this package?

[2021-09-15 13:49] kamleshwebtech commented on #121
How can I get voices call in dart? Kindly suggest. Thanks.

[2021-09-25 11:42] kirill-plotnikov commented on #263
Is any progress with that issue?

[2021-09-27 16:04] dlutton commented on #263
@kirill-plotnikov sorry I've been crazy busy, but this is a simple fix, so I'll try to roll it out in a small patch update this weekend.

[2021-09-28 05:48] hasanm08 opened #275 "Build exception"
## 🐛 Bug Report

[code]

### Configuration

**Version:** 3.2.2

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2021-09-28 08:10] TranTuanManh commented on #172
I had the same issue. Anyone has solution?

[2021-09-29 16:19] ferjlozada commented on #275
In your project, in build.gradle file of android folder change to 'com.android.tools.build:gradle:4.0.1' and in gradle-wrapper.jar file of folder gradle / wrapper change to 'gradle-6.1 .1-all.zip'

[2021-09-29 16:21] ferjlozada commented on #263
In your project, in build.gradle file of android folder change to 'com.android.tools.build:gradle:4.0.1' and in gradle-wrapper.jar file of folder gradle / wrapper change to 'gradle-6.1 .1-all.zip'

[2021-10-06 17:35] davidgalarza commented on #260
I'm facing the same issue. I'm not able to reproduce it by myself but I'm receiving reports of that on Crashlytics.
The error Happens on android 8 devices.
<img width="465" alt="Captura de Pantalla 2021-10-06 a la(s) 12 31 21" src="https://user-images.githubusercontent.com/20847597/136254219-3d09ef18-0ce8-4a03-94da-d647d7b1ba2f.png">
And primarily on Huawei devices.
<img width="471" alt="Captura d

[2021-10-08 15:25] dlutton commented on #257
@JosephIbe what version of flutter and android API are you on?

[2021-10-12 16:52] madhav0922 opened #277 "TTS reads underscores (_) on android but not on iOS in a sentence"
Hello,

I think the question is self explanatory. I would like to know the reason why is it so? and if possible, get the same behaviour via some property on both android and iOS to not read underscores (_).

Regards

[2021-10-15 16:57] CodingAleCR opened #278 "Accessing TTS synthetized file"
## 💬 Questions and Help

How can I get the path to a TTS synthetized file? I want to use it later on after it been synthetized.

[2021-10-16 00:22] #278 closed

[2021-10-21 17:47] menezes85 opened #279 "Couldn't retrieve ISO 3166 country code for locale: sq_XK"
Couldn't retrieve ISO 3166 country code for locale: sq_XK
W/TextToSpeech(18089): java.util.MissingResourceException: No 3-letter country code for locale: sq_XK

Latest Version: 3.2.2

[2021-10-22 18:06] AliYar-Khan opened #280 "Player widget gets embeded automatically"
## 🐛 Bug Report

I have added the plugin and used the plugin to speak a language based on the locale. But player get embedded on my page as shown below
![InkedScreenshot_1634925162_LI](https://user-images.githubusercontent.com/37889962/138502414-a0b95922-b326-47d1-89aa-eae0d49eb8d0.jpg)

provide the option to disable this widget that gets embedded automatically

### Expected behavior
There shouldn

[2021-10-24 11:50] lutakrystal305 opened #281 "Can not speak in android"
![image](https://user-images.githubusercontent.com/65547732/138592770-43be84d5-222e-4545-8b1d-a47cebdbfe14.png)
Why dont speak in andoird (emulator/real device), but in web, they still work fine.

[2021-10-29 22:35] seanradford opened #282 "postUtteranceDelay / preUtteranceDelay"
Hi,

Is there any plan to implement pre / postUtteranceDelay?

https://developer.apple.com/documentation/avfaudio/avspeechutterance/1619694-postutterancedelay

Don't know if there is anything similar on Android.

Regards,

Sean

[2021-10-30 16:29] dlutton commented on #282
@seanradford I'll look into adding that.  I haven't seen anything similar on the Android side.

[2021-11-02 01:39] #280 closed

[2021-11-02 01:42] dlutton commented on #235
@maares I apologize I didn't reply to your issue here.  Were you able to solve this, is it no longer applicable, or did you still require assistance?

[2021-11-03 08:03] maares commented on #235
Hi @dlutton, thanks for replying, it's no longer applicable, It seems this happens with older android versions. Tested again after a dew tries with another android phone and did not get the delay on tts start speech.

Closing the issue, and once again, thanks for this amazing plugin !!!!

[2021-11-03 08:03] #235 closed

[2021-11-04 07:04] Rob-wang commented on #255
I use the latest sample code, running on a Lenovo Tab-X616F device, Android version 10, unable to speak. The sample code has been loading engines...

[2021-11-04 11:17] otopba opened #283 "App crashes at web android"
## 🐛 Bug Report

App crashes on start at web android

This feature is not supported at WebView Android https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisUtterance#browser_compatibility. App crashes when dart try to access `html.SpeechSynthesisUtterance`. Maybe we should add an operating system check or at least try-catch?

<img width="297" alt="Screenshot 2021-11-03 at 15 38 05" src=

[2021-11-05 04:38] changcw83 opened #284 "Is it possible to detect the language of a text and use the appropriate language tts?"
Is it possible to detect the language of a text and use the appropriate language tts?

[2021-11-07 23:19] dlutton commented on #284
Not using this package, however I did create a package to help you do that.

https://github.com/dlutton/flutter_language_id. I haven't updated it in a while, so let me know if that doesn't work.

[2021-11-07 23:19] #284 closed

[2021-11-07 23:20] dlutton commented on #283
good idea @otopba, I'll see if there is a way to put that around a try/catch

[2021-11-07 23:22] dlutton commented on #255
@Rob-wang do you see any error messages that could be helpful in troubleshooting your issue?

[2021-11-08 02:10] Rob-wang commented on #255
NO, No error displayed

[2021-11-08 02:10] Rob-wang commented on #255
NO, No error displayed

[2021-11-09 00:23] dlutton commented on #255
@Rob-wang what version of flutter are you on?

[2021-11-09 02:35] Rob-wang commented on #255
Flutter 2.5.1 • channel stable •
https://github.com.cnpmjs.org/flutter/flutter.git
Framework • revision ffb2ecea52 (7 weeks ago) • 2021-09-17 15:26:33 -0400
Engine • revision b3af521a05
Tools • Dart 2.14.2

[2021-11-09 06:34] mimiaopp commented on #281
我也遇到相同的问题

[2021-11-09 07:19] mimiaopp opened #285 "Android 11 不能运行"
![Uploading image.png…]()

[2021-11-09 07:26] mimiaopp commented on #285
![image](https://user-images.githubusercontent.com/37366343/140880180-2f44c0e5-ae35-4066-9f3f-72e92285ec8a.png)

[2021-11-09 07:26] mimiaopp commented on #285
![image](https://user-images.githubusercontent.com/37366343/140880260-2e637fab-79cc-45df-badd-6c87520d9064.png)

[2021-11-09 08:11] mimiaopp commented on #255
我应该也是这个问题,getEngines只获得了com.samsung.SMT

[2021-11-10 17:34] dlutton commented on #255
@Rob-wang okay I don't have that device, but I'll try to replicate the issue.

[2021-11-10 17:35] dlutton commented on #285
@mimiaopp I apologize, but what issue are you running into here?

[2021-11-10 17:37] dlutton commented on #281
@mimiaopp do you have details of the error you're receiving and the device and flutter version you're using?  Also, are you able to translate your text to english for me when posting a comment?  Thank you!

[2021-11-11 06:04] madhav0922 commented on #277
Oh alright, let me know. Thank you

[2021-11-11 06:20] madhav0922 commented on #144
Yes I'm also experiencing the same, on iPhone X with Tts version 3.2.2

[2021-11-11 19:55] dlutton commented on #144
@madhav0922 do you have an example of code or text that is causing this?

[2021-11-11 19:57] dlutton commented on #277
@madhav0922 unfortunately I haven't found a solution within the Android API to ignore certain characters.  Could you possibly do a string replace to replace the underscores found in the text with something else?

[2021-11-12 02:25] Rob-wang commented on #255
thanks. If it is repaired, can you reply to me? Looking forward to your good news

[2021-11-15 15:21] alyyasser commented on #275
changed your `compileSdkVersion` and `targetSdkVersion` in `android/app/build.gradle` to 31

[2021-11-19 08:12] lgGuo commented on #281
no suound for me too,android version is 7.1, flutter version id 2.5.1.

[2021-11-19 16:42] dlutton commented on #281
@lgGuo is this on a real device, emulator, or both?

[2021-11-19 16:43] dlutton commented on #281
@lgGuo, also are you adding `TextToSpeech.Engine.INTENT_ACTION_TTS_SERVICE` to your manifest?

[2021-11-22 23:37] hotlittlewhitedog commented on #282
Maybe check this for utterance:  https://pub.dev/packages/flutter_tts_improved

[2021-11-27 16:54] mvrsn opened #286 "How are the mixWithOthers and duckOthers options supposed to work?"
## 💬 Questions and Help
I'm having no luck in understanding how the `IosTextToSpeechAudioCategoryOptions.mixWithOthers` and  `IosTextToSpeechAudioCategoryOptions.duckOthers` are supposed to work

My assumption is that if I am playing music in another app for example, mixing will leave the music playing, and ducking will lower the volume while the text is spoken, but neither of these options seem t

[2021-11-30 19:35] dlutton commented on #286
@mvrsn these are all iOS specific options which can be found through their documentation:

mixWithOthers = https://developer.apple.com/documentation/avfaudio/avaudiosession/categoryoptions/1616611-mixwithothers

`If you set this option, your app mixes its audio with audio playing in background apps, such as the Music app.`

duckOthers = https://developer.apple.com/documentation/avfaudio/avaudioses

[2021-12-01 10:40] Rob-wang commented on #275
Flutter 2.5.3 • channel stable •
Tools • Dart 2.14.4

[2021-12-01 11:10] PawanGhewande commented on #275
Not sure, but try adding this in your  AndroidManifest.xml
[code]
and also comment this import if possible  import 'package:flutter_tts/flutter_tts_web.dart';

[2021-12-01 11:18] Rob-wang commented on #275
This has no effect, and I have not used flutter_tts_web.dart. TTS_SERVICE has been done in the plugin.

[2021-12-01 17:34] mvrsn commented on #286
@dlutton I tested a bunch more with different settings and made sure that I'm running the latest version of the plugin, pod and ios and music definitely stops for me when I call the `speak()` method, will open a bug ticket

[2021-12-01 17:34] #286 closed

[2021-12-01 17:42] mvrsn opened #287 "'duckOthers' and 'mixWithOthers' settings not working as expected"
## 🐛 Bug Report
When trying to speak text while playing music in a different app the music stops immedeately when I call the `speak()` method

I'm not sure if this is related, but I noticed that when I called `setSharedInstance(true)` the music in the background would also stop, but this might be expected behaviour

When putting breakpoints inside the `SwiftFlutterTtsPlugin` the music stopped play

[2021-12-02 02:07] Rob-wang commented on #275
It is my own problem, and there is a problem with my certificate. It has now been resolved.😅

[2021-12-08 17:15] rachidev84 opened #288 "Issue with androidx"
## 🐛 Bug Report

### Expected behavior
WARNING: This version of flutter_tts will break your Android build if it or its dependencies aren't compatible with AndroidX.
         See https://goo.gl/CP92wY for more information on the problem and how to fix it.
         This warning prints for all Android build failures. The real root cause of the error may be unrelated.
### Reproduction steps
I follow t

[2021-12-08 21:24] dlutton commented on #288
@rachidev84 this message is coming from the build.gradle file.  https://github.com/dlutton/flutter_tts/blob/master/android/build.gradle#L5

That message will be printed if `buildResult.failure && !rootProject.ext.has(ANDROIDX_WARNING)`

Are you using this plugin along with the google mobile ads plugin?

[2021-12-09 08:20] dev-yakuza opened #289 "App crashes at `com.tundralabs.fluttertts.FlutterTtsPlugin$4.onInit(FlutterTtsPlugin.java:110)`"
## 🐛 Bug Report

First, thanks for making the awesome open-source library. 🙇‍♂️

I developed an app with flutter_tts and deployed it recently.

And I got the `Crashlytics` report like the below.

[code]

I saw the issue comment https://github.com/dlutton/flutter_tts/issues/261#issuecomment-904129032, so I added `delay` like the below.

[code]

[code]

However, I still get the report. The crash is

[2021-12-09 18:04] dlutton commented on #289
@dev-yakuza does this error only occur with setEngine?

[2021-12-09 22:53] dev-yakuza commented on #289
I'm not sure. Yesterday, I got 3 reports.

![Screen Shot 2021-12-10 at 7 47 57](https://user-images.githubusercontent.com/42969906/145488078-bb790bd8-07ee-441f-995e-c53c9836a038.jpg)

- Galaxy Note10+ 5G / Android 11

[code]

- Galaxy A31 / Android 10

[code]

- Galaxy A12 / Android 11

[code]

[2021-12-09 23:02] dev-yakuza commented on #289
@dlutton I service the app for Korean. 🇰🇷 And Galaxy in Korea doesn't have GoogleTTS initially. 😭

So, I have checking the engine logic like below.

[code]

Today, I will try to remove the logic and test it to make sure the crashes occur in `setEngine`. 🔬

(Question) I saw https://github.com/dlutton/flutter_tts/issues/261#issuecomment-904000289. If there is no Google TTS, Is there no problem? 🤔

[2021-12-09 23:06] dlutton commented on #289
@dev-yakuza Google TTS is the default, however if you're trying to set the engine and receiving that error, it could be an issue with setEngine.  I'll look into that.

[2021-12-10 10:23] Zeswen commented on #260
Same here. All our Android 8 - 8.1 users are experiencing crashes using FlutterTTS.
[code]

[2021-12-10 11:45] dev-yakuza commented on #289
I tested it. And I got a crash report. (Galaxy Tab4 10.1 / 6.0.1).

[code]

So, I think `getDefaultEngine`, `getEngines`, and `setEngine` are not the reason for the crash. 🤔

[2021-12-10 20:47] dlutton commented on #260
@Zeswen are you using setEngine or do you have any parts of code you can share that is causing the crash?

[2021-12-10 23:37] dev-yakuza commented on #289
@dlutton

I tested it. And there are no crash reports, So `getDefaultEngine`, `getEngines`, or `setEngine` makes the app crash.

I hope this info is helpful to debug it 🙏

[2021-12-12 19:02] dlutton commented on #289
@dev-yakuza that's extremely helpful.  I'll use that to pinpoint the issues with those methods on Android.  Thank you

[2021-12-13 17:22] dlutton commented on #260
@ekuleshov
When you get a moment please test the latest release 3.2.3 which should fix the issue you have based on the information you provided me above.

In your case, you'll need both `await flutterTts.setQueueMode(1);` and `await flutterTts.awaitSpeakCompletion(true);`.  Also note that you only need to call those methods once and not every single time you run the speak method.

[2021-12-13 17:28] ekuleshov commented on #260
@dlutton thank you. Will do. Can those methods be called on all platforms or conditionally on Android only?

[2021-12-13 17:35] dlutton commented on #260
@ekuleshov setQueueMode is only available for Android, so this fix is specific to Android. The awaitSpeakCompletion will work the same on iOS, however the fix is specific to your use case of a request to speak coming into the platform while a speak is already occurring.  The queue mode with the awaitSpeakCompletion together wasn't working properly.  Let me know if you run into any issues on iOS wi

[2021-12-14 12:19] sandeshgoel commented on #205
Is this issue fixed? I still see that "On Flutter web, flutterTts.speak() returns immediately even if awaitSpeakCompletion(true) has been called".

I am using latest version 3.2.3

[2021-12-14 18:37] dlutton commented on #205
@sandeshgoel , it doesn't appear I merged in code from the PR for this fix.  I'll get this merged in if it's still an issue.

[2021-12-15 00:28] rachidev84 commented on #288
Yes I use google mobile ads plugin last version
and I set targetSdkVersion to 31
minSdkVersion 21
        targetSdkVersion 31
        multiDexEnabled true
        versionCode flutterVersionCode.toInteger()
        versionName flutterVersionName

[2021-12-16 03:55] lawzyresources opened #290 "I can't synthesize my TTS file on iOS"
I'm trying to synthesize my file on my iOS device and keep receiving this error.

Devices I'm using are:
Iphone 12(personal device)-- Version 14.8.1
Iphone 11 (Simulator) --Version 14.4

 Saving utterance to file: file:///var/mobile/Containers/Data/Application/01C8B139-C5A4-4176-BAC4-6B4FEFD00769/Documents/scannedtext.caf
[ +105 ms] <AVAudioFormat 0x2802e0ff0:  1 ch,  22050 Hz, Int16>

[ +858 ms]

[2021-12-18 18:35] Moatamed8 opened #292 "when build or run apk give me this error"
## 💬 Questions and Help

* What went wrong:
Execution failed for task ':app:processDebugResources'.

     C:\Users\So\Desktop\Flutter Project\app\example\android\App\example\build\flutter_tts\intermediates\library_manifest\debug\AndroidManifest.xml:9:5-13:15: AAPT: error: unexpected element <queries> found in <manifest>.

[2021-12-18 19:56] dlutton commented on #292
@Moatamed8 I tried `flutter build apk` and that worked successfully.  what is your classpath in your android/build.gradle file?  You may need to upgrade your gradle version.

[2021-12-18 21:18] dlutton commented on #288
@rachidev84 please try using the latest 3.2.4 version.  If you still receive errors, please paste the full error since it may be unrelated to androidx as you mentioned.

[2021-12-19 10:12] Moatamed8 commented on #292
here's my classpath
    dependencies {
        classpath 'com.android.tools.build:gradle:3.5.0'
        classpath 'com.google.gms:google-services:4.3.10'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }

[2021-12-19 19:02] ekuleshov commented on #260
Verified. The TTS seem to be working with .setQueueMode(1); and .awaitSpeakCompletion(true) one time init on Android.

[2021-12-20 17:18] jrheisler commented on #205
It seems to still be an issue.

[2021-12-21 01:23] #260 closed

[2021-12-21 06:07] rohitsangwan01 opened #293 "Support For Beep"
## 🚀 Feature Requests

Sir can you please add support for Beep sound , or is there any workaround to get a beep sound by this package

Because my app includes TTS as well as Beeps , so it will be really easy to handle all this by one package , instead of adding two

[2021-12-21 11:30] dvorapa opened #294 "Since Flutter 2.8 flutter_tts won't build"
## 🐛 Bug Report

Since Flutter 2.8 you should declare your minSdkVersion in `local.properties` instead of `app/build.gradle`. But this is not recognized, build fails.

### Expected behavior
It should use the minSdkVersion from local.properties when building and not throw an error.

### Reproduction steps
[code]

### Configuration
[code]

**Version:** 3.2.4

**Platform:**
- [ ] :iphone: iOS
- [x] :

[2021-12-21 11:46] Zeswen commented on #287
Can replicate. Users are experiencing audio stopping in iOS if an audio plays (using [`audioplayers`](https://github.com/bluefireteam/audioplayers)) at the same time. I assume it's related to this.

[2021-12-21 11:48] Zeswen commented on #260
Excuse me for the late response, the problem was unrelated to this since we didn't use `setEngine`.

[2021-12-21 17:44] Moatamed8 commented on #292
i solved it by set    classpath 'com.android.tools.build:gradle:3.5.4'

[2021-12-21 17:44] #292 closed

[2021-12-23 04:04] lawzyresources commented on #290
@dlutton Thank you for taking this bug on. Any update on what can be the error? I'm not familiar with Swift so I wasn't sure how to debug it.

[2021-12-23 05:00] sp-sivaprasad commented on #294
same issue here

WARNING: This version of flutter_tts will break your Android build if it or its dependencies aren't compatible with AndroidX.
         See https://goo.gl/CP92wY for more information on the problem and how to fix it.
         This warning prints for all Android build failures. The real root cause of the error may be unrelated.
         **********************************************

[2021-12-23 11:40] mitghi commented on #290
@lawzyresources I have tested this further, and i suspect that you might be calling _.awaitSpeakCompletion(true)_ somewhere before calling _.synthesizeToFile(...)_, which causes the crash.

The following code causes a **crash**:
[code]

But this one does not:
[code]

[2021-12-23 19:49] dlutton commented on #290
@lawzyresources do you have a snippet of the code you're running that's causing the crash?

[2021-12-23 19:53] dlutton commented on #294
@dvorapa it appears something you're using is using an android sdk version earlier than 21.   This package requires a minimum of 21.

[code]

[2021-12-23 19:57] dlutton commented on #294
@sp-sivaprasad are you using the latest 3.2.4 flutter_tts version?  Your error seems to be unrelated.  Try using the latest version and running flutter clean.

[2021-12-23 20:27] dlutton commented on #293
@rohitsangwan01 is Beeps a flutter package?

[2021-12-23 21:49] dvorapa commented on #294
I don't, I have minSdk set to 21, only flutter_tts has some issue recognizing my prefference

[2021-12-23 21:55] dvorapa commented on #294
Have you tried my reproduction steps with Flutter 2.8+?

[2021-12-23 23:44] dlutton commented on #294
@dvorapa Oh my apologies as I haven't tested the local properties change.  Looks like it's issue that's been addressed in the flutter repo https://github.com/flutter/flutter/issues/95533.

[2021-12-24 00:16] dlutton commented on #232
@Manrupt is this still an issue with the latest release?

[2021-12-24 00:17] dlutton commented on #287
@Zeswen @mvrsn this should be working with the latest release using the Mode option (see the Readme).

[2021-12-24 00:17] #287 closed

[2021-12-24 00:20] dlutton commented on #187
@JonasJW this should work with the latest release using the iOS session and mode options (see Readme).  There are no audio features similar on web unfortunately.

[2021-12-24 00:20] #187 closed

[2021-12-24 00:34] #205 closed

[2021-12-24 00:35] dlutton commented on #205
@jrheisler the latest release should fix your issue.

[2021-12-24 00:36] dlutton commented on #285
@mimiaopp I'm closing this issue, let me know if you're able to add any information as to your error since your original post included a picture that isn't rendering correctly.

[2021-12-24 00:36] #285 closed

[2021-12-24 00:38] dlutton commented on #257
@JosephIbe the latest version should work for you.

[2021-12-24 00:38] #257 closed

[2021-12-24 01:05] sp-sivaprasad commented on #294
I updated to flutter_tts 3.3.1 and previous error was gone.  but now another issue showed up

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\Users\HP\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\flutter_tts-3.3.1\android\build.gradle' line: 23

* What went wrong:
A problem occurred configuring project ':flutter_tts'.

* Try:
Run with --stacktrace option to get the stack trace

[2021-12-24 02:43] rohitsangwan01 commented on #293
@dlutton , yes there is alread a package for that , "Flutter Beeep"

[2021-12-24 03:48] dlutton commented on #294
@sp-sivaprasad that's my fault, please try the latest 3.3.2 version which includes the missing args param I accidentally removed.

[2021-12-24 04:47] sp-sivaprasad commented on #294
@dlutton

Thank you. issue gone :)

[2021-12-24 07:20] #243 closed

[2021-12-24 07:28] #143 closed

[2021-12-24 07:35] #131 closed

[2021-12-24 20:18] dlutton commented on #294
@dvorapa I'm closing this since it's being addressed in the flutter repo.

[2021-12-24 20:18] #294 closed

[2021-12-24 21:08] dlutton commented on #293
@rohitsangwan01 that package looks like it's intended to play system sounds, which is out of the scope of TTS.  If any of the TTS docs for android (https://developer.android.com/reference/android/speech/tts/TextToSpeech) or ios mention beep as an option, then I will integrate it.

[2021-12-24 21:08] #293 closed

[2021-12-24 23:53] dlutton commented on #290
@lawzyresources @mitghi the latest 3.3.3 version should fix this issue.   It's a temporary solution since I need to rework synthesizeToFile anyways to allow someone to pass in an already created directory/file.

[2021-12-25 05:58] dlutton commented on #275
this is fixed in the latest version

[2021-12-25 05:58] #275 closed

[2021-12-25 05:59] dlutton commented on #263
this has been fixed in the latest version

[2021-12-25 05:59] #263 closed

[2021-12-25 19:13] dvorapa commented on #294
Sure, I'll follow upstream issue then. Thank you for your investigation!!

[2021-12-25 20:19] lawzyresources commented on #290
@mitghi  @dlutton Yes I would call the  await the speak completion to be true. here's a screen shot. I'll pull down the latest version and test it. thank you guys
![image](https://user-images.githubusercontent.com/77633349/147392988-6b306f1c-8592-4658-919b-c384628647e1.png)

[2021-12-25 20:21] lawzyresources commented on #290
I just realized the code above was the latest code I was using but not the one that was crashing.
This is the code that failed for me before - - Also Merry Christmas
![image](https://user-images.githubusercontent.com/77633349/147393030-f3d1700e-0352-486a-9a8c-1f22954b0339.png)

[2021-12-25 20:36] lawzyresources commented on #290
3.3.3 fixed it!! Thank you so much- have an amazing holiday! @dlutton

[2021-12-25 20:36] #290 closed

[2021-12-27 16:53] mvrsn commented on #287
Awesome! Thank you @mitghi @dlutton

[2021-12-27 18:43] mvrsn opened #295 "Method 'setIosAudioCategory' does not seem to work"
## 🐛 Bug Report
I was trying to test the new audio mode option by calling the `setIosAudioCategory` method but were having some issues with getting `duckOthers` to work

I then tried a bunch of different settings combinations, but none of them seemed to affect the outcome

I put some breakpoints in the `SwiftFlutterTtsPlugin` file, and it seems the method channel method `setIosAudioCategory` gets

[2021-12-27 20:40] dlutton commented on #295
thanks for the tip regarding documentation, I definitely need to do a better job with that.  What outcome are you trying to accomplish?

did you try the following:
[code]

[2021-12-27 20:54] mvrsn commented on #295
@dlutton yea but I have a feeling that it just works with the defaults, the background audio is no longer stopped

However, when I change to `duckOthers` there is no change in behavior, and according to the breakpoints the method never gets called successfully

[2021-12-27 21:27] dlutton commented on #295
okay thanks I'll look into it @mvrsn

[2021-12-27 23:37] AJWurts commented on #273
I am having the same problem. It is happening with Flutter 2.5.3 and iOS 14.8.1. It is now causing my app to crash, and it seems to be only on the iPhone 12 Pro Max. Has anyone found a fix for this problem?

[2021-12-28 00:17] dlutton commented on #273
@AJWurts do you have any logs you can provide related to your app crash?

[2021-12-28 07:55] joshua750 opened #296 "Urdu text to speech in Ios and hebrew text to speech in android not available"
## 🚀 Feature Requests

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [x] :iphone: iOS
- [ ] :robot: Android

[2021-12-28 07:56] joshua750 commented on #296
Urdu text to speech is not available for iphone and hebrew text to speech is android is not available

[2021-12-28 19:01] dlutton commented on #296
@joshua750 this package uses the native TTS service on each device, so the languages that are available are out of my hand.

[2021-12-28 19:01] #296 closed

[2021-12-30 11:50] OBESTMAN opened #297 ".stop() doesn’t work on iOS 15"
.stop() doesn’t work in iOS 15, but works in older versions of iOS

[2021-12-30 13:43] #297 closed

[2021-12-31 09:48] OBESTMAN opened #298 ".stop() doesn't work on iOS 15 and above"
OS Version: 15
flutter_tts package version 3.3.3

Platform:
 📱 iOS

[2021-12-31 14:53] #298 closed

[2021-12-31 19:10] dlutton commented on #298
Looks like it's being reported as a bug:
https://stackoverflow.com/questions/70537016/ios-15-2-bug-on-didfinish-utterance-callback

[2021-12-31 19:27] OBESTMAN commented on #298
That’s interesting.. well, I spent today hacking away some sort of a solution for about 6 hours lol... I used Boolean flags to set conditions for when the stop is clicked as a way to pause the synthesis and also for when it means to end the synthesis. 
Do you plan on looking into a solution for it ? 

Sent from Yahoo Mail for iPhone

On Friday, December 31, 2021, 7:10 pm, Daniel Lutton ***@***.***

[2021-12-31 20:10] dlutton commented on #298
@OBESTMAN it's a bug with Apple, so we'll have to wait and see if they come up with a solution or work around until it's fixed.

[2021-12-31 22:01] OBESTMAN commented on #298
Ok, we have no other choice but to wait. 
By the way, how can I keep the flutter_tts playing when someone closes the app but still keeps it in the background? 

Sent from Yahoo Mail for iPhone

On Friday, December 31, 2021, 8:11 pm, Daniel Lutton ***@***.***> wrote:

@OBESTMAN it's a bug with Apple, so we'll have to wait and see if they come up with a solution or work around until it's fixed.

—
R

[2022-01-01 17:43] FetFrumos opened #299 "a few questions on votes"
thanks for the great package. I have a few questions.
1.How to get a list of voices with their names?
I use this method getVoices, this is the result:

![image](https://user-images.githubusercontent.com/18227037/147856780-c6e1f03d-3c05-4507-9070-600e261576de.png)

 But I was expecting to see the name of the voice in the form of the name "Karen"(as example). maybe there is another method?

2. How d

[2022-01-02 20:21] dlutton commented on #299
@FetFrumos those are the name and locales coming from the native TTS engine on the device.  I'm assuming your output is from Android as it will differ from iOS.

[2022-01-03 07:33] CodyBontecou opened #300 "Is there a way to know when the tts package is finished speaking?"
Is there an event that I can listen to that allows me to run code after my app is finished speaking?

[2022-01-03 09:40] FetFrumos commented on #299
thanks, how do I know which voice is used by default?

[2022-01-03 19:11] dlutton commented on #299
@FetFrumos for Android, there is a default that's set already depending on the locale/language being used.  Android does have a getDefaultVoice - https://developer.android.com/reference/android/speech/tts/TextToSpeech#getDefaultVoice() which I can add to this package if you'd like, I'm not sure if iOS has something similar.

[2022-01-03 19:13] dlutton commented on #300
@CodyBontecou you can use `await flutterTts.awaitSpeakCompletion(true);` and then simply await your speak method.  After your speak method is complete, then you know it's done.  Another way is to use the callback
[code]

[2022-01-04 20:39] CodyBontecou commented on #300
Perfect, thank you!

[2022-01-04 20:39] #300 closed

[2022-01-05 08:52] FetFrumos commented on #299
yes, add it please

[2022-01-06 06:14] madhav0922 commented on #277
Sure, thanks!

[2022-01-06 13:50] madhav0922 opened #301 "App crashes with error NSCFString substringWithRange:]: Range {9, 18446744073709551606} out of bounds; string length 21"
## 🐛 Bug Report

Only on macOS,
As weird as it may sound.. as soon as I pass "Match the following: ", the app crashes with the error NSCFString substringWithRange:]: Range {9, 18446744073709551606} out of bounds; string length 21.
However, if we focus, we see string length is also printed by the same error above as 21, and it is well within range.
I have tested the words separately ("Match the" ,

[2022-01-06 19:18] dlutton commented on #301
@madhav0922 I believe this was a bug with Apple, but I'll confirm.

[2022-01-07 09:53] ostpnk opened #302 "java.lang.NullPointerException in public void onStart() of UtteranceProgressListener"
## 🐛 Bug Report

In (https://github.com/dlutton/flutter_tts/blob/3af42c523595176bf8475ae21865dd80a79c4bde/android/src/main/java/com/tundralabs/fluttertts/FlutterTtsPlugin.java)
line 95 :
this.onProgress(utteranceId, 0, utterances.get(utteranceId).length());
causes java.lang.NullPointerException after calling synthesizeToFile(..),
because variable utterances only updated in method speak(..) - line

[2022-01-10 07:53] YeFei572 opened #303 "build flutter 2.8.1 have some error info"
My environment:
Win: 10
Flutter: 2.8.1
flutter_tts: 3.3.3

My project was created by flutter 2.5x, and I upgrade my flutter to 2.8.1 yesterday.

This is the log:
[code]

[2022-01-12 01:15] CodyBontecou opened #304 "getLanguages() data formatting"
I'm curious if there is a way to get the language to provide more than the locale id.

When printing the data returned from `getLanguages`, it returns a list of locale codes formatted like so:

`[ru-RU, en-US, es-ES, ... ]`

Is there a built-in way to get the name associated with the locale id? I want to display `English - US` rather than `en-US`.

[2022-01-12 01:39] dlutton commented on #304
@CodyBontecou Is this for Android?  I easiest thing to do here without introducing a breaking change is to create a getDisplayCountry() method which calls it against the locale.  I'll see if there is something similar on iOS.

[2022-01-12 02:07] CodyBontecou commented on #304
For now, it's Android but I'd prefer a universal solution if possible.

Do the languages get returned as a Locale type on Android??

[2022-01-12 03:50] YeFei572 commented on #303
solved!
change the `targetSdkVersion 31` and make the `jdk` to 11, then `flutter clean`

[2022-01-12 03:50] #303 closed

[2022-01-13 19:23] dlutton commented on #304
@CodyBontecou yes they do
[code]

[2022-01-16 23:40] mchlsndrn commented on #252
@dlutton sorry to ask again but this might cause additional headaches later on.

Currently files are synthetized to getExternalStorageDirectory().
fI later you improve this and add the ability to provide a path parameter, I will still have to access getExternalStorageDirectory() in order to list / playback previously saved mp3 files.

Do you have any ETA for this?

[2022-01-18 01:04] dlutton commented on #252
@mchlsndrn that is the plan, however I don't have an ETA as of right now since I've been extremely busy, but hopefully I can get to it soon.

[2022-01-19 11:04] madhav0922 commented on #301
Alright, thank you

[2022-01-21 02:05] tmxdyf opened #305 "add isSpeaking funcation"
## 🚀 Feature Requests

flutterTts.isSpeaking

### Describe the feature
It is convenient to know whether it is currently broadcasting

[2022-01-24 06:04] JogyBlack opened #306 "Inconsistent speaking of number on Android"
## 🐛 Bug Report

If you pass a string containing a number to speak(), like speak('42'), in most cases it is pronounced correctly as a number. But on Android I have encountered few exceptions: speak('101') is pronounced as 'one-oh-one' and speak('112') is pronounced as 'one-one-two'. But speak('111') pronounces as 'one hundred and eleven'.

### Expected behavior
speak('101') is pronounced as 'one h

[2022-01-27 12:31] nouveau-riche opened #307 "There is no option for native Indian languages like Tamil, Oriya, Kannad etc. If the developers can get support for this, this will be best package for text to speech in flutter"
## 🚀 Feature Requests

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [ ] :iphone: iOS
- [ ] :robot: Android

[2022-01-30 13:59] shinriyo commented on #82
wher the list?

[2022-01-30 14:00] shinriyo commented on #157
where is voice??

[2022-01-30 14:37] sylvainjack opened #308 "After a certain number of "SPEAK", it stops... Is there a limit to the number of words "tts.speak" calls that we can make ?"
## 🐛 Bug Report

### Expected behavior
I expected it to have no limit...
### Reproduction steps

### Configuration
I check it on an iPhone XS PRO MAX.
**Version:** 0.1.x

**Platform:**
- [ X] :iphone: iOS
- [ ] :robot: Android

[2022-01-31 06:07] dlutton commented on #307
@nouveau-riche unfortunately this package doesn't control the languages that are available.  This package uses the native TTS engines on each device, so it depends on the device/engine.

[2022-01-31 06:07] #307 closed

[2022-02-04 10:15] sylvainjack opened #309 "Problem when having to pronounce a word with a "-" in it. Only the first part of the word is pronounced."
## 🐛 Bug Report

When a word contains a "-", only the first word is pronounced. The word "beau-frère" in French : only "beau" is pronounced.

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 0.1.x

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2022-02-10 17:25] dlutton commented on #309
@sylvainjack by device I meant android vs iOS.  This package uses the native TTS engine on your device.

[2022-02-11 12:39] 0Vipin0 commented on #175
Any updates for Windows or Linux?

[2022-02-11 17:54] dlutton commented on #175
@0Vipin0 unfortunately no updates on my end as I haven't had the time to implement that yet.  I am open to any PRs related to windows/linux support.

[2022-02-12 09:58] sylvainjack commented on #309
So does it mean that IOS native TTS can't pronounce words with a "-" in them ?

[2022-02-13 01:56] JogyBlack commented on #306
One workaround I found is to use SSML ([Speech Synthesis Markup Language](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup)) to enforce correct pronouncing of the numbers.

Example:

<speak version="1.0" xmlns="http://www.w3.org/2001/10/synthesis" xml:lang="en-US"><voice name="en-US-JennyNeural"><say-as interpret-as="cardinal">101</say-as></voice></s

[2022-02-13 02:50] JogyBlack commented on #309
@sylvainjack Have you tried to use SSML to add more control on how the text is pronounced?

It helped me for a related issue on Android - see Issue #306

[2022-02-17 22:05] fbr-github opened #310 "How to let a string speak as time duration?"
## 💬 Questions and Help

Hi!
First, I want to say thank you, it's a great plugin!
My question is: Is there a way to format a string for saying it as time duration (how long things have been going on)? For instance 04:34 should be spoken as "4 minutes and 34 seconds". Instead it says it like a time of day: "four thirty four" in English, and "4 Uhr und 34 Minuten" in German.
Cheers
P.S.: I found a h

[2022-02-18 17:36] dlutton commented on #310
@fbr-github you'd have to manipulate the text to "4 minutes and 34 seconds" for it to read that way.  Some SSML tags may work, but it depends on the TTS engine.  For example, the Android TTS documentation doesn't make mention of SSML (at least I don't see any mention of it) however some tags seems to work (https://developer.android.com/reference/android/speech/tts/TextToSpeechService).

[2022-02-20 13:49] daiweiqiang6688 commented on #299
I'm having the same problem, I need to get the default Voice, any progress now?

[2022-02-22 05:16] dlutton commented on #299
@daiweiqiang6688 do you need this on Android, iOS, or both?  I haven't seen anything similar on iOS, but I can quickly implement it for Android if you only need it there.

[2022-02-22 06:07] daiweiqiang6688 commented on #299
@dlutton
Thank you for your reply.
I think both platforms are needed if possible.
I'm writing an application that allows the user to modify parameters such as voice, speech rate, etc.
So it needs to show the current default voice used, and when modified, it can be restored to the default voice by clicking the "restore default" button.
So it is necessary to get the default voice, or is there any ot

[2022-02-23 01:42] iDeliverWilhem opened #311 "No Sound in Real Iphone SE device"
## 🐛 Bug Report

I test the example app in IOS and it works on the emulator  and android but not on the real device (Iphone SE, OS 15.2.1)
even if the volume is set to 1

### Expected behavior
Speaking voice should be heard

### Reproduction steps
Checkout example app
Flutter pub get
Flutter run

### Configuration
[✓] Flutter (Channel stable, 2.8.1, on macOS 11.4 20F71 darwin-arm, locale en-PH)
[✓

[2022-02-24 09:42] TranTuanManh commented on #311
I got this issue too. I must downgrade to v3.2.2 to make it work around

[2022-02-24 10:18] bblue000 commented on #266
I have same issue...
I think he meant, user can getEngines() ignore isTtsInitialized 's value.

[2022-02-28 18:25] dlutton commented on #266
@bblue000 that makes sense, I'll see if I can integrate a work around for this situation.

[2022-03-01 13:24] AyeshaIftikhar opened #312 "synthesizeToFile() is creating an empty audio file"
## 💬 Questions and Help

Provide question related to this flutter plugin.
I am working on an application in which user enters a script and then generate an audio file from that but the issue I am facing is `synthesizeToFile() `function is generating an empty audio file if the entered script is more than 1 lines.  Also I am saving the generated audio file into firebase storage and the audio files a

[2022-03-03 23:13] dlutton commented on #312
@AyeshaIftikhar does it work with `await flutterTts.awaitSynthCompletion(true);` ?  I'm not sure what you mean by having a user enter a "script" and then generate an audio file from it.

[2022-03-03 23:16] dlutton commented on #308
@sylvainjack sorry for the delay, but I haven't used this with speech_to_text, do you have a small sample app with code where I can play around with it to determine if the issue is on the end of this plugin?

[2022-03-04 08:05] AyeshaIftikhar commented on #312
I am doing this `await` and even though I haven't used `flutterTts.speak()` but still it utters the script in the background and that's why it is generating the empty audio file.

[2022-03-05 13:05] sylvainjack commented on #309
No I haven't really looked into SSML. But I am just really surprised that the TTS engine on an iPhone can't pronounce a word containing a hyphen.... Why so ?

[2022-03-05 13:07] sylvainjack commented on #308
Oops, no... I am just working on one app, which is quite large... Maybe adding the speech_to_text to the TTS example app ? to see ?

[2022-03-07 19:50] dlutton commented on #308
@sylvainjack good point, I'll try with the example.  Also, were there any logs from the bug you encountered or did it just simply stop speaking?

[2022-03-07 20:05] dlutton commented on #309
@sylvainjack is this only occurring on a real device and not an emulator (When doing a google search for AVSpeechSynthesizer and hyphens I see that someone else ran into a similar issue)?  Have you also tried using another language and other hyphenated words?  when I get a moment I'll try a few words with hyphens.

[2022-03-07 20:07] dlutton commented on #312
@AyeshaIftikhar by "script" do you mean "text" that a user passed to the function?  Can you provide an example showing the issue you're running into so I can try to replicate it?

[2022-03-07 20:18] sylvainjack commented on #309
I only use a real device. Never used an emulator. I use an iPhone XSmax. I just tried English words and the words with hyphens were pronounced... Apparently, pb with French ?

[2022-03-07 20:21] sylvainjack commented on #308
No, no logs, it just stopped speaking.

[2022-03-08 09:04] jan-koz commented on #65
Any updates on this? Recently came across this problem

[2022-03-09 05:32] AyeshaIftikhar commented on #312
@dlutton I can't share the complete code because there are too much variable and steps included and the code is the property of the company I work for and they don't allow to share the code publicily but I can share the process.
And the process is:
- User creates the script by typing some test or selecting some of the options provided by the application.
-  Then they will generated the audio scrip

[2022-03-09 18:29] dlutton commented on #312
@AyeshaIftikhar is the issue with the length of the text you're passing into the method?  Do you know how many characters are being passed in?

[2022-03-09 19:12] dlutton commented on #309
@sylvainjack it could be a problem with the French language setting as you mentioned.  I'll have to do some digging around to see if there is a reason for this.

[2022-03-09 19:19] dlutton commented on #65
@jan-koz I'll need to dig into this issue as I don't have a solution for it yet.

[2022-03-11 11:54] sylvainjack commented on #309
I added a string.replaceAll('-',' ') and I no longer have problems :) I guess this could be a solution.

[2022-03-11 18:45] mvrsn commented on #295
It seems like there is something going wrong on line `278`

[code]

When I run through the code with breakpoints the `mode` variable doesn't seem to initialize properly and then the `Error Domain=NSOSStatusErrorDomain Code=2003329396 "(null)"` error happens, possibly because of the `!` in `try audioSession.setCategory(category, mode: mode!, options: options)`

I could try to look into it myself if

[2022-03-12 01:44] dlutton commented on #309
@sylvainjack I'm glad that solution works for you, this is definitely a native iOS TTS issue, so I'll mark this as closed on my end.

[2022-03-12 01:44] #309 closed

[2022-03-12 06:52] AyeshaIftikhar commented on #312
I can't say it exactly but the text entered by the user can be of any length. I would say it can go up to 1000 to 10,000 characters in length.

[2022-03-15 05:23] pastapareo opened #313 "[Android] Is it possible to adjust the volume while tts is speaking?"
## 💬 Questions and Help
Currently, we have functionality to mute/unmute the voice. But we need to stop the tts engine first before setting the volume to 0 (mute) or 1 (unmute).

Is it possible to mute/unmute the voice while it is continuously speaking?

For iOS, i understand that it is not possible since changing the properties of a class AVSpeechUtterance after enqueuing to AVSpeechSynthesizer wo

[2022-03-17 15:42] michele-russo opened #314 "Problem iOS 'flutter_tts/flutter_tts-Swift.h' file not found"
## 🐛 Bug Report

When run pod install have error inside FlutterTtsPlugin.m:

fatal error: 'flutter_tts/flutter_tts-Swift.h' file not found
    #import <flutter_tts/flutter_tts-Swift.h>

I have fixed bug by editing import inside FlutterTtsPlugin.m:
 #if __has_include(<flutter_tts/flutter_tts-Swift.h>)
#import <flutter_tts/flutter_tts-Swift.h>
#else
#import "flutter_tts-Swift.h"
#endif

### Expected

[2022-03-18 21:30] dlutton commented on #313
@pastapareo unfortunately there isn't a way to do this that I'm aware of.

[2022-03-23 20:06] dlutton commented on #311
@TranTuanManh @lipingx does 3.2.4 and 3.3.0 work?

[2022-03-25 01:38] lipingx commented on #311
Sorry, I didn't try it yet.

[2022-03-25 03:15] TranTuanManh commented on #311
@dlutton I tried some lower versions (I don't remember what exact versions are) but v3.2.2 is the lowest version that worked

[2022-03-26 10:46] luomo-pro opened #315 "Error when working with audioPlays package"
On the iOS platform,When I use tts to read a text aloud while using the audioPlays package to play a short sound effect, I get the following error message:
"Error configuring audio session: Error Domain=NSOSStatusErrorDomain Code=560030580 \"(null)\""
[AXTTSCommon] _BeginSpeaking: couldn't begin playback

it will terminate the speech of tts.
If I don't call audioPlays to play the sound effects, th

[2022-03-27 15:13] josephmaklc commented on #281
Try a reset of TTS on the phone to fix it. Settings->General Management->Language and Input ->Text to Speech. My phone has a Reset button there and then it starts to talk again

[2022-03-27 19:51] bugrevealingbme opened #316 "getDefaultEngine not working"
I need to check if the phone has TTS support. I call it with GetDefaultEngine but it doesn't return empty or not empty. The await command explodes. I got it in Try Catch but it still doesn't work. I did not understand a very interesting situation. If there is no TTS this will not work at all.

[2022-03-28 07:49] quickratio commented on #259
Hello, thanks for the library, just bumping this old thread, is there anyway to programatically download a language pack? it does not appear to be automatic for me nor can i find any reference documents to support that it does. thanks.

[2022-03-29 09:33] Pherne opened #317 "Incremental compilation has been disabled: it is not compatible with whole module optimization Command CompileSwiftSources failed with a nonzero exit code"
## 🐛 Bug Report

Since upgrading to XCode 13.3 I get this this error in this package and flutter_inappwebview when archiving my project. It happens on my mac and when I build with Codemagic. I don't get this error on 13.2 on my mac and when building with Codemagic. I checked my configuration according to this post https://developer.apple.com/forums/thread/701981 and nothing  seems to work. However

[2022-03-30 16:55] dlutton commented on #259
@quickratio this isn't an option at this time.  If there is a known way to do so in Android, I don't mind implementing an option to do so through this package.

[2022-03-30 16:56] #281 closed

[2022-03-30 16:57] dlutton commented on #315
@luomo-pro that's a tough one to troubleshoot, but I'll see what I can find out.

[2022-03-30 16:58] dlutton commented on #317
@Pherne does your app work successfully with other flutter packages?

[2022-03-31 02:06] quickratio commented on #259
@dlutton thanks for your response! thanks for your efforts! :)

[2022-03-31 07:42] Pherne commented on #317
Yes, I have other packages installed like provider, flutter_html, several firebase packages. None of them show this error.

[2022-04-01 12:13] vagoston commented on #175
I have a kind of working version on windows with the win32 API. There are strong limitation in that case, e.g. if you want to install a voice, you need to find an old 32bit version, the list of availabe voices reported by the OS is not the same as reported by the API. UWP would be a better solution, but the flutter support for UWP was not good enough when I checked last time.
For my personal use I

[2022-04-01 13:33] Pherne commented on #317
Just in case: I have another flutter project that doesn't use flutter_tts or flutter_inappwebview, but does include provider and multiple firebase packages and then some and I can archive that on 13.3 without issue.

[2022-04-02 10:44] vagoston commented on #175
I checked again and I sorted out the UWP part, so now I'm actively working on a windows implementation.

[2022-04-06 21:57] dlutton commented on #175
@vagoston unfortunately I don't have access to a windows machine right now, so feel free to send a PR when ready and I'll merge it in.  Anything you can add to the readme with instructions for windows will be very beneficial for other users.  Thanks!

[2022-04-16 03:25] pengboboer commented on #273
I am having the same problem.
It is happening with
Flutter 2.8.1 and iPhone 7 Plus with iOS 14.0.1.
The console has only one line of exception code：Error Domain=NSOSStatusErrorDomain Code=2003329396 "(null)"

Flutter 2.8.1 and iPhone 7 with iOS 13.6.
The console has only one line of exception code：Error Domain=NSOSStatusErrorDomain Code=-50 "(null)"

but the same app works on Android devices and i

[2022-04-16 08:09] pengboboer commented on #273
@dlutton

[2022-04-19 16:03] meowofficial opened #318 "App crashed at SwiftFlutterTtsPlugin.swift line 2147483647"
## 🐛 Bug Report

I got this report from Firebase Crashlytics

<img width="626" alt="image" src="https://user-images.githubusercontent.com/35203503/164046607-1ba467b0-7ff2-49fa-9424-9b5ff5ad7a37.png">

**Version:** 3.3.3

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2022-04-21 18:29] dlutton commented on #273
@pengboboer thanks for your research and information.  This will require additional research on my end.

[2022-04-26 00:59] mono0926 commented on #208
https://github.com/dlutton/flutter_tts/blob/48790bbe792050f8454343e30e547678bf0d3b15/example/lib/main.dart#L124 seems to be needed.

[2022-05-07 15:01] EALeeItsInTheC0de opened #319 "Set language does not change the language"
## 🐛 Bug Report

When setting the language to another language the text is still read in English but the voice accent changes to the language

### Expected behaviour

The text should be read out in the selected language, as long as it is installed and available

### Reproduction steps

[code]

### Configuration

**Version:** 3.3.3

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android

[2022-05-08 14:08] Stark958 commented on #228
Actually this error occurs after 2 sentences with a space.
For Example :
I am a man. I am a women. (IT BREAKS HERE) I am god.

[2022-05-11 17:42] bodoczky commented on #319
Same on Android :\

[2022-05-17 17:07] dlutton commented on #319
@EALeeItsInTheC0de the text needs to be in the language that is read.

[2022-05-17 17:08] #319 closed

[2022-05-17 17:35] EALeeItsInTheC0de commented on #319
ok but if I change my phone language to german and then run the speak function it plays it in german, even if the text is in English. Is this not the same as setting the language in the package ?

[2022-05-17 18:42] dlutton commented on #319
@EALeeItsInTheC0de unfortunately it's not the same in this case.  If you translate the text into the language you want it spoken in and also set the language accordingly, then it should work for you.  Otherwise you'll just have the accent like you're experiencing.

[2022-05-28 11:49] vagoston commented on #175
@dlutton
This took me ages to finish, and sometimes I almost gave up. Not the best quality code I ever wrote, but it works.
https://github.com/dlutton/flutter_tts/pull/320

[2022-05-28 17:59] dlutton commented on #175
@vagoston awesome, and don't worry about the code quality, this is open source (we aren't getting paid to do this) and can be improved upon over time.  I'll get it merged in.  Thank you!

[2022-05-29 22:48] mchlsndrn commented on #252
@dlutton I just tested my app on a mac and I'm not sure what your path corresponds using get*Directory() calls from path_provider.

I tried listing files in "/com.mycompany.example/Data/Documents" but I'm getting errors
[code]

According to my test, the files are saved in getApplicationDocumentsDirectory().path
Anyways, I want to list all audio files saved in this folder which is where a bunch of

[2022-05-31 01:59] dlutton commented on #318
@meowofficial do you have any other logs you could provide?  I can't determine why it crashed based off your screenshot.

[2022-05-31 02:18] dlutton commented on #317
@Pherne does `pod update` work for you?

[2022-05-31 06:32] meowofficial commented on #318
@dlutton no, that's all I have

[2022-05-31 11:02] ajay-ackerman commented on #89
then how will you resume it again?

[2022-05-31 22:03] AlienKevin commented on #217
For those looking for a workaround for now. Here's an equivalent to `awaitSpeakCompletion(true)` implemented with Dart Completer:
[code]

[2022-06-01 17:11] dlutton commented on #318
Thank you @AbdOoSaed , are you using `await flutterTts.awaitSpeakCompletion(true);` or `await flutterTts.awaitSynthCompletion(true);`?

[2022-06-03 07:55] iibinix opened #321 "Example can not run in Windows"
## 🐛 Bug Report
Example can not run in Windows ,It shows

`Flutter assets will be downloaded from https://storage.flutter-io.cn. Make sure you trust this source!
Launching lib\main.dart on Windows in debug mode...
lib\main.dart:1
D:\Users\istrator\Desktop\flutter_tts-3.4.0\example\windows\flutter\ephemeral\.plugin_symlinks\flutter_tts\windows\flutter_tts_plugin.cpp(217,10): fatal error C1083: �޷��

[2022-06-03 10:22] zsmiklos commented on #175
Many many thank you!!! I tried it and works for English language of TTS! :) But I'am searching the cause of problem: why "getLanguages" gives me only one result (it is the en-US lang). I set up a new speak language in the Windows settings and I can test it also. Now I'am studying your c++ code :) And again: thank you!

[2022-06-03 23:01] vagoston commented on #175
@zsmiklos You install languages for the 'new' (winrt) speech syntesis in Windows. That can not be accessed by SAPI5, the 'old' (win32) speech synthesis.
In flutter you can use windows platform, but that is actually win32 and can access only SAPI5. You can also use winuwp, which is actually my suggestion regardless of speech synthesis.
If you really want, you can make available your installed langu

[2022-06-05 21:27] dlutton commented on #321
any ideas @vagoston?  Sorry I haven't looked into the windows implementation yet, hopefully I'll have some time soon.

[2022-06-06 10:09] vagoston commented on #321
@iibinix  I'm sorry that it doesn't work for you. I checked again and it still works for me, and I know that at least one other person managed to make it work out of the box. Most likely your devenv is not usiing the latest versions.
Make sure that you followed the 'Additional Windows requirements' on https://docs.flutter.dev/get-started/install/windows. Please make sure that your build tools is v

[2022-06-10 10:13] Przemo1418 opened #322 "[iOS] TTS doesn't work on a actual (physical) device"
The test example works on iOS simulator, but not on a physical device, no matter what the volume is set to. Works perfectly on Android. We tried the newest version and also the older versions (also v 3.2.2) mentioned on another bug report earlier.

Expected behavior
Text to speech should be heard

Reproduction steps
Run test example on a physical iOS device

Configuration
[✓] Flutter (Channel stab

[2022-06-12 03:01] dlutton commented on #322
The sound of the app may be blocked by the "mute" switch (the physical mute switch on the left of the iPhone)

[2022-06-14 09:39] desmeit opened #323 "After setVoice it takes a while until speaking starts"
## 🐛 Bug Report

The user should be able to choose the language. For this I output a list with the voices of the language. In German it takes a while until the language is set and the voice speaks only after 3 seconds. This only happens in German. With English voices this issue does not occur.

[code]

Any ideas?

Thanks

[2022-06-14 18:39] dlutton commented on #323
@desmeit is this occurring on Android, iOS, or both?  What's the exact name and locale that your setting which takes ~3 seconds?

[2022-06-14 18:56] desmeit commented on #323
Hi, thanks for your answer. I tested it on IOS but I can test it tomorrow on Android as well.
The names are Helena and Martin de_DE. Anna seems okay.

[2022-06-15 09:48] faliqulamin commented on #101
Hello @dlutton @coldembrace
How to give pause or gap between number?

[2022-06-15 10:08] desmeit commented on #323
yes, in Android it takes also a long time until it begins to speak. I think its a generally issue and has nothing to do with german voices. It seems that it generally takes a long time to switch to another voice.
However, I have seen in other apps that it works without the delay.

[2022-06-15 18:45] dlutton commented on #101
@faliqulamin as @coldembrace mentioned, insert a single space after each char.

[2022-06-15 18:45] dlutton commented on #323
@desmeit thanks for the additional information, I'll see if I can troubleshoot this issue.

[2022-06-16 07:01] faliqulamin commented on #101
thank you @dlutton,
but i mean, there is function that give delay between char?

[2022-06-21 08:11] Winky370 opened #324 "The packaged release version cannot run under windows7 platform"
## 🐛 Bug Report

The packaged release version cannot run under windows7
My computer is based on windows10 platform, and the software works well on my own computer. But the customer is on windows7 platform. After opening, the software will crash and stop working. Here is my error log:

[code]

![image](https://user-images.githubusercontent.com/58101821/174748430-e0a68664-09f8-49bb-b369-3a79ef79b4b5

[2022-06-22 15:03] #324 closed

[2022-06-22 15:03] #321 closed

[2022-06-25 22:00] zsmiklos opened #326 "setStartHandler, setCompletionHandler does not work on Windows"
setStartHandler, setCompletionHandler, etc. handlers does not work on Windows. Only on other platforms. On Windows there is no effect. These handlers are not called by FlutterTTS on Windows.
So you can not determine if it is speeking or not.
Thank you in advance for the bug fix.

[2022-06-25 22:54] dlutton commented on #326
@zsmiklos this isn't a bug as it's not implemented on Windows.  This would be an enhancement to get it added.

[2022-06-26 09:00] zsmiklos commented on #326
Thank you.
On Windows how can you detect the end of a TTS speech? If there is no other way, then is this not a bug? Thanks.

[2022-06-26 13:52] wildsurfer commented on #295
I see the same `Error Domain=NSOSStatusErrorDomain Code=2003329396 "(null)"` error in my logs.

Flutter 3.0.3
flutter_tts 3.4.0

[2022-06-26 14:14] jamesshen-svt commented on #322
For people who wanna use tts in IOS silent mode, use IosTextToSpeechAudioCategory.playback category. For example:
[code]

[2022-06-26 20:24] dlutton commented on #295
thank you @mvrsn and @wildsurfer, I'll commit some time into looking into this issue.

[2022-06-27 08:23] vagoston commented on #326
@zsmiklos
win32: https://github.com/dlutton/flutter_tts/blob/112b9317dd0397324cb1d8e4126cd772d583229b/windows/flutter_tts_plugin.cpp#L326
uwp is a bit more complicated, but you can detect that mplayer is closing.
https://github.com/dlutton/flutter_tts/blob/112b9317dd0397324cb1d8e4126cd772d583229b/windows/flutter_tts_plugin.cpp#L78

[2022-06-27 15:48] zsmiklos commented on #326
Thank you very much! :)

[2022-06-28 19:32] Roshanalexander commented on #308
Seeing the same issue.

[2022-07-01 18:03] shirsho-12 opened #327 "Windows MissingPluginException on speak, setSpeechRate, awaitSpeakCompletion"
## 🐛 Bug Report

I had to recently switch from a web app to a Windows app. FlutterTts no longer works as all actions are throwing MissingPluginExceptions.

This is the widget that I am using.
[code]
### Expected behavior
It should speak on tap and speak at a slower speed on double-tap. It worked properly for Flutter Web but has broken down for Flutter Windows.
### Configuration
Flutter 3.0.3 • cha

[2022-07-04 08:05] AyeshaIftikhar opened #328 "Unable to play generated audio script as well as Audio scripts are not getting generated sometime."
## 🐛 Bug Report

The script is not getting generated properly. Sometimes the script generates perfectly and user can play it later by saving in the firebase storage or on device. But most of the time the converted audio script is just a 0 byte audio which is just an empty file and of no user.
_PS: I have reported this issue before and still no progress._

### Expected behavior
The audio scripts sh

[2022-07-06 04:12] sylvainjack commented on #315
Hello :) Am having the same kind of problem. When I use TTS, my sound effects with AUDIOPLAYERS will only play once. It doesn't terminate TTS, but Audioplayers doesn't seem to work anymore.

[2022-07-06 04:18] sylvainjack commented on #308
I have run some more tests concerning the interference between TTS and Speech_to_text : the bug is really systematic : User click on "speaker" to hear the word (with TTS) : it speaks fine... user clicks on "MICROPHONE ICON" (To translate the word he heard, it's a vocabulary app) : if user waits one or two seconds after TTS is finished, everything is fine. If user clicks on MIKE while TTS is speaki

[2022-07-10 16:56] holeg commented on #323
I have the same problem. On Android it is general a bit slower but on iOS it haas an enormous delay with german voice. The same on a native App (using AVSpeechSynthesizer) works perfect. It happens only with german voice and on device. On simulator everything works fine.

[2022-07-13 19:41] CleopasMwape opened #329 "Getting fatal error when trying to debug your example code on android mobile"
## 🐛 Bug Report
Getiing this long error log that starts like below:
Invalid depfile: C:\Users\ENE\Documents\example\.dart_tool\flutter_build\211b4f6761bfd841fe4d9a18786a4cd6\kernel_snapshot.d
/C:/SDKs/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_tts-3.5.0/lib/flutter_tts_web.dart:3:8: Error: Not found: 'dart:js'
import 'dart:js' as js;

Note:  The error seems to be caused by flutter_tts_web

[2022-07-15 18:36] dlutton commented on #329
@CleopasMwape try `flutter clean`

[2022-07-22 15:29] chimura opened #331 "getEngineList returns empty on Android if called right after instantiating FlutterTts"
## 🐛 Bug Report

If getEngineList is called right after instantiating FlutterTts, it returns empty.

I was able to make it work by waiting around 350~500ms before calling getEngineList.

After debugging the source code, I realized it happens because getEngineList is returning before TextToSpeech is properly initialized.

### Expected behavior

getEngineList should be able to wait for Android's Tex

[2022-07-22 20:44] asmith26 opened #333 "W/TextToSpeech(11619): speak failed: not bound to TTS engine"
## 🐛 Bug Report

I occasionally get this error

[code]

It's not very common, but when I get it I find I have to restart my entire app to get text-to-speech working again.

Just wondering if I am doing something incorrectly - otherwise perhaps there is a way I can detect this in code and restart the TTS engine (without having to restart the whole app) or something?

Many thanks for any help, and f

[2022-07-23 00:52] chimura commented on #333
Just try to wait some time before calling speak, and you should be good. Use Future.delayed if convenient (might take around 500ms to initialize).

[2022-07-23 14:42] asmith26 commented on #333
Thanks for the tip @chimura, will give this a go.

[2022-07-23 16:54] chimura commented on #331
Taking a deeper dive on this issue, maybe the best solution would be exposing TextToSpeech.onInit callback to flutter's level, since onMethodCall's result object must be called from the main thread and could not wait for the engine to properly start (would keep the ui hanging);

https://github.com/flutter/flutter/issues/22024#issuecomment-465289341

I'm not sure if this logic ever worked properly

[2022-07-26 11:43] fsievers opened #334 "Broken synthesis for language 'de-DE' on iOS 15.5"
## 🐛 Bug Report

The synthesis for the language 'de-DE' is broken with iOS 15.5. With iOS < 15.5 everything works as expected. With 15.5, numbers and words from other languages are distorted by some words (maybe characters) in the synthesized text. This only happens with `flutter_tts`. With `text_to_speech` everything works fine. But I need `flutter_tts` because it can run when the application is

[2022-07-27 09:45] KarinBerg commented on #334
We have the same problem in our Flutter app.

[2022-07-27 17:09] dlutton commented on #334
@fsievers can you tell me what the incorrect one is saying?  I'm not sure what you mean by distorted.

[2022-07-27 17:22] fsievers commented on #334
It says:"**Test** Homograph Start **zwei** Homograph end"
Zwei is the german word for two. The bold words are the expected ones.

[2022-07-27 18:10] kevmo314 commented on #334
We are also running into this

https://user-images.githubusercontent.com/511342/181342279-b46f26a1-c1a8-4b49-8bcd-85560fd17d3d.mp4

The text synthesized is "Text-to-speech enabled". You can hear it do something strange with the dashes and says something like "encol start" and "encol end". I'm actually not sure what the word is, but looks similar to the "Homograph" placeholder in @fsievers's exampl

[2022-07-29 19:59] hyungtaecf opened #335 "App crashing on macOS when trying to read specific strings in Korean"
## 🐛 Bug Report

The app crashes on macOS when trying to read specific strings in Korean.

This example is the word 손 (meaning: hand) - I also notice it happens with the alphabet letters like "ㄴ" and "ㄹ". It speaks the letter name on Android devices without crashing.

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFString substringWithRange:]: Range {1

[2022-08-02 14:41] TranTuanManh commented on #289
@dlutton
I got same issue like below:
[code]

This error sometimes occurs not always. I found that they only occur on Samsung devices.
The versions I'm using are `3.2.2` and `3.5.0`

[2022-08-03 17:50] dlutton commented on #289
@TranTuanManh are you also only receiving these errors with getDefaultEngine, getEngines, or setEngine?

[2022-08-03 23:44] shirne opened #337 "Please install this executable, and run CMake again"
## 🐛 Bug Report

[code]

### Expected behavior

### Reproduction steps
flutter run
select windows platform

### Configuration
[code]

**Version:** 3.5.0

**Platform:**
- [x] :windows
- [ ] :robot: Android

In my other project,when I run on windows, `NUGET.EXE not found.` also shown ,but it will automatic download and cache.
It shows:
[code]
and run OK.

so i think it's unnecessary to abort when no

[2022-08-04 01:04] TranTuanManh commented on #289
@dlutton Yes. I hope you can fix it soon.
Thank you for the awesome lib.

[2022-08-05 06:59] Ricardoi1 commented on #157
Thank you so much, I was suffering the same issue

[2022-08-07 20:15] turgayh commented on #255
Is there any solution . I got same error when i tried at android emulator .

API : 30
Android API 11.0
Device : Pixel 4 XL
@dlutton @Rob-wang

[2022-08-09 17:29] SamuelBrucksch commented on #334
This is a problem with Apples TTS engine. Other apps that use Apple TTS also experience this issue. So unrelated to flutter_tts.

[2022-08-09 20:25] #334 closed

[2022-08-09 20:42] fsievers commented on #334
Thank you for your answer. Today I found post at https://communities.apple.com/de/thread/254066932 about the problem. I also wrote a product feedback to Apple.

[2022-08-10 08:11] zst1994 opened #339 "win7系统提示无法定位程序输入点mfplat.dll"
![image](https://user-images.githubusercontent.com/31177280/183850111-62e4ac92-21d5-40af-a1e8-aa07ac42c804.png)

[2022-08-10 09:30] vagoston commented on #337
@shirne could you link in that other project? I still don't think that the codebase should be responsible for setting up the environment, but I would like to take a look. If this is a common practice, I don't mind to follow that.
I would like to point out that this is a template code, generated by Flutter.

[2022-08-10 10:22] shirne commented on #337
https://github.com/Baseflow/flutter-permission-handler/blob/master/permission_handler_windows/windows/CMakeLists.txt#L11

[2022-08-10 18:37] dlutton commented on #339
Reference #324

[2022-08-10 18:37] #339 closed

[2022-08-11 09:41] KarinBerg commented on #334
The interesting thing is that I do not have the problem if I use this text-to-speech Flutter plugin https://github.com/ixsans/text_to_speech.
Unfortunately this plugin does not support the "audio session category" settings which I need.

I tested it on the same device and with the same app. Just commenting out the different plugin code.
I think it's true that something on Apple's side did change b

[2022-08-11 14:31] SamuelBrucksch commented on #334
Seems to be related to German language only and specific characters/words, like numbers, semicolons and abreviations like MMO for example.

[2022-08-12 14:34] georgi0u commented on #295
**Potential workaround:**

I've found I only get this issue when trying to set the `IosTextToSpeechAudioCategoryOptions.allowBluetooth` and/or `IosTextToSpeechAudioCategoryOptions.allowBluetoothA2DP` categories, both of which are alluded to in the README's examples.

Removing the bluetooth categories from my call to `setCategories` allows for the remaining categories to be set — e.g., the mixing a

[2022-08-20 11:14] sumersm7 commented on #337
how i solved this error
STEP 1 :- i downloaded the [NUGET ](https://www.nuget.org/downloads)
STEP 2 :- add file path to env variable in windows
STEP 3 :- install C++ ATL for latest v142 build tools (image included)
![image](https://user-images.githubusercontent.com/82924076/185743324-bfde428e-a091-4d67-8c04-fb49f9fd133b.png)

STEP 4 :- flutter clean , flutter pub get

STEP 6 :- close and open new

[2022-08-20 22:47] #337 closed

[2022-08-26 10:57] rohitsangwan01 commented on #283
@otopba  @dlutton i was also into the similar situation , so created a package for this
https://pub.dev/packages/web_view_tts
hope this will be helpful for someone

[2022-08-26 11:00] otopba commented on #283
Cool! Thanks

[2022-08-27 08:20] zsmiklos commented on #326
Sorry it does not work. I'am using flutter_tts: ^3.5.1, but listeners do not working on Windows.  (setStartHandler, setCompletionHandler, etc, none of them, and nor awaitSpeakCompletion). What can be the reason of the problem?

[2022-08-29 09:40] vagoston commented on #326
@zsmiklos This is still not implemented. Don't you want to give it a try and implement it based on my previous suggestions?
awaitSpeakCompletion should work though. Can you give me an example how it's not working as expected? Best would be to open another ticket, since that's a different topic, not the one that is indicated in the subject here.

[2022-08-30 09:15] zsmiklos commented on #326
In the version 3.5.1 in the windows\flutter\ephemeral\.plugin_symlinks\flutter_tts\windows\flutter_tts_plugin.cpp
at line 326, there is what you adviced:

`		    RegisterWaitForSingleObject(&addWaitHandle, speakCompletionHandle, (WAITORTIMERCALLBACK)&setResult, speakResult.get(), INFINITE, WT_EXECUTEONLYONCE);
`

and at line 78:

`			mPlayer.MediaEnded([=](Windows::Media::Playback::MediaPlayer con

[2022-08-30 10:04] vagoston commented on #326
@zsmiklos setStartHandler is not implemented. The code I linked in is a suggestion for a starting point, that is a way to set up a callback, you could use that to implement setStartHandler. I agree that this is really useful, so if I had time for this library, probably I would do this. But I don't have.
For awaitSpeakCompletion, I asked you to open another ticket, it would be useful for others fac

[2022-09-01 18:13] FetFrumos commented on #299
Hi @dlutton, is this method added in plugin(for android)?

[2022-09-05 16:24] TheCarpetMerchant commented on #3
Is this still planned ?

[2022-09-06 02:51] dlutton commented on #299
sorry for the delay @FetFrumos, but I have just added the feature.  I could only find this feature on Android though so it's not supported on iOS right now.  This has been added to 3.5.3.

[2022-09-06 02:51] #299 closed

[2022-09-08 17:06] jarodtang opened #340 "flutter tts (3.5.3) example dont work on mac m1 android emulator"
## 🐛 Bug Report

### Expected behavior
It works fine.

### Reproduction steps
build example on mac m1 emulator ( pixel 5 edited)

### Configuration

**Version:** 3.5.3

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android

[2022-09-13 19:46] officialFlutterDeveloper opened #342 "flutter_tts just stopped working on Xcode 14 iOS 16"
## 🐛 Bug Report

I have been developing an app for last 1 month  I would use flutterTts.getVoices to get list of voices but ever since I upgraded to Xcode 14 IOS 16 simulator the .getVoices or any flutterTts function does not return anything no errors are being caught either

flutter_tts: 3.5.3

**Platform:**
- [ ✔] :iphone: iOS
- [ ] :robot: Android

[2022-09-16 04:58] Jaeyun-kmov opened #343 "setSharedInstance method not working"
## 🐛 Bug Report

### Expected behavior
[code]
[code]
above method doesn't work

[code]
I solved the background playback and other sounds and mixes by adding an audio session directly to ios native.

### Configuration

**Version:** 3.5.3

**Platform:**
- [x] :iphone:  iOS ( iOS 16 )
- [ ] :robot: Android

[2022-09-16 04:59] #343 closed

[2022-09-16 05:02] hola726 opened #344 "Background play and sound mix not working ( setSharedInstance() not working )"
## 🐛 Bug Report

### Expected behavior
[code]
[code]
above method doesn't work

[code]
I solved the background playback and other sounds and mixes by adding an audio session directly to ios native.

### Configuration

**Version:** 3.5.3

**Platform:**
- [x] :iphone:  iOS ( iOS 16 )
- [ ] :robot: Android

[2022-09-24 11:40] mateoKutnjak commented on #329
Do a project search for `flutter_tts_web` and remove import it if you don't need it.

[2022-09-24 20:47] #329 closed

[2022-09-30 06:49] ltsolutionviet commented on #158
@dlutton  It working for case speaker, but not work when connect bluetooth device

[2022-10-01 09:25] vagoston commented on #327
@shirsho-12 Which plugins are missing? Could you copy the error messages?

[2022-10-01 09:28] vagoston commented on #326
I'll start working on this now.

[2022-10-02 20:34] alixumer opened #346 "Not working on IOS 16 (Simulators)"

[2022-10-02 21:54] dlutton commented on #346
@alixumer what exactly doesn't work on IOS 16?  I tested on my physical device on IOS 16 and it is working.

[2022-10-03 11:59] therealjohnsummer commented on #346
@dlutton Its the SIMULATORS that dont work ... i.e iOS 16.x simulators ... It works fine on iOS 13.x simulators as these ship with a default set of Language files.

The issue is that there are no speech files found by default when you install the Simulator .. and thus there is no default (say) en_GB profile. You need to manually download the speech file onto the simulator and then there will be no

[2022-10-03 20:38] dlutton commented on #346
@therealjohnsummer okay thank you, I edited the title to better reflect the exact issue.

[2022-10-06 12:40] Jounnoo opened #347 "setPitch doesn't work"
Hi,

I'm working on an Android app and I need to change the pitch voice. But setPitch does not work on galaxy S9+ (Android 10) and S21+ (Android 21).
I have no problem with the volume, the speed, ... Only with the pitch voice.

Thanks,
Clement

[2022-10-08 15:01] chimura opened #348 "Version 3.5.3 getEngines won't return complete list of available engines"
## 🐛 Bug Report

When using version 3.5.3, calling getEngines won't return all the available engines installed on device.

### Expected behavior

FlutterTts getEngines method on version 3.5.1 returns all the available engines installed on my device:

`[com.samsung.SMT, com.google.android.tts, com.acapelagroup.android.tts, com.cereproc.Gabriel, com.github.olga_yakovleva.rhvoice.android, com.redzoc.

[2022-10-12 18:42] fleoparra commented on #346
Yes, I try to test on iOS 16.0 (Simulator) and
```List<dynamic>? languages = await flutterTts.getLanguages; ```
returns null.

[2022-10-13 06:07] Ricardoi1 commented on #112
Same issue on EMUI10(huawei) devices!

[2022-10-13 07:05] Ricardoi1 commented on #112
![image](https://user-images.githubusercontent.com/32511020/195525526-21d0db2f-7097-4325-8bf8-1722ba6d90e1.png)
I found the reason, only sdk version below 26 can get progressHandler working

[2022-10-20 13:17] luckyhandler commented on #347
The same happens on a OnePlus5. So I guess it might not be a device specific problem

[code]

has no effect

[2022-10-24 11:14] Yue-plus opened #349 "There was a problem compiling the Windows application"
## 💬 Questions and Help

Provide question related to this flutter plugin.

Run `flutter build windows`:

[code]

Run `flutter doctor`:

[code]

[2022-10-24 11:17] Yue-plus commented on #349
`pubspec.yaml`:

[code]

[2022-10-24 11:49] Yue-plus commented on #349
A new problem was encountered after installing [NuGet](https://www.nuget.org/downloads):
在安装 [NuGet](https://www.nuget.org/downloads) 后遇到了新的问题：

[code]

[2022-10-24 11:58] Yue-plus commented on #349
It can be built after deleting the `build/` directory.
删除 `build/` 目录后可以构建了。

Sorry for disturbing you.
抱歉打扰了。

[2022-10-24 11:58] #349 closed

[2022-10-25 13:04] Yue-plus commented on #274
![image](https://user-images.githubusercontent.com/33195150/197777862-31664088-b08b-4ee7-a33f-ff09221bf875.png)

I also met the problem in android platform!
我也在安卓平台遇到了这个问题！

There was no sound in the virtual device or in the physical device test
在虚拟机和物理设备测试都没有声音。

- Virtual device: BlueStacks App Player
- Android: 7.1.1
- API: 25
- flutter_tts: ^3.5.3

- Physical device: Xiaomi 12 (Xiaomi 2201123C

[2022-10-25 13:10] Yue-plus commented on #274
Run `flutter build apk`:

[code]

[2022-10-27 16:10] 838 opened #350 "[A11y]: Accessibility focus change triggers speak completion"
## 🐛 Bug Report

I'm not exactly sure this issue is related to the plugin or Flutter.
When I have TalkBack enabled on the device and while TTS is playing a text, as soonest I swipe right or left the plugin triggers completion on the speaking text.

So far as I text I could only reproduce this issue on real device OnePlus phone. Work fine on a Samsung.

### Expected behavior
The plugin should keeps

[2022-10-30 19:26] acapper commented on #265
I was able to replicate this using this text.

Version
flutter_tts: ^3.5.3

[code]

Usually starts around "Richard McClintock".
I am also using a real device and not an emluator.

[2022-10-30 20:38] acapper opened #351 "Make max length of tts text available"
The Android TTS class being used had `getMaxSpeechInputLength()` which would be useful have available to users plus error checks when providing speech longer than the max alowed length.

https://developer.android.com/reference/android/speech/tts/TextToSpeech#getMaxSpeechInputLength()

[2022-10-30 23:17] #351 closed

[2022-10-31 18:30] dlutton commented on #265
thanks @acapper I'll take a look into this issue.

[2022-10-31 21:25] acapper commented on #265
Great. I did a bit of digging myself but there's not a lot to go on. Breaking that text into smaller sections seems to work which to me suggests it's not the text. Also the max length is 4000 and that text is only about a 1000.

I also added some logging locally and noticed that the events in the kotlin file all seem to happen at once before the method that it invokes seems to create an events.

I

[2022-11-03 04:40] Amankhan-mobipixels commented on #312
I have also this issue of creating empty file with zero size . have you solved it?

[2022-11-03 18:34] dlutton commented on #312
@Amankhan-mobipixels is this occurring on iOS or Android or both?  Also, what's the filename and extension you're giving it?

[2022-11-04 09:48] AyeshaIftikhar commented on #312
It just don't work no matter what approach do you do. So I just switch to Azure Tts

[2022-11-05 10:45] vandir commented on #253
Same problem here? Are there news about this issue?

I looked at the source code of `setEngine`:
[code]

Shouldn't it be like the code below?

[code]

This is what you do in other methods like `getLanguages`:
[code]

[2022-11-05 21:46] dlutton commented on #253
@vandir that looks like that could be an issue.  I'll get this fixed.  Thank you!

[2022-11-06 00:29] dlutton commented on #253
fix has been merged in

[2022-11-06 06:28] dlutton commented on #348
@chimura can you confirm if this is still an issue with the latest version?  The only difference in the android code is a conversion to Kotlin.

[2022-11-06 06:30] dlutton commented on #346
closing this as it's unrelated to this package.

@fleoparra for IOS 16 simulators, go settings -> Spoken content -> Voices -> Select any language and download.

[2022-11-06 06:30] #346 closed

[2022-11-06 06:31] dlutton commented on #342
@officialFlutterDeveloper You need to download languages for it to work inside of simulators. For IOS 16 simulator, go settings -> Spoken content -> Voices -> Select any language and download.

[2022-11-06 06:31] #342 closed

[2022-11-06 06:33] dlutton commented on #331
@chimura can you test with the latest version?  thank you

[2022-11-06 06:38] dlutton commented on #316
@bugrevealingbme please try with the latest version.  thank you

[2022-11-06 06:39] #326 closed

[2022-11-06 11:45] vandir commented on #253
Sorry @dlutton. The new version didn't fixed the issue. Maybe the problem is here:

[code]
In the code above the function returns right after initializing `TexToSpeech` without waiting the callback `onInitListener`. I think the function should return only after the callback is called. I paste below the definition of `TextToSpeech.OnInitListener` interface

`Interface definition of a callback to be

[2022-11-06 18:29] dlutton commented on #253
@vandir I was also receiving that `getVoices failed: TTS engine connection not fully set up`  message prior to the latest change and now I'm not.  I'll see if I can recreate it another way.

[2022-11-06 19:13] dlutton commented on #253
@vandir I just realized that some engines may take longer to initialize than others depending on the device and engine, which is maybe why I'm not able to recreate it.

I published a change to a branch that should hopefully fix it.

When you get a chance, can you test out the branch?
You should be able to add it to your pubspec.yaml like this:
[code]

If that works I'll publish the fix.

[2022-11-06 19:45] vandir commented on #253
Many thanks for the quick fix!

I confirm the message "TTS engine connection not fully set up" is gone and I can even see the following messages:

[code]

but the app still crash when doing setEngine and setLanguage twice. Below you can find the stack trace:

[code]

Basically I have a settings screen with a button that the user could press when needs to test the TTS settings that he has changed.

[2022-11-07 02:24] dlutton commented on #253
@vandir okay great thanks for testing and the provided logs, I'll take a look into this issue.

[2022-11-07 04:56] Amankhan-mobipixels commented on #312
Its work fine now with tts after some changes in code thank you all of you for your reply and help

[2022-11-07 18:14] #312 closed

[2022-11-08 04:29] dlutton commented on #347
@luckyhandler can you confirm if this still an issue with the latest version?

[2022-11-08 17:20] julianryorex commented on #321
Hi, I am also getting a very similar issue, but it's in CI. It runs well locally. I'm wondering what additional assets I'll need to download to the image for it to work properly. I originally thought it was a `nuget.exe` [issue](https://stackoverflow.com/questions/71734042/flutter-windows-build-nuget-is-not-installed) (I ran into this problem locally), but it seems like this is already installed i

[2022-11-11 04:27] dlutton commented on #253
@vandir the fix for this is a bit complicated since we're suspending the calls while TTS is being initialized.  If that takes time, it can add a few calls which eventually runs and returns a reply after another has already fired thus displaying the error message you see.  As a work around until I can solve for that, I added a call back for when TTS is initialized to the same branch you're testing

[2022-11-11 12:34] Jounnoo commented on #347
Hi @dlutton,

I tested this morning with the latest version (3.6.0) and I confirm that the problem is still present

[2022-11-12 03:33] dlutton commented on #347
@Jounnoo I updated my android phone and setPitch is no longer working.  This issue has been mentioned outside of this package, so this appears to be an issue with the Android API and certain Android versions.

[2022-11-12 11:41] Jounnoo commented on #347
Ok thank you for your feedback

[2022-11-12 15:02] vandir commented on #253
I'm now using the code below:

[code]

but the problem persists. The first time it just works without errors, the second time I press the button (even after seconds) it crashes. If you want I can create a minimal example. I'm using the emulator "sdk gphone64 x86 64 (mobile) • android-x64    • Android 13 (API 33)".

[2022-11-12 20:41] dlutton commented on #253
@vandir great and thanks for testing, I'll commit the code to master and publish a new release.

[2022-11-12 21:23] #347 closed

[2022-11-13 11:03] vandir commented on #253
I saw your package update (3.6.1) and I can confirm it works but I have a tip for a cleaner solution.

If you want to trasparently handle this issue, maybe you can use a `Completer` object in `setEngine` function, something like code below:

[code]
Then you can optionally hide again the new API and make `setInitHandler` private.

In this way, the users can safely call any other methods after `awai

[2022-11-13 18:58] dlutton commented on #253
@vandir that's a great solution, I'll implement this next.  I agree that the `await` doesn't make a difference here because technically calling setEngine on the Android side is completed, however the `TextToSpeech.OnInitListener` callback isn't.

[2022-11-13 20:27] dlutton commented on #253
@vandir when you get a moment, can you test out the branch android-init-fix, I'll publish the fix once confirmed.  Thanks again for helping test as I'm unable to recreate with the Pixel 5 device I have.  I kept the setInitHandler public so that it can be used when FlutterTts is instantiated since that is also instantiating Android's TextToSpeech which includes the Google TTS Engine by default whic

[2022-11-13 20:48] vandir commented on #253
I've just tested the new branch and I can confirm it works! Thanks again for your efforts!

[2022-11-16 09:12] pikachupichu25 opened #352 "No audio playing on macOS - AudioContext configuration is not available on macOS"
## 💬 Questions and Help

I wrote a function that play audio of an input text.
[code]

Other information
[code]

I tested on other platforms (iOS and web) and it works just fine.
There is no audio played in macOS debug mode and it has a warning message in debug console:
"AudioContext configuration is not available on macOS"
How can I solve this issue for macOS?

[2022-11-18 08:36] gfhjjk opened #353 "Can this plug-in be used offline on ios？"
Can this plug-in be used offline on ios？

[2022-11-18 10:30] joyjiyuan commented on #348
Same issue with me. Confirm in OPPO and HUAWEI phones.
OPPO has two engines but gets nothing.
HUAWEI has four engines but gets only one.

[2022-11-18 15:48] serraojoao opened #354 "is it possible to get speech duration?"
## 💬 Questions and Help

Is it possible to get the speech duration for a given text?

[2022-11-18 17:49] dlutton commented on #354
@serraojoao not that I'm aware of.  For the Android piece, it's using the build in android TTS API - https://developer.android.com/reference/android/speech/tts/TextToSpeech and I don't see an option to get the duration.  I also don't see anything for iOS Speech Synthesis.  There is a progressHandler to get the progress as it's playing, but nothing in advance.

[2022-11-18 17:49] #354 closed

[2022-11-18 17:55] dlutton commented on #348
@joyjiyuan @chimura are you waiting for TTS to be initialized before you call the getEngines method? I added an initHandler for Android so you could do something like this:
[code]
of course you'll want to save it to a value so you can print them out for testing.

[2022-11-18 18:01] dlutton commented on #353
@gfhjjk as far as I know it works offline on iOS.  This package is using the built in iOS Speech Synthesis API - https://developer.apple.com/documentation/avfoundation/speech_synthesis, so this package itself is not making any network calls.

[2022-11-18 18:01] #353 closed

[2022-11-19 10:07] joyjiyuan commented on #348
Yes. I had used  the call back, but the results are same.

[2022-11-22 15:19] khjde1207 opened #355 "Please consider removing this part. "splitablePunctuations""
## 🐛 Bug Report

Please consider removing this part.

https://github.com/dlutton/flutter_tts/blob/c0d6d9609929adfbbd2522bb7eb6a7ad6476df46/android/src/main/kotlin/com/tundralabs/fluttertts/FlutterTtsPlugin.kt#L569-L581

"3.14%"
Please listen to tts.
It reads three , fourteen percent.

### Configuration

I don't think you should edit the text.

Japan and China use "。" as a period.

Depending on the

[2022-11-22 20:29] bbence84 opened #356 "setProgressHandler end offset seems to be wrong"
## 🐛 Bug Report

It seems that setProgressHandler is broken. :( I would use the start and end variables for text highlighting, but the function returns strange values. See the following debug info:

I/flutter ( 6684): startOff:0, endOff:0, word:Excuse, textLen:36, text:Excuse me, can you tell me the time?,
I/flutter ( 6684): startOff:7, endOff:14, word:me, textLen:36, text:Excuse me, can you tell

[2022-11-22 21:39] dlutton commented on #356
@bbence84 I'll take a look

[2022-11-22 21:46] dlutton commented on #355
@khjde1207 great catch, I'll see if there is a work around to keep this functionality in there for "pause" to work inside of Android.  Otherwise I may need to put a config around it to allow pause in Android knowing this could be an issue.  I'm not a fan of these work arounds since "pause" isn't a native method inside of the Android TTS API, but people want it.

[2022-11-23 04:21] khjde1207 commented on #355
I've implemented a function to pause in dart.
[code]
I worked based on the reading position as above.

[2022-11-23 09:33] Dawid-Dlugosz opened #357 "[AXTTSCommon] Invalid rule on IOS 16"
On android devices all working good, but on iPhone 8 IOS 16 i get this message
`[AXTTSCommon] Invalid rule:
[AXTTSCommon] File file:///var/MobileAsset/AssetsV2/com_apple_MobileAsset_Trial_Siri_SiriTextToSpeech/purpose_auto/763c859a817bf66a99314ef00b97f263806afcf2.asset/AssetData/vocalizer-user-dict.dat contained data that was not null terminated
[AXTTSCommon] Invalid rule:`

This is my code
[code]

[2022-11-24 01:03] joyjiyuan opened #358 "Is it working on Android 12?"
v3.6.1
It was working fine on Android 11.
But on Android 12, the initHandler is not working.

v3.6.2
on Android 12, the initHandler is working, but other functions like getDefaultEngine, getEngines are not.

[2022-11-25 18:43] vandir commented on #253
Sorry for opening this again, but I've found a bug with the code below:

[code]

I've locally cloned the project and I've found the root cause. In the next days I will make a pull request about that.

Please also consider that `initHandler` is modified everytime `setEngine` is called, overwriting what the user has been set before. This is the reason why I made setInitHandler private in the example

[2022-11-25 20:07] chimura commented on #331
Yes, it worked fine with this latest version. Thank you!

[2022-11-25 20:07] #331 closed

[2022-11-25 21:31] dlutton commented on #253
@vandir sounds good, look forward to seeing the pull request.

[2022-11-25 21:49] dlutton commented on #358
@joyjiyuan depending on how you're using it, the initHandler won't be called when calling setEngine with 3.6.2 since it's done for you.  The initHandler should be called when first initializing the TTS engine (basically when you instantiate FlutterTts).

[2022-11-25 22:14] dlutton commented on #352
@pikachupichu25 I do not receive the "AudioContext" error in my debug console.  I only receive a `Based on dependency analysis` warning which appears to be related to swift linting.

[code]

[2022-11-26 03:18] tobzilla90 commented on #357
Hi,
I also experienced the error reported by @PeakyCode.
The TTS package is still working and the error only shows for me once or twice after I changed the default voice for the language in my iPhone settings (Settings -> Accessibility->Voices->[Japanese]) to a different one (ex. Kyoko (Japanese) to Otoya (Japanese)) .
The word/sentence still got spoken but on first execution the error shows up in

[2022-11-27 15:54] yousseftaha2001 opened #359 "Arabic on Android"
how to enable Arabic language on android ?

[2022-11-28 01:27] dlutton commented on #359
@yousseftaha2001 I know it wasn't supported in past API versions, however it may be supported now with the language tag "ar".  This package uses the google text to speech engine on Android by default, so it's dependent upon that.

[2022-11-29 19:57] #359 closed